---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Frost/Nixon%20(film)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"12130331":{"pageid":12130331,"ns":0,"title":"Frost/Nixon
        (film)","links":[{"ns":0,"title":"15th Screen Actors Guild Awards"},{"ns":0,"title":"1952
        Republican National Convention"},{"ns":0,"title":"1956 Republican National
        Convention"},{"ns":0,"title":"1960 Republican National Convention"},{"ns":0,"title":"1968
        Republican National Convention"},{"ns":0,"title":"1972 Nixon visit to China"},{"ns":0,"title":"1972
        Republican National Convention"},{"ns":0,"title":"24: Live Another Day"},{"ns":0,"title":"24:
        Redemption"},{"ns":0,"title[...]
