---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=2004%20in%20film
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"294634|0|Club_Dread"}},"query":{"pages":{"294634":{"pageid":294634,"ns":0,"title":"2004
        in film","links":[{"ns":0,"title":"\"Crocodile\" Dundee"},{"ns":0,"title":"10
        (film)"},{"ns":0,"title":"10th Critics'' Choice Awards"},{"ns":0,"title":"11th
        Screen Actors Guild Awards"},{"ns":0,"title":"13 Going on 30"},{"ns":0,"title":"1870s
        in film"},{"ns":0,"title":"1880s in film"},{"ns":0,"title":"1885 in film"},{"ns":0,"title":"1886
        in film"},{"ns":0,"title":"1887 in film"},{"ns":0,"title":"1888 in film"},{"ns":0,"title":"1889
        in film"},[...]
