---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=8%20(play)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"34961475":{"pageid":34961475,"ns":0,"title":"8
        (play)","links":[{"ns":0,"title":"8: The Mormon Proposition"},{"ns":0,"title":"Actor"},{"ns":0,"title":"American
        Dream"},{"ns":0,"title":"American Foundation for Equal Rights"},{"ns":0,"title":"Anthony
        Edwards"},{"ns":0,"title":"Anti-gay discrimination"},{"ns":0,"title":"Associated
        Press"},{"ns":0,"title":"Australia"},{"ns":0,"title":"Bob Balaban"},{"ns":0,"title":"Brad
        Pitt"},{"ns":0,"title":"Bradley Whitford"},{"ns":0,"title":"Bush v. Gore"},{"ns":0,"title":"California"},{"ns":[...]
