---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=A%20Few%20Good%20Men
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"20691749":{"pageid":20691749,"ns":0,"title":"A
        Few Good Men","links":[{"ns":0,"title":"1st Lieutenant"},{"ns":0,"title":"65th
        Academy Awards"},{"ns":0,"title":"AFI''s 100 Years...100 Heroes & Villains"},{"ns":0,"title":"AFI''s
        100 Years...100 Movie Quotes"},{"ns":0,"title":"AFI''s 10 Top 10"},{"ns":0,"title":"AFI
        100 Years... series"},{"ns":0,"title":"A Few Good Men (The Vampire Diaries)"},{"ns":0,"title":"A
        Few Good Men (play)"},{"ns":0,"title":"Aaron Sorkin"},{"ns":0,"title":"Academy
        Award for Best Film Editing"},{"ns":0,[...]
