---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=A%20Few%20Good%20Men%20(film)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"29129674":{"pageid":29129674,"ns":0,"title":"A
        Few Good Men (film)","links":[{"ns":0,"title":"A Few Good Men"}]}}}}'
  recorded_at: Thu, 12 Jun 2014 19:37:40 GMT
recorded_with: VCR 2.9.2
