---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Academy%20Award
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"41772142":{"pageid":41772142,"ns":0,"title":"Academy
        Award","links":[{"ns":0,"title":"Academy Awards"}]}}}}'
  recorded_at: Thu, 12 Jun 2014 19:37:40 GMT
recorded_with: VCR 2.9.2
