---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Access%20Hollywood
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"905485":{"pageid":905485,"ns":0,"title":"Access
        Hollywood","links":[{"ns":0,"title":"1080i"},{"ns":0,"title":"2003 in television"},{"ns":0,"title":"2005
        in television"},{"ns":0,"title":"2006 in television"},{"ns":0,"title":"20th
        Television"},{"ns":0,"title":"3e"},{"ns":0,"title":"480i"},{"ns":0,"title":"AMC
        (TV channel)"},{"ns":0,"title":"Access Hollywood"},{"ns":0,"title":"American
        Broadcasting Company"},{"ns":0,"title":"Arthur (TV series)"},{"ns":0,"title":"Bell
        Media"},{"ns":0,"title":"Bethenny (TV series)"},{"ns":0,"t[...]
