---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Al%20Pacino
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"41906":{"pageid":41906,"ns":0,"title":"Al Pacino","links":[{"ns":0,"title":"...And
        Justice for All (film)"},{"ns":0,"title":"1996 Cannes Film Festival"},{"ns":0,"title":"45th
        Academy Awards"},{"ns":0,"title":"60 Minutes"},{"ns":0,"title":"65th Academy
        Awards"},{"ns":0,"title":"68th Venice International Film Festival"},{"ns":0,"title":"88
        Minutes"},{"ns":0,"title":"A&P"},{"ns":0,"title":"AFI Life Achievement Award"},{"ns":0,"title":"Academy
        Award"},{"ns":0,"title":"Academy Award for Best Actor"},{"ns":0,"title":"A[...]
