---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Alan%20Rickman
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"39879":{"pageid":39879,"ns":0,"title":"Alan Rickman","links":[{"ns":0,"title":"2011
        Scream Awards"},{"ns":0,"title":"38th Saturn Awards"},{"ns":0,"title":"AFI''s
        100 Years...100 Heroes and Villains"},{"ns":0,"title":"A Little Chaos"},{"ns":0,"title":"A
        Promise (2013 film)"},{"ns":0,"title":"A View from the Bridge"},{"ns":0,"title":"Abbey
        Theatre"},{"ns":0,"title":"Academy Award"},{"ns":0,"title":"Academy Award
        for Best Supporting Actor"},{"ns":0,"title":"Acton, London"},{"ns":0,"title":"Actor"},{"ns":0,"title":"Adam[...]
