---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Albert%20Finney
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"43910|0|Screen_Actors''_Guild"}},"query":{"pages":{"43910":{"pageid":43910,"ns":0,"title":"Albert
        Finney","links":[{"ns":0,"title":"''Art''"},{"ns":0,"title":"34th Berlin International
        Film Festival"},{"ns":0,"title":"A Day in the Death of Joe Egg"},{"ns":0,"title":"A
        Flea in Her Ear"},{"ns":0,"title":"A Good Year"},{"ns":0,"title":"A Man of
        No Importance (film)"},{"ns":0,"title":"A Rather English Marriage"},{"ns":0,"title":"Academy
        Award"},{"ns":0,"title":"Academy Award for Best Actor"},{"ns":0,"title":"Academy
        Award for Best Supportin[...]
