---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Allison%20Janney
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"455047|0|Paul_Giamatti"}},"query":{"pages":{"455047":{"pageid":455047,"ns":0,"title":"Allison
        Janney","links":[{"ns":0,"title":"...First Do No Harm"},{"ns":0,"title":"10
        Things I Hate About You"},{"ns":0,"title":"10 Things I Hate About You (film)"},{"ns":0,"title":"2009
        Ovation Awards"},{"ns":0,"title":"2011 Toronto International Film Festival"},{"ns":0,"title":"40th
        People''s Choice Awards"},{"ns":0,"title":"4th Critics'' Choice Television
        Awards"},{"ns":0,"title":"63rd Tony Awards"},{"ns":0,"title":"9 to 5 (film)"},{"ns":0,"title":"9
   [...]
