---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=AllMovie
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"31710756":{"pageid":31710756,"ns":0,"title":"AllMovie","links":[{"ns":0,"title":"AMG
        LASSO"},{"ns":0,"title":"AllGame"},{"ns":0,"title":"AllMusic"},{"ns":0,"title":"AllMusic.com"},{"ns":0,"title":"All
        Media Network"},{"ns":0,"title":"Ann Arbor, Michigan"},{"ns":0,"title":"Film"},{"ns":0,"title":"International
        Standard Book Number"},{"ns":0,"title":"Michael Erlewine"},{"ns":0,"title":"Rovi
        Corporation"},{"ns":0,"title":"San Francisco"},{"ns":0,"title":"SideReel"},{"ns":0,"title":"Television
        program"},{"ns":0,"title":"Uniform resource locator"}]}}}}'
  recorded_at: Thu, 12 Jun 2014 19:37:42 GMT
recorded_with: VCR 2.9.2
