---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=American%20Beauty%20(1999%20film)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"44122|0|United_93_(film)"}},"query":{"pages":{"44122":{"pageid":44122,"ns":0,"title":"American
        Beauty (1999 film)","links":[{"ns":0,"title":"12 Years a Slave (film)"},{"ns":0,"title":"1999
        in film"},{"ns":0,"title":"35 mm film"},{"ns":0,"title":"53rd British Academy
        Film Awards"},{"ns":0,"title":"57th Golden Globe Awards"},{"ns":0,"title":"72nd
        Academy Awards"},{"ns":0,"title":"A-list"},{"ns":0,"title":"AFI''s 100 Years...100
        Movies (10th Anniversary Edition)"},{"ns":0,"title":"A Beautiful Mind (film)"},{"ns":0,"title":"A
        Man for A[...]
