---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=American%20Foundation%20for%20Equal%20Rights
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"23484527":{"pageid":23484527,"ns":0,"title":"American
        Foundation for Equal Rights","links":[{"ns":0,"title":"8 (play)"},{"ns":0,"title":"8
        (the play)"},{"ns":0,"title":"Adelphopoiesis"},{"ns":0,"title":"Akava''ine"},{"ns":0,"title":"Al
        Gore"},{"ns":0,"title":"Androgyny"},{"ns":0,"title":"Anthony Kennedy"},{"ns":0,"title":"Anti-LGBT
        slogans"},{"ns":0,"title":"Antonin Scalia"},{"ns":0,"title":"Arnold Schwarzenegger"},{"ns":0,"title":"Asexuality"},{"ns":0,"title":"Associate
        Justice of the Supreme Court of the United States"},{"ns":0,"title":"Attorney
     [...]
