---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Amy%20Irving
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"659294":{"pageid":659294,"ns":0,"title":"Amy Irving","links":[{"ns":0,"title":"48th
        Tony Awards"},{"ns":0,"title":"A Little Night Music"},{"ns":0,"title":"A Safe
        Harbor for Elizabeth Bishop"},{"ns":0,"title":"A Show of Force"},{"ns":0,"title":"Abe
        Burrows"},{"ns":0,"title":"Academy Award"},{"ns":0,"title":"Academy Award
        for Best Supporting Actress"},{"ns":0,"title":"Academy Awards"},{"ns":0,"title":"Adam
        (2009 film)"},{"ns":0,"title":"Albert Finney"},{"ns":0,"title":"Alias (TV
        series)"},{"ns":0,"title":"Alli[...]
