---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Animal%20House
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"75261":{"pageid":75261,"ns":0,"title":"Animal House","links":[{"ns":0,"title":"1080p"},{"ns":0,"title":"2002
        in film"},{"ns":0,"title":"AFI''s 100 Years...100 Laughs"},{"ns":0,"title":"AFI''s
        100 Years...100 Movie Quotes"},{"ns":0,"title":"AFI''s 100 Years...100 Movies"},{"ns":0,"title":"AFI''s
        100 Years...100 Movies (10th Anniversary Edition)"},{"ns":0,"title":"AFI''s
        100 Years...100 Songs"},{"ns":0,"title":"AFI''s 100 Years... 100 Laughs"},{"ns":0,"title":"A
        Futile and Stupid Gesture"},{"ns":0,"title":"AllMovie"},[...]
