---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Annette%20Bening
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"438447":{"pageid":438447,"ns":0,"title":"Annette
        Bening","links":[{"ns":0,"title":"2005 Bangkok International Film Festival"},{"ns":0,"title":"2013
        Toronto International Film Festival"},{"ns":0,"title":"8th Irish Film and
        Television Awards"},{"ns":0,"title":"Academy Award for Best Actress"},{"ns":0,"title":"Academy
        Award for Best Picture"},{"ns":0,"title":"Academy Award for Best Supporting
        Actress"},{"ns":0,"title":"Agnes Moorehead"},{"ns":0,"title":"Akon"},{"ns":0,"title":"Albert
        Finney"},{"ns":0,"title":"AllMovie"},{"[...]
