---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Anthony%20Andrews
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"1898971":{"pageid":1898971,"ns":0,"title":"Anthony
        Andrews","links":[{"ns":0,"title":"A.D. (miniseries)"},{"ns":0,"title":"Abigail
        Breslin"},{"ns":0,"title":"Al Pacino"},{"ns":0,"title":"Alan Arkin"},{"ns":0,"title":"Alan
        Badel"},{"ns":0,"title":"Alan Bates"},{"ns":0,"title":"Alan Bennett"},{"ns":0,"title":"Alan
        Rickman"},{"ns":0,"title":"Albert Finney"},{"ns":0,"title":"Alec Guinness"},{"ns":0,"title":"Alice''s
        Adventures in Wonderland"},{"ns":0,"title":"Allan Warren"},{"ns":0,"title":"American
        Playhouse"},{"ns":0,"title"[...]
