---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Antony%20Sher
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"954167":{"pageid":954167,"ns":0,"title":"Antony
        Sher","links":[{"ns":0,"title":"Adolf Hitler"},{"ns":0,"title":"Alan Bleasdale"},{"ns":0,"title":"Albert
        Finney"},{"ns":0,"title":"Albery Theatre"},{"ns":0,"title":"Alex Jennings"},{"ns":0,"title":"Allison
        Janney"},{"ns":0,"title":"Almeida Theatre"},{"ns":0,"title":"American Beauty
        (1999 film)"},{"ns":0,"title":"Amy Irving"},{"ns":0,"title":"An Enemy of the
        People"},{"ns":0,"title":"Annette Bening"},{"ns":0,"title":"Apollo 13 (film)"},{"ns":0,"title":"Apollo
        Theatre"},{[...]
