---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Apollo%2013%20(film)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"142417":{"pageid":142417,"ns":0,"title":"Apollo
        13 (film)","links":[{"ns":0,"title":"24: Live Another Day"},{"ns":0,"title":"24:
        Redemption"},{"ns":0,"title":"24 (TV series)"},{"ns":0,"title":"68th Academy
        Awards"},{"ns":0,"title":"8 Mile (film)"},{"ns":0,"title":"AFI''s 100 Years...
        100 Cheers"},{"ns":0,"title":"AFI''s 100 Years... 100 Movie Quotes"},{"ns":0,"title":"AFI''s
        100 Years... 100 Thrills"},{"ns":0,"title":"A Beautiful Mind (film)"},{"ns":0,"title":"Academy
        Award"},{"ns":0,"title":"Academy Award for Best Art Di[...]
