---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Atom%20Egoyan
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"322696":{"pageid":322696,"ns":0,"title":"Atom Egoyan","links":[{"ns":0,"title":"17th
        Moscow International Film Festival"},{"ns":0,"title":"1994 Cannes Film Festival"},{"ns":0,"title":"1997
        Cannes Film Festival"},{"ns":0,"title":"1999 Cannes Film Festival"},{"ns":0,"title":"1st
        Yerevan Golden Apricot International Film Festival"},{"ns":0,"title":"2005
        Cannes Film Festival"},{"ns":0,"title":"2008 Cannes Film Festival"},{"ns":0,"title":"2014
        Cannes Film Festival"},{"ns":0,"title":"2nd Yerevan Golden Apricot Internationa[...]
