---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Authority%20control
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"1406260":{"pageid":1406260,"ns":0,"title":"Authority
        control","links":[{"ns":0,"title":"Bibliographic"},{"ns":0,"title":"Bibliographic
        control"},{"ns":0,"title":"Brian O''Nolan"},{"ns":0,"title":"Circa"},{"ns":0,"title":"Collocation"},{"ns":0,"title":"Controlled
        vocabulary"},{"ns":0,"title":"Dewey Decimal Classification"},{"ns":0,"title":"Diana,
        Princess of Wales"},{"ns":0,"title":"Encoded Archival Context"},{"ns":0,"title":"Floruit"},{"ns":0,"title":"German
        National Library"},{"ns":0,"title":"Integrated Authority File"},{"ns":0,"ti[...]
