---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Bacon%20number
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"4174":{"pageid":4174,"ns":0,"title":"Bacon number","links":[{"ns":0,"title":"Six
        Degrees of Kevin Bacon"},{"ns":14,"title":"Category:Redirects from merges"}]}}}}'
  recorded_at: Thu, 12 Jun 2014 19:37:47 GMT
recorded_with: VCR 2.9.2
