---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Barack%20Obama
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"534366|0|Frank_Comerford_Walker"}},"query":{"pages":{"534366":{"pageid":534366,"ns":0,"title":"Barack
        Obama","links":[{"ns":0,"title":"137th Street \u2013 City College (IRT Broadway
        \u2013 Seventh Avenue Line)"},{"ns":0,"title":"14th Dalai Lama"},{"ns":0,"title":"1832
        Democratic National Convention"},{"ns":0,"title":"1835 Democratic National
        Convention"},{"ns":0,"title":"1840 Democratic National Convention"},{"ns":0,"title":"1844
        Democratic National Convention"},{"ns":0,"title":"1848 Democratic National
        Convention"},{"ns":0,"title":"1852 De[...]
