---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Barry%20Levinson
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"318998":{"pageid":318998,"ns":0,"title":"Barry
        Levinson","links":[{"ns":0,"title":"...And Justice for All (film)"},{"ns":0,"title":"39th
        Berlin International Film Festival"},{"ns":0,"title":"48th Berlin International
        Film Festival"},{"ns":0,"title":"A. S. Byatt"},{"ns":0,"title":"Academy Award"},{"ns":0,"title":"Academy
        Award For Best Original Screenplay"},{"ns":0,"title":"Academy Award for Best
        Director"},{"ns":0,"title":"Academy Award for Directing"},{"ns":0,"title":"Academy
        Awards"},{"ns":0,"title":"Actor"},{"ns":0,"[...]
