---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Beauty%20Shop
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"1727946":{"pageid":1727946,"ns":0,"title":"Beauty
        Shop","links":[{"ns":0,"title":"Adele Givens"},{"ns":0,"title":"Africa"},{"ns":0,"title":"Alfre
        Woodard"},{"ns":0,"title":"Alicia Silverstone"},{"ns":0,"title":"AllMovie"},{"ns":0,"title":"Allmovie"},{"ns":0,"title":"Andie
        MacDowell"},{"ns":0,"title":"Atlanta, Georgia"},{"ns":0,"title":"Audrey Wells"},{"ns":0,"title":"Barbershop
        (film)"},{"ns":0,"title":"Barbershop 2: Back in Business"},{"ns":0,"title":"Beauty
        salon"},{"ns":0,"title":"Bille Woodruff"},{"ns":0,"title":"Birdman ([...]
