---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Beau%20Bridges
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"994409":{"pageid":994409,"ns":0,"title":"Beau Bridges","links":[{"ns":0,"title":"10.5:
        Apocalypse"},{"ns":0,"title":"10.5 (miniseries)"},{"ns":0,"title":"A Song
        Flung Up to Heaven"},{"ns":0,"title":"Adam''s Woman"},{"ns":0,"title":"Al
        Franken"},{"ns":0,"title":"Al Gore"},{"ns":0,"title":"Al Pacino"},{"ns":0,"title":"Alan
        Rickman"},{"ns":0,"title":"Albert Brooks"},{"ns":0,"title":"Albert Finney"},{"ns":0,"title":"Alfred
        Lunt"},{"ns":0,"title":"Alice in Wonderland (1985 film)"},{"ns":0,"title":"AllMovie"},{"ns":0,"title[...]
