---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=10&prop=links&titles=Beer
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"3363|0|Aguardiente"}},"query":{"pages":{"3363":{"pageid":3363,"ns":0,"title":"Beer","links":[{"ns":0,"title":"2-Methyl-2-butanol"},{"ns":0,"title":"4-hydroxyphenylacetic
        acid"},{"ns":0,"title":"8-prenylnaringenin"},{"ns":0,"title":"Abbey beer"},{"ns":0,"title":"Absinth
        Wormwood"},{"ns":0,"title":"Absinthe"},{"ns":0,"title":"Adalard of Corbie"},{"ns":0,"title":"Adjunct
        (beer)"},{"ns":0,"title":"Advocaat"},{"ns":0,"title":"Agave"}]}}}}'
  recorded_at: Sat, 07 Jun 2014 03:22:53 GMT
recorded_with: VCR 2.9.2
