---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Ben%20Affleck
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"159599|0|Simon_Callow"}},"query":{"pages":{"159599":{"pageid":159599,"ns":0,"title":"Ben
        Affleck","links":[{"ns":0,"title":"/Film"},{"ns":0,"title":"2004 Democratic
        National Convention"},{"ns":0,"title":"2008 World Series of Poker"},{"ns":0,"title":"ABC
        News"},{"ns":0,"title":"Aaron Sorkin"},{"ns":0,"title":"Academy Award"},{"ns":0,"title":"Academy
        Award for Best Original Screenplay"},{"ns":0,"title":"Academy Award for Best
        Picture"},{"ns":0,"title":"Academy Award for Writing Original Screenplay"},{"ns":0,"title":"Academy
        Awards"}[...]
