---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Ben%20Browder
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"203416":{"pageid":203416,"ns":0,"title":"Ben Browder","links":[{"ns":0,"title":"200
        (Stargate SG-1)"},{"ns":0,"title":"A Killer Within"},{"ns":0,"title":"A Kiss
        Before Dying (1991 film)"},{"ns":0,"title":"A Town Called Mercy"},{"ns":0,"title":"Alan
        Dean Foster"},{"ns":0,"title":"AllMovie"},{"ns":0,"title":"Anthony Simcoe"},{"ns":0,"title":"Arrow
        (TV series)"},{"ns":0,"title":"Audiobook"},{"ns":0,"title":"Authority control"},{"ns":0,"title":"Bad
        Kids Go to Hell"},{"ns":0,"title":"Bat Lash"},{"ns":0,"title":"Biblioth\u[...]
