---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Ben%20Kingsley
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"168480":{"pageid":168480,"ns":0,"title":"Ben Kingsley","links":[{"ns":0,"title":"2002
        New Year Honours"},{"ns":0,"title":"48th Berlin International Film Festival"},{"ns":0,"title":"A
        Common Man (film)"},{"ns":0,"title":"A Midsummer Night''s Dream"},{"ns":0,"title":"Academy
        Award"},{"ns":0,"title":"Academy Award for Best Actor"},{"ns":0,"title":"Academy
        Award for Best Supporting Actor"},{"ns":0,"title":"Academy Awards"},{"ns":0,"title":"Adrien
        Brody"},{"ns":0,"title":"Al Pacino"},{"ns":0,"title":"Alan Arkin"},{"ns":0,"[...]
