---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Benicio%20del%20Toro
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"292592|0|Sotigui_Kouyat\u00e9"}},"query":{"pages":{"292592":{"pageid":292592,"ns":0,"title":"Benicio
        del Toro","links":[{"ns":0,"title":"15th Screen Actors Guild Awards"},{"ns":0,"title":"2008
        Cannes Film Festival"},{"ns":0,"title":"21 Grams"},{"ns":0,"title":"7 Days
        in Havana"},{"ns":0,"title":"81st Academy Awards"},{"ns":0,"title":"ALMA Award"},{"ns":0,"title":"A
        Big Family"},{"ns":0,"title":"Abel Ferrara"},{"ns":0,"title":"Academia del
        Perpetuo Socorro"},{"ns":0,"title":"Academy Award"},{"ns":0,"title":"Academy
        Award for Best Supportin[...]
