---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Benjamin%20Bratt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"312892":{"pageid":312892,"ns":0,"title":"Benjamin
        Bratt","links":[{"ns":0,"title":"24: Live Another Day"},{"ns":0,"title":"A
        People''s History of the United States"},{"ns":0,"title":"Abandon (film)"},{"ns":0,"title":"Academy
        Award for Best Actress"},{"ns":0,"title":"Academy Awards"},{"ns":0,"title":"Adventure
        Time"},{"ns":0,"title":"Albert Finney"},{"ns":0,"title":"Alcatraz"},{"ns":0,"title":"AllMovie"},{"ns":0,"title":"Allison
        Janney"},{"ns":0,"title":"American Beauty (1999 film)"},{"ns":0,"title":"American
        Conservator[...]
