---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Bernard%20Madoff
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"20650188":{"pageid":20650188,"ns":0,"title":"Bernard
        Madoff","links":[{"ns":0,"title":"2000s energy crisis"},{"ns":0,"title":"2007\u201308
        world food price crisis"},{"ns":0,"title":"2008 Central Asia energy crisis"},{"ns":0,"title":"2008
        European Union stimulus plan"},{"ns":0,"title":"2008 Soci\u00e9t\u00e9 G\u00e9n\u00e9rale
        trading loss"},{"ns":0,"title":"2008 United Kingdom bank rescue package"},{"ns":0,"title":"2008\u201309
        Keynesian resurgence"},{"ns":0,"title":"2008\u201312 California budget crisis"},{"ns":0,"title":"2009
   [...]
