---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Biblioth%C3%A8que%20nationale%20de%20France
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"199503":{"pageid":199503,"ns":0,"title":"Biblioth\u00e8que
        nationale de France","links":[{"ns":0,"title":"Academic journal"},{"ns":0,"title":"Acad\u00e9mie
        de Marine"},{"ns":0,"title":"Agence Nationale de la Recherche"},{"ns":0,"title":"Agency
        for French Teaching Abroad"},{"ns":0,"title":"Arab World Institute"},{"ns":0,"title":"Aragon"},{"ns":0,"title":"Authority
        control"},{"ns":0,"title":"Benzyl fluoride"},{"ns":0,"title":"Biblioteca Nacional
        de Espa\u00f1a"},{"ns":0,"title":"Biblioth\u00e8que Fran\u00e7ois Mitterrand
        (Paris M\u00e9tro)"},{"[...]
