---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Bill%20Paxton
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"303960":{"pageid":303960,"ns":0,"title":"Bill Paxton","links":[{"ns":0,"title":"2
        Guns"},{"ns":0,"title":"A Bright Shining Lie (film)"},{"ns":0,"title":"A Simple
        Plan (film)"},{"ns":0,"title":"Agents of S.H.I.E.L.D."},{"ns":0,"title":"Albert
        Finney"},{"ns":0,"title":"Alec Guinness"},{"ns":0,"title":"Aliens (film)"},{"ns":0,"title":"AllMovie"},{"ns":0,"title":"Allison
        Janney"},{"ns":0,"title":"American Beauty (1999 film)"},{"ns":0,"title":"Amy
        Irving"},{"ns":0,"title":"An Early Frost"},{"ns":0,"title":"Annette Bening"[...]
