---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Bill%20Nighy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"463533":{"pageid":463533,"ns":0,"title":"Bill Nighy","links":[{"ns":0,"title":"2011
        Toronto International Film Festival"},{"ns":0,"title":"AKA (film)"},{"ns":0,"title":"A
        Kind of Alaska"},{"ns":0,"title":"A Map of the World"},{"ns":0,"title":"Aaron
        Paul"},{"ns":0,"title":"About Time (2013 film)"},{"ns":0,"title":"Adolph Caesar"},{"ns":0,"title":"Afternoon
        Play"},{"ns":0,"title":"Agony (TV Series)"},{"ns":0,"title":"Al Pacino"},{"ns":0,"title":"Alan
        Arkin"},{"ns":0,"title":"Alan Badel"},{"ns":0,"title":"Alan Bates"},[...]
