---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Blockbuster%20(entertainment)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"408230":{"pageid":408230,"ns":0,"title":"Blockbuster
        (entertainment)","links":[{"ns":0,"title":"American Graffiti"},{"ns":0,"title":"Battleship
        (film)"},{"ns":0,"title":"Ben-Hur (1959 film)"},{"ns":0,"title":"Blockbuster
        (2004 book)"},{"ns":0,"title":"Blockbuster (disambiguation)"},{"ns":0,"title":"Blockbuster
        bomb"},{"ns":0,"title":"Blockbuster mentality"},{"ns":0,"title":"Bombing of
        Hamburg in World War II"},{"ns":0,"title":"Box office bomb"},{"ns":0,"title":"Chicago
        Tribune"},{"ns":0,"title":"Cookie (bomb)"},{"ns":0,"title":"Easy[...]
