---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Boston%20Society%20of%20Film%20Critics%20Award%20for%20Best%20Cast
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"12675773":{"pageid":12675773,"ns":0,"title":"Boston
        Society of Film Critics Award for Best Cast","links":[{"ns":0,"title":"29th
        Boston Society of Film Critics Awards"},{"ns":0,"title":"Abbie Cornish"},{"ns":0,"title":"Albert
        Finney"},{"ns":0,"title":"Amanda Peet"},{"ns":0,"title":"Amy Adams"},{"ns":0,"title":"Anton
        Yelchin"},{"ns":0,"title":"Before the Devil Knows You''re Dead"},{"ns":0,"title":"Ben
        Cross"},{"ns":0,"title":"Ben Stiller"},{"ns":0,"title":"Bill Hader"},{"ns":0,"title":"Bob
        Odenkirk"},{"ns":0,"title":"Boston Society of Film Critics"},{"ns":0,"ti[...]
