---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Boston%20Society%20of%20Film%20Critics%20Awards
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"3700148":{"pageid":3700148,"ns":0,"title":"Boston
        Society of Film Critics Awards","links":[{"ns":0,"title":"Boston Society of
        Film Critics"}]}}}}'
  recorded_at: Thu, 12 Jun 2014 19:37:53 GMT
recorded_with: VCR 2.9.2
