---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Brian%20Dennehy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"1067318":{"pageid":1067318,"ns":0,"title":"Brian
        Dennehy","links":[{"ns":0,"title":"10 (film)"},{"ns":0,"title":"10th and Wolf"},{"ns":0,"title":"30
        Rock"},{"ns":0,"title":"A Death in Canaan"},{"ns":0,"title":"A Killing in
        a Small Town"},{"ns":0,"title":"A Real American Hero (TV movie)"},{"ns":0,"title":"A
        Rumor of War (miniseries)"},{"ns":0,"title":"A Season in Purgatory"},{"ns":0,"title":"A
        Season on the Brink (film)"},{"ns":0,"title":"Abbey Theatre"},{"ns":0,"title":"Acapulco"},{"ns":0,"title":"Al
        Pacino"},{"ns":0,"ti[...]
