---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Broadcast%20Film%20Critics%20Association%20Award%20for%20Best%20Actor
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"3396197":{"pageid":3396197,"ns":0,"title":"Broadcast
        Film Critics Association Award for Best Actor","links":[{"ns":0,"title":"10th
        Critics'' Choice Awards"},{"ns":0,"title":"11th Critics'' Choice Awards"},{"ns":0,"title":"127
        Hours"},{"ns":0,"title":"12 Years a Slave (film)"},{"ns":0,"title":"12th Critics''
        Choice Awards"},{"ns":0,"title":"13th Critics'' Choice Awards"},{"ns":0,"title":"14th
        Critics'' Choice Awards"},{"ns":0,"title":"15th Critics'' Choice Awards"},{"ns":0,"title":"16th
        Critics'' Choice Awards"},{"ns":0,"title":"17th Critics'' Choice Awards"},{"n[...]
