---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Bruce%20Jones%20(actor)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"3249251":{"pageid":3249251,"ns":0,"title":"Bruce
        Jones (actor)","links":[{"ns":0,"title":"A55 road"},{"ns":0,"title":"A Touch
        of Frost"},{"ns":0,"title":"Abz Love"},{"ns":0,"title":"Albert Finney"},{"ns":0,"title":"Alcohol
        intoxication"},{"ns":0,"title":"Alcoholism"},{"ns":0,"title":"Allison Janney"},{"ns":0,"title":"American
        Beauty (1999 film)"},{"ns":0,"title":"Amy Irving"},{"ns":0,"title":"Annette
        Bening"},{"ns":0,"title":"Antony Sher"},{"ns":0,"title":"Apollo 13 (film)"},{"ns":0,"title":"Authority
        control"},{"ns":0,"title"[...]
