---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Bryan%20Cranston
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"1600208":{"pageid":1600208,"ns":0,"title":"Bryan
        Cranston","links":[{"ns":0,"title":"''Twas the Night"},{"ns":0,"title":"25th
        Young Artist Awards"},{"ns":0,"title":"30 Rock"},{"ns":0,"title":"40th People''s
        Choice Awards"},{"ns":0,"title":"ABC Family"},{"ns":0,"title":"AMC (TV channel)"},{"ns":0,"title":"A
        Doll''s House"},{"ns":0,"title":"Aaron Paul"},{"ns":0,"title":"Academy of
        Motion Picture Arts and Sciences"},{"ns":0,"title":"Ahna O''Reilly"},{"ns":0,"title":"Airwolf"},{"ns":0,"title":"Al
        Pacino"},{"ns":0,"title":"Ala[...]
