---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Bucknell%20University
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"106198":{"pageid":106198,"ns":0,"title":"Bucknell
        University","links":[{"ns":0,"title":"1935 Orange Bowl"},{"ns":0,"title":"2005
        NCAA Men''s Division I Basketball Tournament"},{"ns":0,"title":"ACT (test)"},{"ns":0,"title":"Agnes
        Scott College"},{"ns":0,"title":"Albion College"},{"ns":0,"title":"Albright
        College"},{"ns":0,"title":"Allegheny College"},{"ns":0,"title":"Alma College"},{"ns":0,"title":"Alpha
        Chi Omega"},{"ns":0,"title":"Alpha Delta Pi"},{"ns":0,"title":"Alpha Xi Delta"},{"ns":0,"title":"Alvernia
        University"},{"ns[...]
