---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Catherine%20Zeta-Jones
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"150996|0|Sean_Connery"}},"query":{"pages":{"150996":{"pageid":150996,"ns":0,"title":"Catherine
        Zeta-Jones","links":[{"ns":0,"title":"1999 Cannes Film Festival"},{"ns":0,"title":"2010
        Birthday Honours"},{"ns":0,"title":"42nd Street (musical)"},{"ns":0,"title":"A
        Little Night Music"},{"ns":0,"title":"Aaron Eckhart"},{"ns":0,"title":"Aberystwyth"},{"ns":0,"title":"Abigail
        Breslin"},{"ns":0,"title":"About.com"},{"ns":0,"title":"Academy Award for
        Best Supporting Actress"},{"ns":0,"title":"Academy Awards"},{"ns":0,"title":"Ahna
        O''Reill[...]
