---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Charles%20J.%20Cooper
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"2805944":{"pageid":2805944,"ns":0,"title":"Charles
        J. Cooper","links":[{"ns":0,"title":"Appellate"},{"ns":0,"title":"California
        Proposition 8 (2008)"},{"ns":0,"title":"Iran\u2013Contra affair"},{"ns":0,"title":"Lawyer"},{"ns":0,"title":"List
        of law clerks of the Supreme Court of the United States"},{"ns":0,"title":"Litigator"},{"ns":0,"title":"Perry
        v. Brown"},{"ns":0,"title":"The National Law Journal"},{"ns":0,"title":"United
        States Assistant Attorney General"},{"ns":0,"title":"United States Department
        of Justice"},{"ns":0,"title":"United States Supreme Court"},{"ns":0,"title":"University
        of Alabama Law School"},{"ns":0,"title":"Washington, D.C."},{"ns":4,"title":"Wikipedia:Persondata"},{"ns":4,"title":"Wikipedia:Stub"},{"ns":10,"title":"Template:US-law-bio-stub"},{"ns":11,"title":"Template
        talk:US-law-bio-stub"}]}}}}'
  recorded_at: Thu, 12 Jun 2014 19:37:56 GMT
recorded_with: VCR 2.9.2
