---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Chris%20Cooper
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"580137":{"pageid":580137,"ns":0,"title":"Chris
        Cooper","links":[{"ns":0,"title":"AARP The Magazine"},{"ns":0,"title":"A Time
        to Kill (film)"},{"ns":0,"title":"Academy Award for Best Supporting Actor"},{"ns":0,"title":"Academy
        Awards"},{"ns":0,"title":"Adaptation."},{"ns":0,"title":"Adaptation (film)"},{"ns":0,"title":"Adolph
        Caesar"},{"ns":0,"title":"Akim Tamiroff"},{"ns":0,"title":"Al Pacino"},{"ns":0,"title":"Alan
        Alda"},{"ns":0,"title":"Alan Arkin"},{"ns":0,"title":"Albert Brooks"},{"ns":0,"title":"Albert
        Finney"},[...]
