---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Christine%20Baranski
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"654559|11|EmmyAward_ComedySupportingActress"}},"query":{"pages":{"654559":{"pageid":654559,"ns":0,"title":"Christine
        Baranski","links":[{"ns":0,"title":"3rd Rock from the Sun"},{"ns":0,"title":"9
        1/2 Weeks"},{"ns":0,"title":"A Little Night Music"},{"ns":0,"title":"A Midsummer
        Night''s Dream"},{"ns":0,"title":"Abigail Breslin"},{"ns":0,"title":"Addams
        Family Values"},{"ns":0,"title":"Adriane Lenox"},{"ns":0,"title":"Ahna O''Reilly"},{"ns":0,"title":"Alan
        Arkin"},{"ns":0,"title":"Alan Bates"},{"ns":0,"title":"Albert Finney"},{"ns":0,"title":"Alessandro
        N[...]
