---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Christopher%20Reeve
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"73626|0|Washington_Post"}},"query":{"pages":{"73626":{"pageid":73626,"ns":0,"title":"Christopher
        Reeve","links":[{"ns":0,"title":"68th Academy Awards"},{"ns":0,"title":"A&E
        Network"},{"ns":0,"title":"ABC News"},{"ns":0,"title":"ALYN Hospital"},{"ns":0,"title":"A
        Matter of Gravity"},{"ns":0,"title":"A Month in the Country (play)"},{"ns":0,"title":"A
        View from the Bridge"},{"ns":0,"title":"Above Suspicion (1995 film)"},{"ns":0,"title":"Abraham
        Lincoln"},{"ns":0,"title":"Academy Award"},{"ns":0,"title":"Academy Award
        for Best Costume[...]
