---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Circle%20in%20the%20Square
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"4042583":{"pageid":4042583,"ns":0,"title":"Circle
        in the Square","links":[{"ns":0,"title":"Circle in the Square Theatre"}]}}}}'
  recorded_at: Thu, 12 Jun 2014 19:37:58 GMT
recorded_with: VCR 2.9.2
