---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Clifton%20Collins,%20Jr.
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"5428701":{"pageid":5428701,"ns":0,"title":"Clifton
        Collins, Jr.","links":[{"ns":0,"title":"Alan Arkin"},{"ns":0,"title":"Albert
        Finney"},{"ns":0,"title":"Alejandro Gonz\u00e1lez I\u00f1\u00e1rritu"},{"ns":0,"title":"Alias
        (TV series)"},{"ns":0,"title":"AllMovie"},{"ns":0,"title":"Allison Janney"},{"ns":0,"title":"American
        Beauty (1999 film)"},{"ns":0,"title":"American Girl (film)"},{"ns":0,"title":"Amy
        Adams"},{"ns":0,"title":"Amy Irving"},{"ns":0,"title":"Annette Bening"},{"ns":0,"title":"Antony
        Sher"},{"ns":0,"title":"Apollo [...]
