---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Colin%20Firth
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"170409|0|Satellite_Award_for_Best_Actor_\u2013_Motion_Picture"}},"query":{"pages":{"170409":{"pageid":170409,"ns":0,"title":"Colin
        Firth","links":[{"ns":0,"title":"10:10"},{"ns":0,"title":"10th Empire Awards"},{"ns":0,"title":"11th
        Empire Awards"},{"ns":0,"title":"12th Empire Awards"},{"ns":0,"title":"13th
        Empire Awards"},{"ns":0,"title":"14th Empire Awards"},{"ns":0,"title":"15th
        Empire Awards"},{"ns":0,"title":"16th Empire Awards"},{"ns":0,"title":"17th
        Empire Awards"},{"ns":0,"title":"17th Screen Actors Guild Awards"},{"ns":0,"title":"18th
        Empire Awards"},{"ns":0,"ti[...]
