---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Cosmopolitan%20(magazine)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"143871":{"pageid":143871,"ns":0,"title":"Cosmopolitan
        (magazine)","links":[{"ns":0,"title":"A+E Networks"},{"ns":0,"title":"A. J.
        Cronin"},{"ns":0,"title":"AARP Bulletin"},{"ns":0,"title":"AARP The Magazine"},{"ns":0,"title":"AIDS"},{"ns":0,"title":"Alfred
        Henry Lewis"},{"ns":0,"title":"Ali Larter"},{"ns":0,"title":"Alicia Silverstone"},{"ns":0,"title":"All
        About Soap"},{"ns":0,"title":"All You"},{"ns":0,"title":"Ambrose Bierce"},{"ns":0,"title":"American
        Broadcasting Company"},{"ns":0,"title":"American Rifleman"},{"ns":0,"title":"Anna
[...]
