---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=D.%20W.%20Moffett
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"4869725":{"pageid":4869725,"ns":0,"title":"D. W.
        Moffett","links":[{"ns":0,"title":"ABC Family"},{"ns":0,"title":"Albert Finney"},{"ns":0,"title":"Allison
        Janney"},{"ns":0,"title":"American Beauty (1999 film)"},{"ns":0,"title":"American
        Playhouse"},{"ns":0,"title":"Amy Irving"},{"ns":0,"title":"An Early Frost"},{"ns":0,"title":"Annette
        Bening"},{"ns":0,"title":"Antony Sher"},{"ns":0,"title":"Apollo 13 (film)"},{"ns":0,"title":"As
        the World Turns"},{"ns":0,"title":"Authority control"},{"ns":0,"title":"Balm
        in Gilead"},{"n[...]
