---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Dan%20Futterman
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"2974862":{"pageid":2974862,"ns":0,"title":"Dan
        Futterman","links":[{"ns":0,"title":"1999 (film)"},{"ns":0,"title":"A Fair
        Country"},{"ns":0,"title":"A Mighty Heart (film)"},{"ns":0,"title":"Academy
        Award"},{"ns":0,"title":"Academy Award for Best Adapted Screenplay"},{"ns":0,"title":"Academy
        Award for Writing Adapted Screenplay"},{"ns":0,"title":"Academy Awards"},{"ns":0,"title":"Actor"},{"ns":0,"title":"Albert
        Finney"},{"ns":0,"title":"Alexander Payne"},{"ns":0,"title":"Allison Janney"},{"ns":0,"title":"American
        Beauty ([...]
