---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Daniel%20Day-Lewis
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"171003|0|W._H._Auden"}},"query":{"pages":{"171003":{"pageid":171003,"ns":0,"title":"Daniel
        Day-Lewis","links":[{"ns":0,"title":"61st British Academy Film Awards"},{"ns":0,"title":"66th
        British Academy Film Awards"},{"ns":0,"title":"70th Golden Globe Awards"},{"ns":0,"title":"80th
        Academy Awards"},{"ns":0,"title":"85th Academy Awards"},{"ns":0,"title":"AACTA
        International Award for Best Actor"},{"ns":0,"title":"A Midsummer Night''s
        Dream"},{"ns":0,"title":"A Room with a View (1985 film)"},{"ns":0,"title":"Abraham
        Lincoln"},{"ns":0[...]
