---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Daniel%20Stern%20(actor)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"534351":{"pageid":534351,"ns":0,"title":"Daniel
        Stern (actor)","links":[{"ns":0,"title":"1979 in film"},{"ns":0,"title":"1980
        in film"},{"ns":0,"title":"1981 in film"},{"ns":0,"title":"1982 in film"},{"ns":0,"title":"1983
        in film"},{"ns":0,"title":"1984 in film"},{"ns":0,"title":"1985 in film"},{"ns":0,"title":"1986
        in film"},{"ns":0,"title":"1987 in film"},{"ns":0,"title":"1988 in film"},{"ns":0,"title":"1989
        in film"},{"ns":0,"title":"1990 in film"},{"ns":0,"title":"1991 in film"},{"ns":0,"title":"1992
        in film"},{"ns":0,"ti[...]
