---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=David%20Boreanaz
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"159269":{"pageid":159269,"ns":0,"title":"David
        Boreanaz","links":[{"ns":0,"title":"ABC News"},{"ns":0,"title":"Actor"},{"ns":0,"title":"AllMovie"},{"ns":0,"title":"American
        Broadcasting Company"},{"ns":0,"title":"American Dad!"},{"ns":0,"title":"Angel
        (1999 TV series)"},{"ns":0,"title":"Angel (Buffy the Vampire Slayer)"},{"ns":0,"title":"Angel
        (TV series)"},{"ns":0,"title":"Anterior cruciate ligament"},{"ns":0,"title":"Aspen
        Extreme"},{"ns":0,"title":"Authority control"},{"ns":0,"title":"Baby Blues
        (US TV series)"},{"ns[...]
