---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=David%20Koepp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"625105":{"pageid":625105,"ns":0,"title":"David
        Koepp","links":[{"ns":0,"title":"21st Saturn Awards"},{"ns":0,"title":"30th
        Saturn Awards"},{"ns":0,"title":"31st Saturn Awards"},{"ns":0,"title":"32nd
        Saturn Awards"},{"ns":0,"title":"33rd Saturn Awards"},{"ns":0,"title":"34th
        Saturn Awards"},{"ns":0,"title":"35th Saturn Awards"},{"ns":0,"title":"36th
        Saturn Awards"},{"ns":0,"title":"37th Saturn Awards"},{"ns":0,"title":"Adam
        Cozad"},{"ns":0,"title":"Akiva Goldsman"},{"ns":0,"title":"Alvin Sargent"},{"ns":0,"title":"And[...]
