---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Death%20Sentence%20(2007%20film)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"8867686":{"pageid":8867686,"ns":0,"title":"Death
        Sentence (2007 film)","links":[{"ns":0,"title":"20th Century Fox"},{"ns":0,"title":"Aisha
        Tyler"},{"ns":0,"title":"AllMovie"},{"ns":0,"title":"Arms dealer"},{"ns":0,"title":"Ashok
        Amritraj"},{"ns":0,"title":"Black market"},{"ns":0,"title":"Box Office Mojo"},{"ns":0,"title":"Brian
        Garfield"},{"ns":0,"title":"Canadian motion picture rating system"},{"ns":0,"title":"Charles
        Bronson"},{"ns":0,"title":"Charlie Clouser"},{"ns":0,"title":"Chicago Sun-Times"},{"ns":0,"title":"Dead
        Silence"},{"[...]
