---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Deirdre%20Costello
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"28262279":{"pageid":28262279,"ns":0,"title":"Deirdre
        Costello","links":[{"ns":0,"title":"Albert Finney"},{"ns":0,"title":"All-Ireland
        Junior Camogie Championship"},{"ns":0,"title":"All-Ireland Minor Camogie Championship"},{"ns":0,"title":"All-Ireland
        Senior Camogie Championship"},{"ns":0,"title":"All Ireland Colleges Camogie
        Championship"},{"ns":0,"title":"Allison Janney"},{"ns":0,"title":"American
        Beauty (1999 film)"},{"ns":0,"title":"Amy Irving"},{"ns":0,"title":"Annette
        Bening"},{"ns":0,"title":"Antony Sher"},{"ns":0,"titl[...]
