---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Dennis%20Quaid
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"314563":{"pageid":314563,"ns":0,"title":"Dennis
        Quaid","links":[{"ns":0,"title":"2012 Toronto International Film Festival"},{"ns":0,"title":"A
        Century of Cinema"},{"ns":0,"title":"Academy Award for Best Supporting Actor"},{"ns":0,"title":"Alan
        Alda"},{"ns":0,"title":"Alan Arkin"},{"ns":0,"title":"Albert Brooks"},{"ns":0,"title":"Albert
        Finney"},{"ns":0,"title":"AllMovie"},{"ns":0,"title":"All Night Long (1981
        film)"},{"ns":0,"title":"Allison Janney"},{"ns":0,"title":"American Beauty
        (1999 film)"},{"ns":0,"title":"Amer[...]
