---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=10&prop=links&titles=derpherptydo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"normalized":[{"from":"derpherptydo","to":"Derpherptydo"}],"pages":{"-1":{"ns":0,"title":"Derpherptydo","missing":""}}}}'
  recorded_at: Thu, 12 Jun 2014 17:46:40 GMT
recorded_with: VCR 2.9.2
