---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Dianne%20Wiest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"618770|11|Academy_Award_Best_Supporting_Actress"}},"query":{"pages":{"618770":{"pageid":618770,"ns":0,"title":"Dianne
        Wiest","links":[{"ns":0,"title":"2006 Sundance Film Festival"},{"ns":0,"title":"A
        Guide to Recognizing Your Saints"},{"ns":0,"title":"A Kind of Alaska"},{"ns":0,"title":"Academy
        Award for Best Supporting Actress"},{"ns":0,"title":"Academy Awards"},{"ns":0,"title":"Agamemnon
        (play)"},{"ns":0,"title":"Al Pacino"},{"ns":0,"title":"Alan Cumming"},{"ns":0,"title":"Albert
        Finney"},{"ns":0,"title":"Alfre Woodard"},{"ns":0,"title":"Algiers"},{"ns":0,"title[...]
