---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Digging%20to%20China
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"5689946":{"pageid":5689946,"ns":0,"title":"Digging
        to China","links":[{"ns":0,"title":"Alan Mruvka"},{"ns":0,"title":"Alcoholism"},{"ns":0,"title":"Balloon"},{"ns":0,"title":"Caboose"},{"ns":0,"title":"Cal
        Tjader"},{"ns":0,"title":"Carlos Santana"},{"ns":0,"title":"Cathy Moriarty"},{"ns":0,"title":"Cherokee,
        North Carolina"},{"ns":0,"title":"Chicago International Children''s Film Festival"},{"ns":0,"title":"China"},{"ns":0,"title":"David
        T. Friendly"},{"ns":0,"title":"Drama film"},{"ns":0,"title":"Evan Rachel Wood"},{"ns":0,"title":"Flying[...]
