---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Diner%20(film)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"1150634":{"pageid":1150634,"ns":0,"title":"Diner
        (film)","links":[{"ns":0,"title":"1959 NFL Championship Game"},{"ns":0,"title":"AFI''s
        100 Years... 100 Laughs"},{"ns":0,"title":"Academy Award"},{"ns":0,"title":"Academy
        Award for Writing Original Screenplay"},{"ns":0,"title":"American Film Institute"},{"ns":0,"title":"An
        Everlasting Piece"},{"ns":0,"title":"Arlington, Virginia"},{"ns":0,"title":"Autobiography"},{"ns":0,"title":"Avalon
        (1990 film)"},{"ns":0,"title":"Baltimore, Maryland"},{"ns":0,"title":"Bandits
        (2001 fi[...]
