---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Don%20Cheadle
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"551898|0|The_Help_(film)"}},"query":{"pages":{"551898":{"pageid":551898,"ns":0,"title":"Don
        Cheadle","links":[{"ns":0,"title":"2007 World Series of Poker"},{"ns":0,"title":"A
        Lesson Before Dying"},{"ns":0,"title":"A People''s History of the United States"},{"ns":0,"title":"Aaron
        McGruder"},{"ns":0,"title":"Abby Singer (film)"},{"ns":0,"title":"Abigail
        Breslin"},{"ns":0,"title":"Academy Award for Best Actor"},{"ns":0,"title":"Academy
        Award for Best Picture"},{"ns":0,"title":"Adolph Caesar"},{"ns":0,"title":"African
        American Lives 2"},[...]
