---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Dustin%20Hoffman
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"42148|0|Ralph_Fiennes"}},"query":{"pages":{"42148":{"pageid":42148,"ns":0,"title":"Dustin
        Hoffman","links":[{"ns":0,"title":"50 Cent"},{"ns":0,"title":"AFI''s 100 Years...
        100 Heroes and Villains"},{"ns":0,"title":"AFI Life Achievement Award"},{"ns":0,"title":"Abigail
        Pogrebin"},{"ns":0,"title":"Academy Award"},{"ns":0,"title":"Academy Award
        for Best Actor"},{"ns":0,"title":"Academy Award for Best Actress"},{"ns":0,"title":"Academy
        Award for Best Adapted Screenplay"},{"ns":0,"title":"Academy Award for Best
        Picture"},{"ns":0,"tit[...]
