---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Dustin%20Lance%20Black
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"18578140":{"pageid":18578140,"ns":0,"title":"Dustin
        Lance Black","links":[{"ns":0,"title":"2008 Toronto International Film Festival"},{"ns":0,"title":"81st
        Academy Awards"},{"ns":0,"title":"8: The Mormon Proposition"},{"ns":0,"title":"8
        (play)"},{"ns":0,"title":"Academy Award"},{"ns":0,"title":"Academy Award for
        Best Original Screenplay"},{"ns":0,"title":"Academy Awards"},{"ns":0,"title":"American
        Foundation for Equal Rights"},{"ns":0,"title":"American Idiot (film)"},{"ns":0,"title":"Anne
        Kronenberg"},{"ns":0,"title":"Art Agnos[...]
