---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Ed%20Harris
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"171606":{"pageid":171606,"ns":0,"title":"Ed Harris","links":[{"ns":0,"title":"2010
        Toronto International Film Festival"},{"ns":0,"title":"A Beautiful Mind (film)"},{"ns":0,"title":"A
        History of Violence (film)"},{"ns":0,"title":"Absolute Power (film)"},{"ns":0,"title":"Academy
        Award for Best Actor"},{"ns":0,"title":"Academy Award for Best Supporting
        Actor"},{"ns":0,"title":"Actor"},{"ns":0,"title":"Akim Tamiroff"},{"ns":0,"title":"Al
        Pacino"},{"ns":0,"title":"Alamo Bay"},{"ns":0,"title":"Alan Alda"},{"ns":0,"title"[...]
