---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Edmund%20Bacon%20(architect)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"2499291":{"pageid":2499291,"ns":0,"title":"Edmund
        Bacon (architect)","links":[{"ns":0,"title":"American Institute of Planners"},{"ns":0,"title":"Architect"},{"ns":0,"title":"Architecture"},{"ns":0,"title":"Author"},{"ns":0,"title":"Authority
        control"},{"ns":0,"title":"Baron Georges-Eug\u00e8ne Haussmann"},{"ns":0,"title":"Benjamin
        Franklin Parkway"},{"ns":0,"title":"Bernard Samuel"},{"ns":0,"title":"Better
        Philadelphia Exhibition"},{"ns":0,"title":"Bohemian"},{"ns":0,"title":"Boston"},{"ns":0,"title":"Buckminster
        Fuller"},{"ns":0,"title":"[...]
