---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Edward%20James%20Olmos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"170984":{"pageid":170984,"ns":0,"title":"Edward
        James Olmos","links":[{"ns":0,"title":"11th ALMA Awards"},{"ns":0,"title":"12
        Angry Men (1997 film)"},{"ns":0,"title":"1992 Los Angeles riots"},{"ns":0,"title":"2
        Guns"},{"ns":0,"title":"5608 Olmos"},{"ns":0,"title":"9th ALMA Awards"},{"ns":0,"title":"ALMA
        Award"},{"ns":0,"title":"A Million to Juan"},{"ns":0,"title":"Academy Award
        for Best Actor"},{"ns":0,"title":"Academy Award for Best Actor in a Leading
        Role"},{"ns":0,"title":"Alambrista!"},{"ns":0,"title":"Aloha Bobby and Rose"},{"ns":0,"title":"America
        (2011 film)"},{"ns":0,"title":"American Broadcasting Company"},{"ns":0,"title":"American
        Family: Journey of Dreams"},{"ns":0,"title":"American Family (2002 TV series)"},{"ns":0,"title":"American
        Me"},{"ns":0,"title":"Anthony Zerbe"},{"ns":0,"title":"Archive of American
        Television"},{"ns":0,"title":"Art Torres"},{"ns":0,"title":"Asteroid"},{"ns":0,"title":"Authority
        control"},{"ns":0,"title":"Barry Bostwick"},{"ns":0,"title":"Baseball"},{"ns":0,"title":"Battlestar
        Galactica"},{"ns":0,"title":"Battlestar Galactica: The Plan"},{"ns":0,"title":"Battlestar
      [...]
