---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=EE%20(telecommunications%20company)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"27320002":{"pageid":27320002,"ns":0,"title":"EE
        (telecommunications company)","links":[{"ns":0,"title":"2G"},{"ns":0,"title":"3G"},{"ns":0,"title":"3G
        network"},{"ns":0,"title":"4G"},{"ns":0,"title":"AOL Broadband"},{"ns":0,"title":"ARM
        Holdings"},{"ns":0,"title":"ASDA Mobile"},{"ns":0,"title":"Adastral Park"},{"ns":0,"title":"Albanian
        Mobile Communications"},{"ns":0,"title":"Altrincham"},{"ns":0,"title":"Andrews
        & Arnold"},{"ns":0,"title":"Android (operating system)"},{"ns":0,"title":"Arqiva"},{"ns":0,"title":"Artevea"},{"ns":0,"title":"Asda
     [...]
