---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Elizabeth%20Perkins
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"333680":{"pageid":333680,"ns":0,"title":"Elizabeth
        Perkins","links":[{"ns":0,"title":"28 Days (film)"},{"ns":0,"title":"About
        Last Night..."},{"ns":0,"title":"About Last Night (1986 film)"},{"ns":0,"title":"Alcmene"},{"ns":0,"title":"AllMovie"},{"ns":0,"title":"All
        I Want (film)"},{"ns":0,"title":"American Broadcasting Company"},{"ns":0,"title":"Authority
        control"},{"ns":0,"title":"Avalon (1990 film)"},{"ns":0,"title":"Barracuda"},{"ns":0,"title":"Barry
        Levinson"},{"ns":0,"title":"Battery Park (TV series)"},{"ns":0,"title":"Biblio[...]
