---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Ellen%20Barkin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"635247":{"pageid":635247,"ns":0,"title":"Ellen
        Barkin","links":[{"ns":0,"title":"Act of Vengeance"},{"ns":0,"title":"Actors
        Studio"},{"ns":0,"title":"Adriane Lenox"},{"ns":0,"title":"Al Pacino"},{"ns":0,"title":"Alfre
        Woodard"},{"ns":0,"title":"AllMovie"},{"ns":0,"title":"American Comedy Awards"},{"ns":0,"title":"Ancient
        history"},{"ns":0,"title":"Angela Lansbury"},{"ns":0,"title":"Anjelica Huston"},{"ns":0,"title":"Another
        Happy Day"},{"ns":0,"title":"Atheist"},{"ns":0,"title":"Audra McDonald"},{"ns":0,"title":"Authority
   [...]
