---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Erd%C5%91s%E2%80%93Bacon%20number
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"2625993":{"pageid":2625993,"ns":0,"title":"Erd\u0151s\u2013Bacon
        number","links":[{"ns":0,"title":"Albert Einstein"},{"ns":0,"title":"Anti-Clock"},{"ns":0,"title":"Astronomer"},{"ns":0,"title":"BBC
        Radio 4"},{"ns":0,"title":"Bacon number"},{"ns":0,"title":"Baseball"},{"ns":0,"title":"Bernard
        Chazelle"},{"ns":0,"title":"Carl Sagan"},{"ns":0,"title":"City University
        London"},{"ns":0,"title":"Colin Firth"},{"ns":0,"title":"Connected: An Autoblogography
        About Love, Death & Technology"},{"ns":0,"title":"Danica McKellar"},{"ns":0,"title":"Daniel
   [...]
