---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Erd%C5%91s%20number
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"9742":{"pageid":9742,"ns":0,"title":"Erd\u0151s
        number","links":[{"ns":0,"title":"Abdus Salam"},{"ns":0,"title":"Actor"},{"ns":0,"title":"Alan
        Baker (mathematician)"},{"ns":0,"title":"Albert Einstein"},{"ns":0,"title":"Alfr\u00e9d
        R\u00e9nyi"},{"ns":0,"title":"Alvin E. Roth"},{"ns":0,"title":"American Mathematical
        Society"},{"ns":0,"title":"Andr\u00e1s Hajnal"},{"ns":0,"title":"Andr\u00e1s
        S\u00e1rk\u00f6zy"},{"ns":0,"title":"Arts"},{"ns":0,"title":"Atle Selberg"},{"ns":0,"title":"Bacon
        number"},{"ns":0,"title":"Barry [...]
