---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Erika%20Christensen
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"1320759":{"pageid":1320759,"ns":0,"title":"Erika
        Christensen","links":[{"ns":0,"title":"3rd Rock from the Sun"},{"ns":0,"title":"Albert
        Finney"},{"ns":0,"title":"Alicia Silverstone"},{"ns":0,"title":"Allison Janney"},{"ns":0,"title":"American
        Beauty (1999 film)"},{"ns":0,"title":"Amy Irving"},{"ns":0,"title":"Anna Kendrick"},{"ns":0,"title":"Annette
        Bening"},{"ns":0,"title":"Antony Sher"},{"ns":0,"title":"Apollo 13 (film)"},{"ns":0,"title":"Ashley
        Tisdale"},{"ns":0,"title":"Authority control"},{"ns":0,"title":"Balthazar
        Gett[...]
