---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Flatliners
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"673469":{"pageid":673469,"ns":0,"title":"Flatliners","links":[{"ns":0,"title":"4-Methylthioamphetamine"},{"ns":0,"title":"8mm
        (film)"},{"ns":0,"title":"AIDS"},{"ns":0,"title":"A Time to Kill (film)"},{"ns":0,"title":"Academy
        Award for Best Sound Editing"},{"ns":0,"title":"Afterlife"},{"ns":0,"title":"AllMovie"},{"ns":0,"title":"Altered
        States"},{"ns":0,"title":"Asystole"},{"ns":0,"title":"Bad Company (2002 film)"},{"ns":0,"title":"Batman
        & Robin (film)"},{"ns":0,"title":"Batman Forever"},{"ns":0,"title":"Beth Grant"},{"ns":[...]
