---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Flux
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"43590":{"pageid":43590,"ns":0,"title":"Flux","links":[{"ns":0,"title":"AB
        magnitude"},{"ns":0,"title":"Applied mathematics"},{"ns":0,"title":"Area"},{"ns":0,"title":"Boltzmann
        constant"},{"ns":0,"title":"Circulation (fluid dynamics)"},{"ns":0,"title":"Closed
        curve"},{"ns":0,"title":"Closed surface"},{"ns":0,"title":"Concentration"},{"ns":0,"title":"Constitutive
        relation"},{"ns":0,"title":"Cross section (geometry)"},{"ns":0,"title":"Cross
        section (physics)"},{"ns":0,"title":"Curl (mathematics)"},{"ns":0,"titl[...]
