---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Footloose%20(1984%20film)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"877743":{"pageid":877743,"ns":0,"title":"Footloose
        (1984 film)","links":[{"ns":0,"title":"8-track tape"},{"ns":0,"title":"AFI''s
        100 Years...100 Cheers"},{"ns":0,"title":"AFI''s 100 Years...100 Songs"},{"ns":0,"title":"Academy
        Award"},{"ns":0,"title":"Academy Award for Best Original Song"},{"ns":0,"title":"AllMovie"},{"ns":0,"title":"All
        the Right Moves (film)"},{"ns":0,"title":"Almost Paradise"},{"ns":0,"title":"American
        Fork, Utah"},{"ns":0,"title":"Ann Wilson"},{"ns":0,"title":"Bible"},{"ns":0,"title":"Billboard
        Hot 100"},{[...]
