---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Forest%20Whitaker
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"634431|0|Uganda"}},"query":{"pages":{"634431":{"pageid":634431,"ns":0,"title":"Forest
        Whitaker","links":[{"ns":0,"title":"1988 Cannes Film Festival"},{"ns":0,"title":"2013
        Cannes Film Festival"},{"ns":0,"title":"2013 Sundance Film Festival"},{"ns":0,"title":"50
        Cent"},{"ns":0,"title":"A Big Family"},{"ns":0,"title":"A Dark Truth"},{"ns":0,"title":"A
        Little Trip to Heaven (film)"},{"ns":0,"title":"A Rage in Harlem (film)"},{"ns":0,"title":"Abby
        Lockhart"},{"ns":0,"title":"Academy Award"},{"ns":0,"title":"Academy Award
        for Bes[...]
