---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Forty%20Deuce
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"23202739":{"pageid":23202739,"ns":0,"title":"Forty
        Deuce","links":[{"ns":0,"title":"1982 Cannes Film Festival"},{"ns":0,"title":"Alan
        Bowne"},{"ns":0,"title":"Andy Warhol''s Frankenstein"},{"ns":0,"title":"Blood
        for Dracula"},{"ns":0,"title":"Chelsea Girls"},{"ns":0,"title":"Drama film"},{"ns":0,"title":"Esai
        Morales"},{"ns":0,"title":"Flesh (1968 film)"},{"ns":0,"title":"Harris Laskaway"},{"ns":0,"title":"Heat
        (1972 film)"},{"ns":0,"title":"Internet Movie Database"},{"ns":0,"title":"Jean-Jacques
        Fourgeaud"},{"ns":0,"tit[...]
