---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Fox%20Broadcasting%20Company
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"46252|0|NASA_TV"}},"query":{"pages":{"46252":{"pageid":46252,"ns":0,"title":"Fox
        Broadcasting Company","links":[{"ns":0,"title":"1080i"},{"ns":0,"title":"1080p"},{"ns":0,"title":"14:9"},{"ns":0,"title":"16:9"},{"ns":0,"title":"1955
        NFL season"},{"ns":0,"title":"1987\u201388 United States network television
        schedule"},{"ns":0,"title":"1989\u201390 United States network television
        schedule"},{"ns":0,"title":"1992\u201393 United States network television
        schedule"},{"ns":0,"title":"1994 United States broadcast TV realignment"},{"ns":[...]
