---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Fraternities%20and%20sororities
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"7954524":{"pageid":7954524,"ns":0,"title":"Fraternities
        and sororities","links":[{"ns":0,"title":"Fraternities and sororities in North
        America"}]}}}}'
  recorded_at: Thu, 12 Jun 2014 19:38:12 GMT
recorded_with: VCR 2.9.2
