---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Friday%20the%2013th%20(1980%20film)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"168958":{"pageid":168958,"ns":0,"title":"Friday
        the 13th (1980 film)","links":[{"ns":0,"title":"1980 in film"},{"ns":0,"title":"3-D
        film"},{"ns":0,"title":"AFI''s 100 Years...100 Thrills"},{"ns":0,"title":"A
        Nightmare on Elm Street (franchise)"},{"ns":0,"title":"A Stranger Is Watching
        (film)"},{"ns":0,"title":"Adrienne King"},{"ns":0,"title":"AllMovie"},{"ns":0,"title":"All
        My Children"},{"ns":0,"title":"American Film Institute"},{"ns":0,"title":"Ari
        Lehman"},{"ns":0,"title":"Australian Broadcasting Corporation"},{"ns":0,"title":"Be[...]
