---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Gary%20Sinise
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"524276":{"pageid":524276,"ns":0,"title":"Gary Sinise","links":[{"ns":0,"title":"2002
        Super Bowl"},{"ns":0,"title":"2006 Israel-Lebanon conflict"},{"ns":0,"title":"A
        Midnight Clear"},{"ns":0,"title":"A Wedding"},{"ns":0,"title":"Academy Award"},{"ns":0,"title":"Academy
        Award for Best Supporting Actor"},{"ns":0,"title":"Al Pacino"},{"ns":0,"title":"Alan
        Alda"},{"ns":0,"title":"Alan Bates"},{"ns":0,"title":"Alan Rickman"},{"ns":0,"title":"Albert
        Finney"},{"ns":0,"title":"Albert Salmi"},{"ns":0,"title":"Albino Alligator"[...]
