---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Gene%20Hackman
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"12561|0|Stellan_Skarsg\u00e5rd"}},"query":{"pages":{"12561":{"pageid":12561,"ns":0,"title":"Gene
        Hackman","links":[{"ns":0,"title":"1967 in film"},{"ns":0,"title":"1969 in
        film"},{"ns":0,"title":"24 Hours of Daytona"},{"ns":0,"title":"A Bridge Too
        Far (1977 film)"},{"ns":0,"title":"A Bridge Too Far (film)"},{"ns":0,"title":"A
        Covenant with Death"},{"ns":0,"title":"Absolute Power (film)"},{"ns":0,"title":"Academy
        Award"},{"ns":0,"title":"Academy Award for Best Actor"},{"ns":0,"title":"Academy
        Award for Best Supporting Actor"},{"ns":0,"tit[...]
