---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Geoffrey%20Rush
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"171515|0|Los_Angeles_Film_Critics_Association_Award_for_Best_Actor"}},"query":{"pages":{"171515":{"pageid":171515,"ns":0,"title":"Geoffrey
        Rush","links":[{"ns":0,"title":"$9.99"},{"ns":0,"title":"2011 Cannes Film
        Festival"},{"ns":0,"title":"2011 Toronto International Film Festival"},{"ns":0,"title":"38th
        People''s Choice Awards"},{"ns":0,"title":"AACTA Award for Best Actor in a
        Leading Role"},{"ns":0,"title":"AACTA International Award for Best Supporting
        Actor"},{"ns":0,"title":"A Little Bit of Soul (film)"},{"ns":0,"title":"Abigail
        Breslin"},{"ns":0,"title":"Academy Award"}[...]
