---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=George%20Clooney
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"158889|0|Right_to_privacy"}},"query":{"pages":{"158889":{"pageid":158889,"ns":0,"title":"George
        Clooney","links":[{"ns":0,"title":"1994 Northridge earthquake"},{"ns":0,"title":"2004
        Indian Ocean earthquake and tsunami"},{"ns":0,"title":"2009 Toronto International
        Film Festival"},{"ns":0,"title":"2010 Haiti earthquake"},{"ns":0,"title":"21st
        Saturn Awards"},{"ns":0,"title":"78th Academy Awards"},{"ns":0,"title":"8
        (play)"},{"ns":0,"title":"AACTA International Award for Best Screenplay"},{"ns":0,"title":"AMC
        (TV channel)"},{"ns":0,"titl[...]
