---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Golden%20Globe%20Award%20for%20Best%20Supporting%20Actor%20%E2%80%93%20Motion%20Picture
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"1476751|0|Michael_Clayton_(film)"}},"query":{"pages":{"1476751":{"pageid":1476751,"ns":0,"title":"Golden
        Globe Award for Best Supporting Actor \u2013 Motion Picture","links":[{"ns":0,"title":"10th
        Golden Globe Awards"},{"ns":0,"title":"11th Golden Globe Awards"},{"ns":0,"title":"12
        Angry Men (1957 film)"},{"ns":0,"title":"12 Monkeys"},{"ns":0,"title":"12
        Years a Slave (film)"},{"ns":0,"title":"12th Golden Globe Awards"},{"ns":0,"title":"13th
        Golden Globe Awards"},{"ns":0,"title":"14th Golden Globe Awards"},{"ns":0,"title":"15th
        Golden Globe Aw[...]
