---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Golden%20Globe%20Award%20for%20Best%20Actor%20%E2%80%93%20Miniseries%20or%20Television%20Film
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"1476826":{"pageid":1476826,"ns":0,"title":"Golden
        Globe Award for Best Actor \u2013 Miniseries or Television Film","links":[{"ns":0,"title":"10th
        Golden Globe Awards"},{"ns":0,"title":"11th Golden Globe Awards"},{"ns":0,"title":"12
        Angry Men (1997 film)"},{"ns":0,"title":"12th Golden Globe Awards"},{"ns":0,"title":"13th
        Golden Globe Awards"},{"ns":0,"title":"14th Golden Globe Awards"},{"ns":0,"title":"15th
        Golden Globe Awards"},{"ns":0,"title":"16th Golden Globe Awards"},{"ns":0,"title":"17th
        Golden Globe Awards"},{"ns":0,"title":"18th Golden Globe Awards"},{"ns":0,"title":"19[...]
