---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Golden%20Globe%20Awards
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"21120348":{"pageid":21120348,"ns":0,"title":"Golden
        Globe Awards","links":[{"ns":0,"title":"Golden Globe Award"}]}}}}'
  recorded_at: Thu, 12 Jun 2014 19:38:16 GMT
recorded_with: VCR 2.9.2
