---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Golden%20Globe%20Award
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"142724":{"pageid":142724,"ns":0,"title":"Golden
        Globe Award","links":[{"ns":0,"title":"10th Golden Globe Awards"},{"ns":0,"title":"11th
        Golden Globe Awards"},{"ns":0,"title":"12th Golden Globe Awards"},{"ns":0,"title":"13th
        Golden Globe Awards"},{"ns":0,"title":"14th Golden Globe Awards"},{"ns":0,"title":"15th
        Golden Globe Awards"},{"ns":0,"title":"16th Golden Globe Awards"},{"ns":0,"title":"17th
        Golden Globe Awards"},{"ns":0,"title":"18th Golden Globe Awards"},{"ns":0,"title":"1943
        in film"},{"ns":0,"title":"19th Critics''[...]
