---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Guiding%20Light
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"191599":{"pageid":191599,"ns":0,"title":"Guiding
        Light","links":[{"ns":0,"title":"60 Minutes"},{"ns":0,"title":"African-American"},{"ns":0,"title":"Agnes
        Nixon"},{"ns":0,"title":"Alan Spaulding"},{"ns":0,"title":"Alexandra Spaulding"},{"ns":0,"title":"All
        My Children"},{"ns":0,"title":"Allen M. Potter"},{"ns":0,"title":"American
        Broadcasting Company"},{"ns":0,"title":"Annie Dutton"},{"ns":0,"title":"Another
        World (TV series)"},{"ns":0,"title":"Art Linkletter''s House Party"},{"ns":0,"title":"Arthur
        Peterson, Jr."},{"ns[...]
