---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Hank%20Azaria
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"113159":{"pageid":113159,"ns":0,"title":"Hank Azaria","links":[{"ns":0,"title":"2010
        World Series of Poker"},{"ns":0,"title":"ABC News (Australia)"},{"ns":0,"title":"AOL"},{"ns":0,"title":"Aaron
        Sorkin"},{"ns":0,"title":"Abbie Hoffman"},{"ns":0,"title":"Abraham"},{"ns":0,"title":"Abraham
        Lincoln"},{"ns":0,"title":"Academy Award for Best Picture"},{"ns":0,"title":"Actor"},{"ns":0,"title":"Al
        Pacino"},{"ns":0,"title":"Alan Tudyk"},{"ns":0,"title":"Albert Finney"},{"ns":0,"title":"AllMovie"},{"ns":0,"title":"Allen
        Ginsb[...]
