---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=HBO%20Films
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"866593":{"pageid":866593,"ns":0,"title":"HBO Films","links":[{"ns":0,"title":"91kt.com"},{"ns":0,"title":"Adult
        Swim"},{"ns":0,"title":"Albert Warner"},{"ns":0,"title":"Alloy Entertainment"},{"ns":0,"title":"American
        Splendor (film)"},{"ns":0,"title":"Angels in America (TV miniseries)"},{"ns":0,"title":"Bamzu"},{"ns":0,"title":"Band
        of Brothers (TV miniseries)"},{"ns":0,"title":"Bleacher Report"},{"ns":0,"title":"Boing
        (French TV channel)"},{"ns":0,"title":"Boing (Italy)"},{"ns":0,"title":"Boing
        (Spain)"},{"ns":0,"[...]
