---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=He%20Said,%20She%20Said
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"2198086":{"pageid":2198086,"ns":0,"title":"He Said,
        She Said","links":[{"ns":0,"title":"A Walk in the Woods (film)"},{"ns":0,"title":"Abortion"},{"ns":0,"title":"Baltimore
        Sun"},{"ns":0,"title":"Big Miracle"},{"ns":0,"title":"Brian Hohlfeld"},{"ns":0,"title":"Dunston
        Checks In"},{"ns":0,"title":"Elizabeth Perkins"},{"ns":0,"title":"Frank Mancuso
        Jr."},{"ns":0,"title":"Gay rights"},{"ns":0,"title":"George Martin (american
        actor)"},{"ns":0,"title":"He''s Just Not That Into You (film)"},{"ns":0,"title":"He
        Said, She Said (disam[...]
