---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Henry%20Louis%20Gates
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"580827":{"pageid":580827,"ns":0,"title":"Henry
        Louis Gates","links":[{"ns":0,"title":"2 Live Crew"},{"ns":0,"title":"African-American
        studies"},{"ns":0,"title":"African American Lives"},{"ns":0,"title":"African
        American Lives 2"},{"ns":0,"title":"African American Studies"},{"ns":0,"title":"African
        American culture"},{"ns":0,"title":"African literature"},{"ns":0,"title":"Afrocentric"},{"ns":0,"title":"Afrocentrics"},{"ns":0,"title":"Alphonse
        Fletcher"},{"ns":0,"title":"American Academy of Arts and Letters"},{"ns":0,"title":"America[...]
