---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Hollow%20Man
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"1332901":{"pageid":1332901,"ns":0,"title":"Hollow
        Man","links":[{"ns":0,"title":"1080p"},{"ns":0,"title":"73rd Academy Awards"},{"ns":0,"title":"Abbey
        Road Studios"},{"ns":0,"title":"Abbott and Costello Meet Frankenstein"},{"ns":0,"title":"Abbott
        and Costello Meet the Invisible Man"},{"ns":0,"title":"Academy Award for Visual
        Effects"},{"ns":0,"title":"Achilles tendon"},{"ns":0,"title":"Alan Marshall
        (film producer)"},{"ns":0,"title":"AllMovie"},{"ns":0,"title":"AllMusic"},{"ns":0,"title":"All
        Things Pass"},{"ns":0,"ti[...]
