---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Hollywood%20Walk%20of%20Fame
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"105776":{"pageid":105776,"ns":0,"title":"Hollywood
        Walk of Fame","links":[{"ns":0,"title":"19th Critics'' Choice Awards"},{"ns":0,"title":"20th
        Screen Actors Guild Awards"},{"ns":0,"title":"66th Directors Guild of America
        Awards"},{"ns":0,"title":"71st Golden Globe Awards"},{"ns":0,"title":"86th
        Academy Awards"},{"ns":0,"title":"A&M Records"},{"ns":0,"title":"AFI 100 Years\u2026
        series"},{"ns":0,"title":"Absolut Vodka"},{"ns":0,"title":"Academy Award"},{"ns":0,"title":"Academy
        Awards"},{"ns":0,"title":"Academy of Motion Picture[...]
