---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Ian%20McKellen
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"15308|0|Milk_(film)"}},"query":{"pages":{"15308":{"pageid":15308,"ns":0,"title":"Ian
        McKellen","links":[{"ns":0,"title":"11 September attacks"},{"ns":0,"title":"2011
        Christchurch earthquake"},{"ns":0,"title":"2012 Summer Paralympics"},{"ns":0,"title":"2012
        Summer Paralympics opening ceremony"},{"ns":0,"title":"AIDS"},{"ns":0,"title":"A
        Man for All Seasons"},{"ns":0,"title":"A Midsummer Night''s Dream"},{"ns":0,"title":"Abigail
        Breslin"},{"ns":0,"title":"Academy Award for Best Actor"},{"ns":0,"title":"Academy
        Award for Best Sup[...]
