---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Idris%20Elba
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"1342890":{"pageid":1342890,"ns":0,"title":"Idris
        Elba","links":[{"ns":0,"title":"28 Weeks Later"},{"ns":0,"title":"2point4
        Children"},{"ns":0,"title":"69th Golden Globe Awards"},{"ns":0,"title":"Absolutely
        Fabulous"},{"ns":0,"title":"Actor"},{"ns":0,"title":"Al Pacino"},{"ns":0,"title":"Alan
        Rickman"},{"ns":0,"title":"Albert Finney"},{"ns":0,"title":"Alex Cross"},{"ns":0,"title":"American
        Gangster (album)"},{"ns":0,"title":"American Gangster (film)"},{"ns":0,"title":"American
        Music Awards"},{"ns":0,"title":"Angie Ston[...]
