---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Imelda%20Staunton
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"1056489|4|Persondata"}},"query":{"pages":{"1056489":{"pageid":1056489,"ns":0,"title":"Imelda
        Staunton","links":[{"ns":0,"title":"''Tis Pity She''s a Whore"},{"ns":0,"title":"2006
        New Year Honours"},{"ns":0,"title":"A & C Black"},{"ns":0,"title":"A Bit of
        Fry And Laurie"},{"ns":0,"title":"A Bit of Fry and Laurie"},{"ns":0,"title":"A
        Bunch of Amateurs"},{"ns":0,"title":"A Chorus of Disapproval (play)"},{"ns":0,"title":"A
        Delicate Balance (play)"},{"ns":0,"title":"A Little Night Music"},{"ns":0,"title":"A
        Mad World, My Masters"},{"ns"[...]
