---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Internet%20Movie%20Database
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"2855554":{"pageid":2855554,"ns":0,"title":"Internet
        Movie Database","links":[{"ns":0,"title":"1-Click"},{"ns":0,"title":"1997
        Webby Awards"},{"ns":0,"title":"1998 Webby Awards"},{"ns":0,"title":"1999
        Webby Awards"},{"ns":0,"title":"2000 Webby Awards"},{"ns":0,"title":"2001
        Webby Awards"},{"ns":0,"title":"2002 Webby Awards"},{"ns":0,"title":"2003
        Webby Awards"},{"ns":0,"title":"2004 Webby Awards"},{"ns":0,"title":"2005
        Webby Awards"},{"ns":0,"title":"2006 Webby Awards"},{"ns":0,"title":"2007
        Webby Awards"},{"ns":0,"title":"[...]
