---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Integrated%20Authority%20File
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"35566739":{"pageid":35566739,"ns":0,"title":"Integrated
        Authority File","links":[{"ns":0,"title":"Archive"},{"ns":0,"title":"Authority
        control"},{"ns":0,"title":"Authority file"},{"ns":0,"title":"CC0"},{"ns":0,"title":"Corporate
        Bodies Authority File"},{"ns":0,"title":"Documentation"},{"ns":0,"title":"German-speaking
        Europe"},{"ns":0,"title":"German National Library"},{"ns":0,"title":"German
        language"},{"ns":0,"title":"Knowledge representation"},{"ns":0,"title":"LIBRIS"},{"ns":0,"title":"Library"},{"ns":0,"title":"Library
        catalog"},{"ns":0,"title":"Library classification"},{"ns":0,"title":"Library
        of Congress"},{"ns":0,"title":"Library of Congress Name Authority File"},{"ns":0,"title":"Museum"},{"ns":0,"title":"Name
        Authority File"},{"ns":0,"title":"National Diet Library"},{"ns":0,"title":"Ontology
        (computer science)"},{"ns":0,"title":"Resource Description Framework"},{"ns":0,"title":"Semantic
        web"},{"ns":0,"title":"Subject Headings Authority File"},{"ns":0,"title":"Virtual
        International Authority File"},{"ns":0,"title":"Web NDL Authorities"},{"ns":14,"title":"Category:Articles
        containing German-language text"}]}}}}'
  recorded_at: Thu, 12 Jun 2014 19:38:20 GMT
recorded_with: VCR 2.9.2
