---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=International%20Standard%20Name%20Identifier
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"18852926":{"pageid":18852926,"ns":0,"title":"International
        Standard Name Identifier","links":[{"ns":0,"title":"110 film"},{"ns":0,"title":"126
        film"},{"ns":0,"title":"135 film"},{"ns":0,"title":"ALGOL 60"},{"ns":0,"title":"ANSI
        escape code"},{"ns":0,"title":"Ada Semantic Interface Specification"},{"ns":0,"title":"Algorithm"},{"ns":0,"title":"Antimagnetic
        watch"},{"ns":0,"title":"ArmSCII"},{"ns":0,"title":"Biblioth\u00e8que nationale
        de France"},{"ns":0,"title":"British Library"},{"ns":0,"title":"British standard
        pipe thread"},{"ns":0,"title":"C++"[...]
