---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Internet%20Broadway%20Database
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"1037348":{"pageid":1037348,"ns":0,"title":"Internet
        Broadway Database","links":[{"ns":0,"title":"Alexa Internet"},{"ns":0,"title":"Broadway
        theatre"},{"ns":0,"title":"Database"},{"ns":0,"title":"English language"},{"ns":0,"title":"Internet
        Book Database"},{"ns":0,"title":"Internet Movie Database"},{"ns":0,"title":"Internet
        Theatre Database"},{"ns":0,"title":"Lortel Archives"},{"ns":0,"title":"North
        America"},{"ns":0,"title":"The Broadway League"},{"ns":0,"title":"Theater"},{"ns":0,"title":"Theatre"},{"ns":0,"title":"Trade
        association"},{"ns":0,"title":"Uniform resource locator"},{"ns":14,"title":"Category:Articles
        containing potentially dated statements from April 2014"}]}}}}'
  recorded_at: Thu, 12 Jun 2014 19:38:21 GMT
recorded_with: VCR 2.9.2
