---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=It's%20a%20New%20Day%20(song)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"42945305":{"pageid":42945305,"ns":0,"title":"It''s
        a New Day (song)","links":[{"ns":0,"title":"It''s a New Day (Will.i.am song)"},{"ns":14,"title":"Category:Redirects
        from moves"}]}}}}'
  recorded_at: Thu, 12 Jun 2014 19:38:22 GMT
recorded_with: VCR 2.9.2
