---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Jack%20Lemmon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"15821|0|Pascal_Duquenne"}},"query":{"pages":{"15821":{"pageid":15821,"ns":0,"title":"Jack
        Lemmon","links":[{"ns":0,"title":"12 Angry Men (1997 film)"},{"ns":0,"title":"31st
        Berlin International Film Festival"},{"ns":0,"title":"44th Academy Awards"},{"ns":0,"title":"46th
        Berlin International Film Festival"},{"ns":0,"title":"55th Golden Globe Awards"},{"ns":0,"title":"AFI
        Life Achievement Award"},{"ns":0,"title":"A Big Family"},{"ns":0,"title":"Abe
        Burrows"},{"ns":0,"title":"Academy Award for Best Actor"},{"ns":0,"title":"Academy
        Aw[...]
