---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Jack%20Nicholson
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"18617829|0|Magic_Johnson"}},"query":{"pages":{"18617829":{"pageid":18617829,"ns":0,"title":"Jack
        Nicholson","links":[{"ns":0,"title":"1949 BAA Finals"},{"ns":0,"title":"1950
        NBA Finals"},{"ns":0,"title":"1952 NBA Finals"},{"ns":0,"title":"1953 NBA
        Finals"},{"ns":0,"title":"1954 NBA Finals"},{"ns":0,"title":"1971\u201372
        Los Angeles Lakers season"},{"ns":0,"title":"1972 NBA Finals"},{"ns":0,"title":"1980
        NBA Finals"},{"ns":0,"title":"1982 NBA Finals"},{"ns":0,"title":"1985 NBA
        Finals"},{"ns":0,"title":"1987 NBA Finals"},{"ns":0,"title":"1[...]
