---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=James%20Dean
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"18622157":{"pageid":18622157,"ns":0,"title":"James
        Dean","links":[{"ns":0,"title":"1956 in film"},{"ns":0,"title":"A&E Network"},{"ns":0,"title":"AFI''s
        100 Years...100 Stars"},{"ns":0,"title":"Academy Award"},{"ns":0,"title":"Academy
        Award for Best Actor"},{"ns":0,"title":"Actors Studio"},{"ns":0,"title":"Ad-lib"},{"ns":0,"title":"American
        Film Institute"},{"ns":0,"title":"American Masters"},{"ns":0,"title":"Androgyny"},{"ns":0,"title":"Andr\u00e9
        Gide"},{"ns":0,"title":"Anthony Perkins"},{"ns":0,"title":"Armstrong Circle
    [...]
