---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=James%20Franco
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"1563002|0|Richard_Pryor"}},"query":{"pages":{"1563002":{"pageid":1563002,"ns":0,"title":"James
        Franco","links":[{"ns":0,"title":"127 Hours"},{"ns":0,"title":"2011 Sundance
        Film Festival"},{"ns":0,"title":"2011 T\u014dhoku earthquake and tsunami"},{"ns":0,"title":"2013
        Cannes Film Festival"},{"ns":0,"title":"30 Rock"},{"ns":0,"title":"6th Ranger
        Battalion"},{"ns":0,"title":"826 National"},{"ns":0,"title":"83rd Academy
        Awards"},{"ns":0,"title":"ABC News"},{"ns":0,"title":"ABC Studios"},{"ns":0,"title":"AIDS
        research"},{"ns":0,"title":"A[...]
