---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=James%20Brolin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"352514":{"pageid":352514,"ns":0,"title":"James
        Brolin","links":[{"ns":0,"title":"20th Century Fox"},{"ns":0,"title":"A&E
        Network"},{"ns":0,"title":"A Fonder Heart"},{"ns":0,"title":"A Guy Thing"},{"ns":0,"title":"Aaron
        Spelling"},{"ns":0,"title":"Actor"},{"ns":0,"title":"Actress"},{"ns":0,"title":"Adam
        West"},{"ns":0,"title":"Albert Finney"},{"ns":0,"title":"Albert Paulsen"},{"ns":0,"title":"AllMovie"},{"ns":0,"title":"Allison
        Janney"},{"ns":0,"title":"American Beauty (1999 film)"},{"ns":0,"title":"American
        Broadcasti[...]
