---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=James%20Garner
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"168544":{"pageid":168544,"ns":0,"title":"James
        Garner","links":[{"ns":0,"title":"12 Hours of Sebring"},{"ns":0,"title":"24
        Hours of Daytona"},{"ns":0,"title":"24 Hours of Le Mans"},{"ns":0,"title":"36
        Hours"},{"ns":0,"title":"5th Infantry Regiment (United States)"},{"ns":0,"title":"8
        Simple Rules"},{"ns":0,"title":"A&E Network"},{"ns":0,"title":"A Man Called
        Sledge"},{"ns":0,"title":"A Man Could Get Killed"},{"ns":0,"title":"Academy
        Award"},{"ns":0,"title":"Academy Awards"},{"ns":0,"title":"Adlai Stevenson
        II"[...]
