---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Jamie%20Foxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"325191|0|Terence_Stamp"}},"query":{"pages":{"325191":{"pageid":325191,"ns":0,"title":"Jamie
        Foxx","links":[{"ns":0,"title":"2001 MTV Video Music Awards"},{"ns":0,"title":"2011
        ESPY Awards"},{"ns":0,"title":"2012 ESPY Awards"},{"ns":0,"title":"2013 ESPY
        Awards"},{"ns":0,"title":"A Million Ways to Die in the West"},{"ns":0,"title":"Academy
        Award"},{"ns":0,"title":"Academy Award for Best Actor"},{"ns":0,"title":"Academy
        Award for Best Supporting Actor"},{"ns":0,"title":"Academy Awards"},{"ns":0,"title":"Academy
        of Motion Picture Arts [...]
