---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Jeff%20Bridges
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"56439":{"pageid":56439,"ns":0,"title":"Jeff Bridges","links":[{"ns":0,"title":"2009
        Toronto International Film Festival"},{"ns":0,"title":"2009 in film"},{"ns":0,"title":"21st
        Saturn Awards"},{"ns":0,"title":"25th Independent Spirit Awards"},{"ns":0,"title":"8
        Million Ways to Die"},{"ns":0,"title":"A Dog Year"},{"ns":0,"title":"A Place
        at the Table (film)"},{"ns":0,"title":"Academy Award"},{"ns":0,"title":"Academy
        Award for Best Actor"},{"ns":0,"title":"Academy Award for Best Supporting
        Actor"},{"ns":0,"titl[...]
