---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Jeremy%20Irons
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"26274410|0|Ray_Bolger"}},"query":{"pages":{"26274410":{"pageid":26274410,"ns":0,"title":"Jeremy
        Irons","links":[{"ns":0,"title":"A Chorus of Disapproval (film)"},{"ns":0,"title":"A
        History of US"},{"ns":0,"title":"A Little Night Music"},{"ns":0,"title":"A
        Servant of Two Masters"},{"ns":0,"title":"Abe Burrows"},{"ns":0,"title":"Academy
        Award"},{"ns":0,"title":"Academy Award for Best Actor"},{"ns":0,"title":"Academy
        Awards"},{"ns":0,"title":"Adrien Brody"},{"ns":0,"title":"Advocacy"},{"ns":0,"title":"Aidan
        Higgins"},{"ns":0,"title":"Al [...]
