---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=JFK%20(film)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"39311":{"pageid":39311,"ns":0,"title":"JFK (film)","links":[{"ns":0,"title":"16
        mm film"},{"ns":0,"title":"35 mm film"},{"ns":0,"title":"8 Million Ways to
        Die"},{"ns":0,"title":"Academy Award"},{"ns":0,"title":"Academy Award for
        Best Cinematography"},{"ns":0,"title":"Academy Award for Best Film Editing"},{"ns":0,"title":"Academy
        Award for Best Picture"},{"ns":0,"title":"Academy Award for Best Sound"},{"ns":0,"title":"Academy
        Award for Best Supporting Actor"},{"ns":0,"title":"Academy Award for Directing"},{"ns":0,"[...]
