---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Jim%20Broadbent
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"271275":{"pageid":271275,"ns":0,"title":"Jim Broadbent","links":[{"ns":0,"title":"2007
        Toronto International Film Festival"},{"ns":0,"title":"2010 Toronto International
        Film Festival"},{"ns":0,"title":"Academy Award for Best Supporting Actor"},{"ns":0,"title":"Academy
        Awards"},{"ns":0,"title":"Adolph Caesar"},{"ns":0,"title":"Akim Tamiroff"},{"ns":0,"title":"Al
        Pacino"},{"ns":0,"title":"Alan Alda"},{"ns":0,"title":"Alan Arkin"},{"ns":0,"title":"Alan
        Badel"},{"ns":0,"title":"Alan Bates"},{"ns":0,"title":"Alan Rickman"},[...]
