---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Jim%20Carter%20(actor)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"5348692":{"pageid":5348692,"ns":0,"title":"Jim
        Carter (actor)","links":[{"ns":0,"title":"102 Dalmatians"},{"ns":0,"title":"16
        Years of Alcohol"},{"ns":0,"title":"A Month in the Country (film)"},{"ns":0,"title":"A
        Very British Coup"},{"ns":0,"title":"Aaron Paul"},{"ns":0,"title":"Ain''t
        Misbehavin'' (TV series)"},{"ns":0,"title":"Alas Smith and Jones"},{"ns":0,"title":"Albany
        Theatre"},{"ns":0,"title":"Albert Finney"},{"ns":0,"title":"Aleksa Palladino"},{"ns":0,"title":"Alice
        in Wonderland (2010 film)"},{"ns":0,"title":"Allen [...]
