---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Joel%20Schumacher
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"275103":{"pageid":275103,"ns":0,"title":"Joel Schumacher","links":[{"ns":0,"title":"49th
        Berlin International Film Festival"},{"ns":0,"title":"8mm (film)"},{"ns":0,"title":"A
        Time to Kill (film)"},{"ns":0,"title":"Academy Awards"},{"ns":0,"title":"Amy
        Morton"},{"ns":0,"title":"Andrew Lloyd Webber"},{"ns":0,"title":"Anthony Heald"},{"ns":0,"title":"Anthony
        Hopkins"},{"ns":0,"title":"Authority control"},{"ns":0,"title":"Bad Company
        (2002 film)"},{"ns":0,"title":"Baptist"},{"ns":0,"title":"Batman: Year One"},{"ns":0,"title"[...]
