---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=John%20Hughes%20(filmmaker)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"102467":{"pageid":102467,"ns":0,"title":"John Hughes
        (filmmaker)","links":[{"ns":0,"title":"101 Dalmatians (1996 film)"},{"ns":0,"title":"82nd
        Academy Awards"},{"ns":0,"title":"9-1-1"},{"ns":0,"title":"Alexandre Dumas"},{"ns":0,"title":"Allison
        Lynn"},{"ns":0,"title":"Ally Sheedy"},{"ns":0,"title":"American nationality
        law"},{"ns":0,"title":"Animal House"},{"ns":0,"title":"Anthony Michael Hall"},{"ns":0,"title":"April
        Fools'' Day"},{"ns":0,"title":"Arizona State University"},{"ns":0,"title":"At
        Ease (TV series)"},{"ns":0,"title"[...]
