---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Jonathan%20Rhys%20Meyers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"854376":{"pageid":854376,"ns":0,"title":"Jonathan
        Rhys Meyers","links":[{"ns":0,"title":"65th Golden Globe Awards"},{"ns":0,"title":"80th
        Academy Awards"},{"ns":0,"title":"A&E Network"},{"ns":0,"title":"A Film with
        Me in It"},{"ns":0,"title":"A Man of No Importance (film)"},{"ns":0,"title":"Actor"},{"ns":0,"title":"Ad\u00e8le
        Exarchopoulos"},{"ns":0,"title":"Al Pacino"},{"ns":0,"title":"Alan Rickman"},{"ns":0,"title":"Albert
        Cohen"},{"ns":0,"title":"Albert Finney"},{"ns":0,"title":"Albert Nobbs"},{"ns":0,"title":"Alexander
        (f[...]
