---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Joseph%20Fiennes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"88076":{"pageid":88076,"ns":0,"title":"Joseph Fiennes","links":[{"ns":0,"title":"1990s
        in film"},{"ns":0,"title":"1992 in film"},{"ns":0,"title":"1993 in film"},{"ns":0,"title":"1994
        in film"},{"ns":0,"title":"1995 in film"},{"ns":0,"title":"1996 in film"},{"ns":0,"title":"1997
        in film"},{"ns":0,"title":"1998 in film"},{"ns":0,"title":"1999 in film"},{"ns":0,"title":"2,000
        Feet Away"},{"ns":0,"title":"2000 in film"},{"ns":0,"title":"2000s in film"},{"ns":0,"title":"2001
        in film"},{"ns":0,"title":"2002 in film"},{"ns":[...]
