---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Josh%20Holloway
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"1084395":{"pageid":1084395,"ns":0,"title":"Josh
        Holloway","links":[{"ns":0,"title":"Aaron Staton"},{"ns":0,"title":"Actor"},{"ns":0,"title":"Adewale
        Akinnuoye-Agbaje"},{"ns":0,"title":"Aerosmith"},{"ns":0,"title":"Aida Turturro"},{"ns":0,"title":"Alexa
        Alemanni"},{"ns":0,"title":"Alicia Silverstone"},{"ns":0,"title":"Alison Brie"},{"ns":0,"title":"Allison
        Janney"},{"ns":0,"title":"Angel (TV series)"},{"ns":0,"title":"Arthur J. Nascarella"},{"ns":0,"title":"Battle
        of the Year: The Dream Team"},{"ns":0,"title":"Ben Browder"},{"ns"[...]
