---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Judi%20Dench
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"85432|0|Marlee_Matlin"}},"query":{"pages":{"85432":{"pageid":85432,"ns":0,"title":"Judi
        Dench","links":[{"ns":0,"title":"1997 Cannes Film Festival"},{"ns":0,"title":"55th
        British Academy Film Awards"},{"ns":0,"title":"65th British Academy Film Awards"},{"ns":0,"title":"70th
        Academy Awards"},{"ns":0,"title":"70th Venice International Film Festival"},{"ns":0,"title":"8\u00bd"},{"ns":0,"title":"ABC
        Online"},{"ns":0,"title":"ALFS Award"},{"ns":0,"title":"A Fine Romance (TV
        series)"},{"ns":0,"title":"A Little Night Music"},{"ns":0,"title":"A[...]
