---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Judy%20Garland
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"58719":{"pageid":58719,"ns":0,"title":"Judy Garland","links":[{"ns":0,"title":"\"Live\"
        at the London Palladium"},{"ns":0,"title":"13th Academy Awards"},{"ns":0,"title":"1939
        in film"},{"ns":0,"title":"1959 in music"},{"ns":0,"title":"1960 in music"},{"ns":0,"title":"1960s
        in music"},{"ns":0,"title":"1961 in music"},{"ns":0,"title":"1962 in music"},{"ns":0,"title":"1963
        in music"},{"ns":0,"title":"1964 in music"},{"ns":0,"title":"1965 in music"},{"ns":0,"title":"1966
        in music"},{"ns":0,"title":"1967 in music"},{"ns"[...]
