---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Kathleen%20Quinlan
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"1623710":{"pageid":1623710,"ns":0,"title":"Kathleen
        Quinlan","links":[{"ns":0,"title":"A Civil Action"},{"ns":0,"title":"Academy
        Award for Best Supporting Actress"},{"ns":0,"title":"Airport ''77"},{"ns":0,"title":"Albert
        Finney"},{"ns":0,"title":"Allison Janney"},{"ns":0,"title":"American Beauty
        (1999 film)"},{"ns":0,"title":"American Graffiti"},{"ns":0,"title":"Amy Irving"},{"ns":0,"title":"Annette
        Bening"},{"ns":0,"title":"Antony Sher"},{"ns":0,"title":"Apollo 13 (film)"},{"ns":0,"title":"Authority
        control"},{"ns":0,"titl[...]
