---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Kevin%20Bacon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"16827":{"pageid":16827,"ns":0,"title":"Kevin Bacon","links":[{"ns":0,"title":"2004
        in film"},{"ns":0,"title":"8 (play)"},{"ns":0,"title":"A Few Good Men"},{"ns":0,"title":"A
        Few Good Men (film)"},{"ns":0,"title":"Academy Award"},{"ns":0,"title":"Access
        Hollywood"},{"ns":0,"title":"Al Pacino"},{"ns":0,"title":"Alan Rickman"},{"ns":0,"title":"Albert
        Finney"},{"ns":0,"title":"AllMovie"},{"ns":0,"title":"Allison Janney"},{"ns":0,"title":"American
        Beauty (1999 film)"},{"ns":0,"title":"American Foundation for Equal Right[...]
