---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Kevin%20Bacon%20(disambiguation)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"9429717":{"pageid":9429717,"ns":0,"title":"Kevin
        Bacon (disambiguation)","links":[{"ns":0,"title":"Chuck (TV series)"},{"ns":0,"title":"Kevin
        Bacon"},{"ns":0,"title":"Kevin Bacon (equestrian)"},{"ns":0,"title":"Kevin
        Bacon (politician)"},{"ns":0,"title":"Kevin Bacon (producer)"},{"ns":0,"title":"Six
        Degrees of Kevin Bacon"},{"ns":12,"title":"Help:Disambiguation"}]}}}}'
  recorded_at: Thu, 12 Jun 2014 19:38:31 GMT
recorded_with: VCR 2.9.2
