---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Kevin%20Spacey
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"16768|0|Pay_It_Forward_(film)"}},"query":{"pages":{"16768":{"pageid":16768,"ns":0,"title":"Kevin
        Spacey","links":[{"ns":0,"title":"10th Empire Awards"},{"ns":0,"title":"11th
        Empire Awards"},{"ns":0,"title":"12th Empire Awards"},{"ns":0,"title":"13th
        Empire Awards"},{"ns":0,"title":"14th Empire Awards"},{"ns":0,"title":"15th
        Empire Awards"},{"ns":0,"title":"16th Empire Awards"},{"ns":0,"title":"17th
        Empire Awards"},{"ns":0,"title":"18th Empire Awards"},{"ns":0,"title":"19th
        Empire Awards"},{"ns":0,"title":"1st Empire Awards"},{"ns":0,"ti[...]
