---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Kevin%20Kline
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"221558":{"pageid":221558,"ns":0,"title":"Kevin
        Kline","links":[{"ns":0,"title":"2013 Toronto International Film Festival"},{"ns":0,"title":"AFI''s
        100 Years... 100 Laughs"},{"ns":0,"title":"A Fish Called Wanda"},{"ns":0,"title":"A
        Midsummer Night''s Dream (1999 film)"},{"ns":0,"title":"A Prairie Home Companion
        (film)"},{"ns":0,"title":"Academy Award"},{"ns":0,"title":"Academy Award for
        Best Supporting Actor"},{"ns":0,"title":"Academy Awards"},{"ns":0,"title":"Al
        Pacino"},{"ns":0,"title":"Alan Arkin"},{"ns":0,"title":[...]
