---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Kevin%20Bacon%20filmography
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"40819232":{"pageid":40819232,"ns":0,"title":"Kevin
        Bacon filmography","links":[{"ns":0,"title":"A Few Good Men"},{"ns":0,"title":"A
        Little Vicious"},{"ns":0,"title":"American Playhouse"},{"ns":0,"title":"Animal
        House"},{"ns":0,"title":"Apollo 13 (film)"},{"ns":0,"title":"Balto (film)"},{"ns":0,"title":"Beauty
        Shop"},{"ns":0,"title":"Blockbuster LLC"},{"ns":0,"title":"Bored to Death"},{"ns":0,"title":"Boston
        Society of Film Critics Award for Best Cast"},{"ns":0,"title":"Broadcast Film
        Critics Association Award for Best Actor"},{"ns":[...]
