---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Kevin%20Costner
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"144152":{"pageid":144152,"ns":0,"title":"Kevin
        Costner","links":[{"ns":0,"title":"2003 Cannes Film Festival"},{"ns":0,"title":"38th
        C\u00e9sar Awards"},{"ns":0,"title":"3 Days to Kill"},{"ns":0,"title":"A Perfect
        World"},{"ns":0,"title":"Academy Award"},{"ns":0,"title":"Academy Award for
        Best Actor"},{"ns":0,"title":"Academy Award for Best Director"},{"ns":0,"title":"Academy
        Award for Best Picture"},{"ns":0,"title":"Academy Award for Directing"},{"ns":0,"title":"Academy
        Awards"},{"ns":0,"title":"Air Force One (film)"},[...]
