---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Kyle%20Chandler
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"1967454":{"pageid":1967454,"ns":0,"title":"Kyle
        Chandler","links":[{"ns":0,"title":"58th Primetime Emmy Awards"},{"ns":0,"title":"63rd
        Primetime Emmy Awards"},{"ns":0,"title":"Ahna O''Reilly"},{"ns":0,"title":"Alan
        Arkin"},{"ns":0,"title":"Alessandro Nivola"},{"ns":0,"title":"Allison Janney"},{"ns":0,"title":"American
        Broadcasting Company"},{"ns":0,"title":"American Dad!"},{"ns":0,"title":"American
        Hustle"},{"ns":0,"title":"American football"},{"ns":0,"title":"Amy Adams"},{"ns":0,"title":"And
        Starring Pancho Villa as Him[...]
