---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Kyra%20Sedgwick
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"1547579":{"pageid":1547579,"ns":0,"title":"Kyra
        Sedgwick","links":[{"ns":0,"title":"100 Sexiest Artists"},{"ns":0,"title":"ABC
        Afterschool Special"},{"ns":0,"title":"Actress"},{"ns":0,"title":"AllMovie"},{"ns":0,"title":"Allison
        Janney"},{"ns":0,"title":"Ally McBeal"},{"ns":0,"title":"Amazing Stories (TV
        series)"},{"ns":0,"title":"American Comedy Awards"},{"ns":0,"title":"American
        Experience"},{"ns":0,"title":"Anna Paquin"},{"ns":0,"title":"Another World
        (TV series)"},{"ns":0,"title":"Authority control"},{"ns":0,"title":[...]
