---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Lanford%20Wilson
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"38231":{"pageid":38231,"ns":0,"title":"Lanford
        Wilson","links":[{"ns":0,"title":"A Sense of Place"},{"ns":0,"title":"Alfred
        Uhry"},{"ns":0,"title":"American Academy of Arts and Letters"},{"ns":0,"title":"American
        Broadcasting Company"},{"ns":0,"title":"Angels Fall"},{"ns":0,"title":"Anton
        Chekhov"},{"ns":0,"title":"August Wilson"},{"ns":0,"title":"Authority control"},{"ns":0,"title":"Balm
        in Gilead"},{"ns":0,"title":"Ben Brantley"},{"ns":0,"title":"Beth Henley"},{"ns":0,"title":"Biblioth\u00e8que
        nationale de France"}[...]
