---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Lemon%20Sky
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"22464231":{"pageid":22464231,"ns":0,"title":"Lemon
        Sky","links":[{"ns":0,"title":"A Sense of Place"},{"ns":0,"title":"Angels
        Fall"},{"ns":0,"title":"Balm in Gilead"},{"ns":0,"title":"Book of Days (play)"},{"ns":0,"title":"Brontosaurus
        (play)"},{"ns":0,"title":"Burn This"},{"ns":0,"title":"Casey Affleck"},{"ns":0,"title":"Eugene
        O''Neill Theater Center"},{"ns":0,"title":"Fifth of July"},{"ns":0,"title":"High
        school"},{"ns":0,"title":"Home Free (play)"},{"ns":0,"title":"Ikke, Ikke,
        Nye, Nye, Nye"},{"ns":0,"title":"Kevin [...]
