---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Lesley%20Sharp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"2609905":{"pageid":2609905,"ns":0,"title":"Lesley
        Sharp","links":[{"ns":0,"title":"Afterlife (TV series)"},{"ns":0,"title":"Agatha
        Christie''s Poirot"},{"ns":0,"title":"Alan Clarke"},{"ns":0,"title":"Alan
        Davies"},{"ns":0,"title":"Alan Rickman"},{"ns":0,"title":"Albert Finney"},{"ns":0,"title":"Allison
        Janney"},{"ns":0,"title":"American Beauty (1999 film)"},{"ns":0,"title":"Amy
        Irving"},{"ns":0,"title":"Andrew Lincoln"},{"ns":0,"title":"Annette Bening"},{"ns":0,"title":"Antony
        Sher"},{"ns":0,"title":"Apollo 13 (film)"},[...]
