---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Library%20of%20Congress%20Control%20Number
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"1491462":{"pageid":1491462,"ns":0,"title":"Library
        of Congress Control Number","links":[{"ns":0,"title":"CODEN"},{"ns":0,"title":"Hyphen"},{"ns":0,"title":"Identifier"},{"ns":0,"title":"International
        Standard Book Number"},{"ns":0,"title":"Librarian"},{"ns":0,"title":"Library
        catalog"},{"ns":0,"title":"Library of Congress"},{"ns":0,"title":"Library
        of Congress Classification"},{"ns":0,"title":"Serial number"},{"ns":0,"title":"Universal
        Authority File"},{"ns":4,"title":"Wikipedia:Stub"},{"ns":10,"title":"Template:LOC-stub"},{"ns":11,"title":"Template
        talk:LOC-stub"}]}}}}'
  recorded_at: Thu, 12 Jun 2014 19:38:34 GMT
recorded_with: VCR 2.9.2
