---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Lortel%20Archives
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"9801146":{"pageid":9801146,"ns":0,"title":"Lortel
        Archives","links":[{"ns":0,"title":"Database"},{"ns":0,"title":"English language"},{"ns":0,"title":"Internet
        Book Database"},{"ns":0,"title":"Internet Broadway Database"},{"ns":0,"title":"Internet
        Movie Database"},{"ns":0,"title":"Internet Theatre Database"},{"ns":0,"title":"Lucille
        Lortel"},{"ns":0,"title":"Lucille Lortel Foundation"},{"ns":0,"title":"Musical
        theatre"},{"ns":0,"title":"Off-Broadway"},{"ns":0,"title":"Theatre"},{"ns":0,"title":"Uniform
        resource locator"},{"ns":4,"title":"Wikipedia:Stub"},{"ns":10,"title":"Template:US-theat-stub"},{"ns":10,"title":"Template:Website-stub"},{"ns":11,"title":"Template
        talk:US-theat-stub"},{"ns":11,"title":"Template talk:Website-stub"}]}}}}'
  recorded_at: Thu, 12 Jun 2014 19:38:35 GMT
recorded_with: VCR 2.9.2
