---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Losing%20Chase
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"38144684":{"pageid":38144684,"ns":0,"title":"Losing
        Chase","links":[{"ns":0,"title":"54th Golden Globe Awards"},{"ns":0,"title":"AllMovie"},{"ns":0,"title":"Beau
        Bridges"},{"ns":0,"title":"Box Office Mojo"},{"ns":0,"title":"Boxoffice (magazine)"},{"ns":0,"title":"Chicago
        Tribune"},{"ns":0,"title":"Deseret News"},{"ns":0,"title":"Directorial debut"},{"ns":0,"title":"English
        language"},{"ns":0,"title":"Golden Globe Award"},{"ns":0,"title":"Golden Globe
        Awards"},{"ns":0,"title":"Helen Mirren"},{"ns":0,"title":"Internet Movie Database"},{"ns":0,"title":"Kevin
        Bacon"},{"ns":0,"title":"Kyra Sedgwick"},{"ns":0,"title":"Manhattan"},{"ns":0,"title":"Martha''s
        Vineyard"},{"ns":0,"title":"Michael Yarmush"},{"ns":0,"title":"Rotten Tomatoes"},{"ns":0,"title":"Showtime
        (TV channel)"},{"ns":0,"title":"Six Degrees of Kevin Bacon"},{"ns":0,"title":"Sundance
        Film Festival"},{"ns":0,"title":"Television film"},{"ns":0,"title":"The Austin
        Chronicle"},{"ns":0,"title":"The New York Times"},{"ns":0,"title":"United
        States"}]}}}}'
  recorded_at: Thu, 12 Jun 2014 19:38:35 GMT
recorded_with: VCR 2.9.2
