---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Loverboy%20(2005%20film)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"5892193":{"pageid":5892193,"ns":0,"title":"Loverboy
        (2005 film)","links":[{"ns":0,"title":"2005 in film"},{"ns":0,"title":"AllMovie"},{"ns":0,"title":"Blair
        Brown"},{"ns":0,"title":"Box Office Mojo"},{"ns":0,"title":"Campbell Scott"},{"ns":0,"title":"Daniel
        Bigel"},{"ns":0,"title":"Dominic Scott Kay"},{"ns":0,"title":"Internet Movie
        Database"},{"ns":0,"title":"Kevin Bacon"},{"ns":0,"title":"Kyra Sedgwick"},{"ns":0,"title":"Marisa
        Tomei"},{"ns":0,"title":"Matt Dillon"},{"ns":0,"title":"Michael Bacon (musician)"},{"ns":0,"title":"Michael
        Mailer"},{"ns":0,"title":"Naelee Rae"},{"ns":0,"title":"Oliver Platt"},{"ns":0,"title":"Robert
        Sedgwick (actor)"},{"ns":0,"title":"Sandra Bullock"},{"ns":0,"title":"Sosie
        Bacon"},{"ns":0,"title":"Sosie Ruth Bacon"},{"ns":0,"title":"Spencer Treat
        Clark"},{"ns":0,"title":"The Closer"},{"ns":0,"title":"ThinkFilm"},{"ns":0,"title":"Victoria
        Redel"}]}}}}'
  recorded_at: Thu, 12 Jun 2014 19:38:35 GMT
recorded_with: VCR 2.9.2
