---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Luis%20Guzm%C3%A1n
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"669594":{"pageid":669594,"ns":0,"title":"Luis Guzm\u00e1n","links":[{"ns":0,"title":"*batteries
        not included"},{"ns":0,"title":"Albert Finney"},{"ns":0,"title":"Allison Janney"},{"ns":0,"title":"American
        Beauty (1999 film)"},{"ns":0,"title":"Amy Irving"},{"ns":0,"title":"Anger
        Management (film)"},{"ns":0,"title":"Annette Bening"},{"ns":0,"title":"Antony
        Sher"},{"ns":0,"title":"Apollo 13 (film)"},{"ns":0,"title":"Arthur (2011 film)"},{"ns":0,"title":"Authority
        control"},{"ns":0,"title":"Aztec Warrior"},{"ns":0,"title":"Ben[...]
