---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=M%C3%A9nage%20%C3%A0%20trois
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"321686":{"pageid":321686,"ns":0,"title":"M\u00e9nage
        \u00e0 trois","links":[{"ns":0,"title":"Aldous Huxley"},{"ns":0,"title":"Carl
        Jung"},{"ns":0,"title":"Catherine Parr"},{"ns":0,"title":"Charles de Villers"},{"ns":0,"title":"Christabel
        Marshall"},{"ns":0,"title":"Clare Atwood"},{"ns":0,"title":"Clive Bell"},{"ns":0,"title":"Consummation"},{"ns":0,"title":"Count
        Adolf Fredrik Munck af Fulkila"},{"ns":0,"title":"David Constantine"},{"ns":0,"title":"David
        Starkey"},{"ns":0,"title":"Deirdre Bair"},{"ns":0,"title":"Dorothea von Rodde-Schl\u[...]
