---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Mark%20Addy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"1553804":{"pageid":1553804,"ns":0,"title":"Mark
        Addy","links":[{"ns":0,"title":"2011 Scream Awards"},{"ns":0,"title":"A Knight''s
        Tale"},{"ns":0,"title":"A Knight''s Tale (film)"},{"ns":0,"title":"A Very
        Peculiar Practice"},{"ns":0,"title":"Albert Finney"},{"ns":0,"title":"Allison
        Janney"},{"ns":0,"title":"American Beauty (1999 film)"},{"ns":0,"title":"Amy
        Irving"},{"ns":0,"title":"Annette Bening"},{"ns":0,"title":"Antony Sher"},{"ns":0,"title":"Apollo
        13 (film)"},{"ns":0,"title":"Around the World in 80 Days (2004 fi[...]
