---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Martin%20Clunes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"462466":{"pageid":462466,"ns":0,"title":"Martin
        Clunes","links":[{"ns":0,"title":"A Is for Acid"},{"ns":0,"title":"Abner Pastoll"},{"ns":0,"title":"Academy
        Award"},{"ns":0,"title":"Albert Finney"},{"ns":0,"title":"Alec Clunes"},{"ns":0,"title":"All
        at No 20"},{"ns":0,"title":"Allison Janney"},{"ns":0,"title":"American Beauty
        (1999 film)"},{"ns":0,"title":"Amy Irving"},{"ns":0,"title":"Ancestry.co.uk"},{"ns":0,"title":"Annette
        Bening"},{"ns":0,"title":"Antony Sher"},{"ns":0,"title":"Apollo 13 (film)"},{"ns":0,"title":"Arthur
  [...]
