---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Matthew%20McConaughey
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"27834683":{"pageid":27834683,"ns":0,"title":"Matthew
        McConaughey","links":[{"ns":0,"title":"21st Saturn Awards"},{"ns":0,"title":"86th
        Academy Awards"},{"ns":0,"title":"AIDS"},{"ns":0,"title":"A Time to Kill (Grisham
        novel)"},{"ns":0,"title":"A Time to Kill (film)"},{"ns":0,"title":"Academy
        Award"},{"ns":0,"title":"Academy Award for Best Actor"},{"ns":0,"title":"Academy
        Award for Best Makeup and Hairstyling"},{"ns":0,"title":"Academy Award for
        Best Picture"},{"ns":0,"title":"Academy Award for Best Supporting Actor"},{"ns":0,"tit[...]
