---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Matthew%20Fox
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"512042":{"pageid":512042,"ns":0,"title":"Matthew
        Fox","links":[{"ns":0,"title":"2012 Toronto International Film Festival"},{"ns":0,"title":"50
        Most Beautiful People in the World"},{"ns":0,"title":"A Token for Your Thoughts"},{"ns":0,"title":"Aaron
        Staton"},{"ns":0,"title":"Abington Township, Montgomery County, Pennsylvania"},{"ns":0,"title":"Adewale
        Akinnuoye-Agbaje"},{"ns":0,"title":"Aida Turturro"},{"ns":0,"title":"Alex
        Cross (film)"},{"ns":0,"title":"Alexa Alemanni"},{"ns":0,"title":"Alison Brie"},{"ns":0,"title":"Allison[...]
