---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Matthew%20Vaughn
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"664740":{"pageid":664740,"ns":0,"title":"Matthew
        Vaughn","links":[{"ns":0,"title":"20th Century Fox"},{"ns":0,"title":"A Short
        Film About John Bolton"},{"ns":0,"title":"Annabella Sciorra"},{"ns":0,"title":"Authority
        control"},{"ns":0,"title":"BAFTA Awards"},{"ns":0,"title":"Brett Ratner"},{"ns":0,"title":"British
        Independent Film Award"},{"ns":0,"title":"British Independent Film Awards"},{"ns":0,"title":"Broadcast
        Film Critics Association Awards"},{"ns":0,"title":"Bryan Singer"},{"ns":0,"title":"Buckingham"},{"ns":0,"title":"Cl[...]
