---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Meme
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"19312":{"pageid":19312,"ns":0,"title":"Meme","links":[{"ns":0,"title":"4chan"},{"ns":0,"title":"A
        Devil''s Chaplain"},{"ns":0,"title":"A Theory of Architecture"},{"ns":0,"title":"Aaron
        Lynch"},{"ns":0,"title":"Altruism"},{"ns":0,"title":"An Appetite for Wonder"},{"ns":0,"title":"Analemma"},{"ns":0,"title":"Ancient
        Greek"},{"ns":0,"title":"Anthropology"},{"ns":0,"title":"Antipattern"},{"ns":0,"title":"Apostasy"},{"ns":0,"title":"Atom"},{"ns":0,"title":"Bandwagon
        effect"},{"ns":0,"title":"Bertrand Russell"},{"ns":0,"t[...]
