---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Mena%20Suvari
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"340254":{"pageid":340254,"ns":0,"title":"Mena Suvari","links":[{"ns":0,"title":"2008
        Sundance Film Festival"},{"ns":0,"title":"Academy Award"},{"ns":0,"title":"Aerith
        Gainsborough"},{"ns":0,"title":"African Medical and Research Foundation"},{"ns":0,"title":"Albert
        Finney"},{"ns":0,"title":"Alec Baldwin"},{"ns":0,"title":"Alicia Silverstone"},{"ns":0,"title":"Allison
        Janney"},{"ns":0,"title":"American Beauty (1999 film)"},{"ns":0,"title":"American
        Horror Story: Murder House"},{"ns":0,"title":"American Pie (film)"},{"n[...]
