---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Meryl%20Streep
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"63390|0|Kramer_vs._Kramer"}},"query":{"pages":{"63390":{"pageid":63390,"ns":0,"title":"Meryl
        Streep","links":[{"ns":0,"title":"20th Screen Actors Guild Awards"},{"ns":0,"title":"32nd
        Grammy Awards"},{"ns":0,"title":"35th People''s Choice Awards"},{"ns":0,"title":"61st
        Academy Awards"},{"ns":0,"title":"69th Golden Globe Awards"},{"ns":0,"title":"84th
        Academy Awards"},{"ns":0,"title":"A.I. Artificial Intelligence"},{"ns":0,"title":"AACTA
        Award for Best Actress in a Leading Role"},{"ns":0,"title":"AACTA International
        Award for Best Act[...]
