---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Michael%20Strobl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"21268523":{"pageid":21268523,"ns":0,"title":"Michael
        Strobl","links":[{"ns":0,"title":"Al Ramadi"},{"ns":0,"title":"Authority control"},{"ns":0,"title":"Billings,
        Montana"},{"ns":0,"title":"Chance Phelps"},{"ns":0,"title":"Clifton, Colorado"},{"ns":0,"title":"Combat
        Action Ribbon"},{"ns":0,"title":"Commendation Medal"},{"ns":0,"title":"Dover
        Air Force Base"},{"ns":0,"title":"Dubois, Wyoming"},{"ns":0,"title":"Good
        Friday"},{"ns":0,"title":"Grand Junction, Colorado"},{"ns":0,"title":"Gulf
        War"},{"ns":0,"title":"HBO"},{"ns":0[...]
