---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Michael%20Caine
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"61479|0|Rupert_Everett"}},"query":{"pages":{"61479":{"pageid":61479,"ns":0,"title":"Michael
        Caine","links":[{"ns":0,"title":"A Bridge Too Far (film)"},{"ns":0,"title":"A
        Hill in Korea"},{"ns":0,"title":"Academy Award"},{"ns":0,"title":"Academy
        Award for Best Supporting Actor"},{"ns":0,"title":"Academy Awards"},{"ns":0,"title":"Adrien
        Brody"},{"ns":0,"title":"Agnes Moorehead"},{"ns":0,"title":"Al Pacino"},{"ns":0,"title":"Alan
        Alda"},{"ns":0,"title":"Alan Arkin"},{"ns":0,"title":"Alan King (comedian)"},{"ns":0,"title":"Alan
        Rickma[...]
