---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Michael%20Bacon%20(musician)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"17384216":{"pageid":17384216,"ns":0,"title":"Michael
        Bacon (musician)","links":[{"ns":0,"title":"A Place in the Land"},{"ns":0,"title":"A
        Time for Justice"},{"ns":0,"title":"African American Lives"},{"ns":0,"title":"Albums"},{"ns":0,"title":"American
        Experience"},{"ns":0,"title":"Ann Wyeth McCoy"},{"ns":0,"title":"Authority
        control"},{"ns":0,"title":"Bacon Brothers"},{"ns":0,"title":"Banjo"},{"ns":0,"title":"Barbara
        Kopple"},{"ns":0,"title":"Biblioth\u00e8que nationale de France"},{"ns":0,"title":"Bill
        Moyers Journal"},{"ns":0,"title[...]
