---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Michael%20C.%20Hall
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"749247":{"pageid":749247,"ns":0,"title":"Michael
        C. Hall","links":[{"ns":0,"title":"2012 Golden Globe Awards"},{"ns":0,"title":"67th
        Golden Globe Awards"},{"ns":0,"title":"A Midsummer Night''s Dream"},{"ns":0,"title":"Aaron
        Staton"},{"ns":0,"title":"Adewale Akinnuoye-Agbaje"},{"ns":0,"title":"Aida
        Turturro"},{"ns":0,"title":"Alan Ball (screenwriter)"},{"ns":0,"title":"Alexa
        Alemanni"},{"ns":0,"title":"Alison Brie"},{"ns":0,"title":"Allison Janney"},{"ns":0,"title":"American
        Film Institute"},{"ns":0,"title":"American Film[...]
