---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Michael%20Douglas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"78781|0|The_In-Laws_(2003_film)"}},"query":{"pages":{"78781":{"pageid":78781,"ns":0,"title":"Michael
        Douglas","links":[{"ns":0,"title":"11th Irish Film & Television Awards"},{"ns":0,"title":"1987
        Cannes Film Festival"},{"ns":0,"title":"65th Primetime Emmy Awards"},{"ns":0,"title":"AFI
        Life Achievement Award"},{"ns":0,"title":"A Chorus Line (film)"},{"ns":0,"title":"A
        Perfect Murder"},{"ns":0,"title":"Academy Award"},{"ns":0,"title":"Academy
        Award for Best Actor"},{"ns":0,"title":"Academy Award for Best Picture"},{"ns":0,"title":"Academy
        A[...]
