---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Mickey%20Rooney
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"87624|10|Refimprove_section"}},"query":{"pages":{"87624":{"pageid":87624,"ns":0,"title":"Mickey
        Rooney","links":[{"ns":0,"title":"9-1-1"},{"ns":0,"title":"A Family Affair
        (1937 film)"},{"ns":0,"title":"A Funny Thing Happened on the Way to the Forum"},{"ns":0,"title":"A
        Gaiety Girl"},{"ns":0,"title":"A Midsummer Night''s Dream"},{"ns":0,"title":"A
        Midsummer Night''s Dream (1935 film)"},{"ns":0,"title":"A Miser Brothers''
        Christmas"},{"ns":0,"title":"A Yank at Eton"},{"ns":0,"title":"Academy Award"},{"ns":0,"title":"Academy
        Award for Be[...]
