---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Mickey%20Rourke
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"530936|11|Golden_Globe_Award_Best_Actor_Motion_Picture_Drama"}},"query":{"pages":{"530936":{"pageid":530936,"ns":0,"title":"Mickey
        Rourke","links":[{"ns":0,"title":"11th Critics'' Choice Awards"},{"ns":0,"title":"14th
        Critics'' Choice Awards"},{"ns":0,"title":"1941 (film)"},{"ns":0,"title":"2008
        Toronto International Film Festival"},{"ns":0,"title":"48 Hrs."},{"ns":0,"title":"5th
        Street Gym"},{"ns":0,"title":"7 July 2005 London bombings"},{"ns":0,"title":"9\u00bd
        Weeks"},{"ns":0,"title":"Academy Award"},{"ns":0,"title":"Academy Awards"},{"ns":0,"title":"Actors
        Studio"}[...]
