---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Miguel%20Ferrer
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"970710":{"pageid":970710,"ns":0,"title":"Miguel
        Ferrer","links":[{"ns":0,"title":"3rd Rock from the Sun"},{"ns":0,"title":"Academy
        Award"},{"ns":0,"title":"Actor"},{"ns":0,"title":"Adventure Time"},{"ns":0,"title":"Albert
        Finney"},{"ns":0,"title":"Albert Rosenfield"},{"ns":0,"title":"Allison Janney"},{"ns":0,"title":"American
        Beauty (1999 film)"},{"ns":0,"title":"American Dad!"},{"ns":0,"title":"Amy
        Irving"},{"ns":0,"title":"Annette Bening"},{"ns":0,"title":"Another Stakeout"},{"ns":0,"title":"Antony
        Sher"},{"ns":0,"ti[...]
