---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=MPAA%20film%20rating%20system
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"7790264":{"pageid":7790264,"ns":0,"title":"MPAA
        film rating system","links":[{"ns":0,"title":"Motion Picture Association of
        America film rating system"}]}}}}'
  recorded_at: Thu, 12 Jun 2014 19:38:36 GMT
recorded_with: VCR 2.9.2
