---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=MPAA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"19651":{"pageid":19651,"ns":0,"title":"MPAA","links":[{"ns":0,"title":"Motion
        Picture Association of America"}]}}}}'
  recorded_at: Thu, 12 Jun 2014 19:38:36 GMT
recorded_with: VCR 2.9.2
