---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=MTV%20Movie%20Award%20for%20Best%20Villain
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"19914748":{"pageid":19914748,"ns":0,"title":"MTV
        Movie Award for Best Villain","links":[{"ns":0,"title":"12 Years a Slave (film)"},{"ns":0,"title":"1992
        MTV Movie Awards"},{"ns":0,"title":"1993 MTV Movie Awards"},{"ns":0,"title":"1994
        MTV Movie Awards"},{"ns":0,"title":"1995 MTV Movie Awards"},{"ns":0,"title":"1996
        MTV Movie Awards"},{"ns":0,"title":"1997 MTV Movie Awards"},{"ns":0,"title":"1998
        MTV Movie Awards"},{"ns":0,"title":"1999 MTV Movie Awards"},{"ns":0,"title":"2000
        MTV Movie Awards"},{"ns":0,"title":"2001 MTV Movie Awards"},{"ns":[...]
