---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=MTV%20Movie%20Awards
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"538696":{"pageid":538696,"ns":0,"title":"MTV Movie
        Awards","links":[{"ns":0,"title":"''N Sync"},{"ns":0,"title":"127 Hours"},{"ns":0,"title":"1992
        MTV Movie Awards"},{"ns":0,"title":"1993 MTV Movie Awards"},{"ns":0,"title":"1994
        MTV Movie Awards"},{"ns":0,"title":"1995 MTV Movie Awards"},{"ns":0,"title":"1996
        MTV Movie Awards"},{"ns":0,"title":"1997 MTV Movie Awards"},{"ns":0,"title":"1998
        MTV Movie Awards"},{"ns":0,"title":"1999 MTV Movie Awards"},{"ns":0,"title":"2000
        MTV Movie Awards"},{"ns":0,"title":"2001 MTV Movie A[...]
