---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Murder%20in%20the%20First%20(film)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"1528272":{"pageid":1528272,"ns":0,"title":"Murder
        in the First (film)","links":[{"ns":0,"title":"1994 Northridge earthquake"},{"ns":0,"title":"1995
        in film"},{"ns":0,"title":"Abdomen"},{"ns":0,"title":"Alcatraz Federal Penitentiary"},{"ns":0,"title":"Alex
        Bookston"},{"ns":0,"title":"AllMovie"},{"ns":0,"title":"Arthur Barker"},{"ns":0,"title":"Bank
        robbery"},{"ns":0,"title":"Ben Slack"},{"ns":0,"title":"Box Office Mojo"},{"ns":0,"title":"Brad
        Dourif"},{"ns":0,"title":"Cafeteria"},{"ns":0,"title":"Christian Slater"},{"ns":0,"title":"Christmas
[...]
