---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Music%20album
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"1329425":{"pageid":1329425,"ns":0,"title":"Music
        album","links":[{"ns":0,"title":"Album"}]}}}}'
  recorded_at: Thu, 12 Jun 2014 19:38:44 GMT
recorded_with: VCR 2.9.2
