---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Mystic%20River%20(film)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"460052":{"pageid":460052,"ns":0,"title":"Mystic
        River (film)","links":[{"ns":0,"title":"2003 Cannes Film Festival"},{"ns":0,"title":"57th
        BAFTA Film Awards"},{"ns":0,"title":"61st Golden Globe Awards"},{"ns":0,"title":"76th
        Academy Awards"},{"ns":0,"title":"A Drink Before the War"},{"ns":0,"title":"A
        Perfect World"},{"ns":0,"title":"Absolute Power (film)"},{"ns":0,"title":"Academy
        Award for Best Actor"},{"ns":0,"title":"Academy Award for Best Picture"},{"ns":0,"title":"Academy
        Award for Best Supporting Actor"},{"ns":0,"title[...]
