---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Nancy%20Mills
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"3873913":{"pageid":3873913,"ns":0,"title":"Nancy
        Mills","links":[{"ns":0,"title":"Nancy Millis"}]}}}}'
  recorded_at: Thu, 12 Jun 2014 19:38:46 GMT
recorded_with: VCR 2.9.2
