---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Nathan%20Lane
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"271874|0|Trumbo_(film)"}},"query":{"pages":{"271874":{"pageid":271874,"ns":0,"title":"Nathan
        Lane","links":[{"ns":0,"title":"30 Rock"},{"ns":0,"title":"A Celebration in
        Song"},{"ns":0,"title":"A Funny Thing Happened on the Way to the Forum"},{"ns":0,"title":"A
        Midsummer Night''s Dream"},{"ns":0,"title":"A Muppet Christmas: Letters to
        Santa"},{"ns":0,"title":"Abe Burrows"},{"ns":0,"title":"Absolutely Fabulous"},{"ns":0,"title":"Actors
        Equity"},{"ns":0,"title":"Addams Family Values"},{"ns":0,"title":"Adolph Caesar"},{"ns":0,"title":"Adrian
 [...]
