---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Obie%20Award
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"853405":{"pageid":853405,"ns":0,"title":"Obie Award","links":[{"ns":0,"title":"4000
        Miles"},{"ns":0,"title":"A Very Merry Unauthorized Children''s Scientology
        Pageant"},{"ns":0,"title":"Acting"},{"ns":0,"title":"Adrienne Kennedy"},{"ns":0,"title":"Bad
        Habits (play)"},{"ns":0,"title":"Broadway theatre"},{"ns":0,"title":"Bug (play)"},{"ns":0,"title":"Caridad
        Svich"},{"ns":0,"title":"Cloud Nine (play)"},{"ns":0,"title":"David Hyde Pierce"},{"ns":0,"title":"Design"},{"ns":0,"title":"Detroit
        (play)"},{"ns":0,"title":"Dra[...]
