---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Oliver%20Stone
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"21486951|10|Academy_Award_Best_Adapted_Screenplay"}},"query":{"pages":{"21486951":{"pageid":21486951,"ns":0,"title":"Oliver
        Stone","links":[{"ns":0,"title":"\"V\" device"},{"ns":0,"title":"1st Cavalry
        Division (United States)"},{"ns":0,"title":"2003 invasion of Iraq"},{"ns":0,"title":"2007\u20132008
        Writers Guild of America strike"},{"ns":0,"title":"2010 Cannes Film Festival"},{"ns":0,"title":"25th
        Infantry Division (United States)"},{"ns":0,"title":"8 Million Ways to Die"},{"ns":0,"title":"AFI''s
        100 Years... 100 Movies"},{"ns":0,"title":"Aaron Sorkin"},{"ns":0,"title"[...]
