---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Paul%20Verhoeven
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"66206":{"pageid":66206,"ns":0,"title":"Paul Verhoeven","links":[{"ns":0,"title":"1971
        in film"},{"ns":0,"title":"1973 in film"},{"ns":0,"title":"1975 in film"},{"ns":0,"title":"1977
        in film"},{"ns":0,"title":"1980 in film"},{"ns":0,"title":"1983 in film"},{"ns":0,"title":"1985
        in film"},{"ns":0,"title":"1987 in film"},{"ns":0,"title":"1990 in film"},{"ns":0,"title":"1992
        Cannes Film Festival"},{"ns":0,"title":"1992 in film"},{"ns":0,"title":"1995
        Golden Raspberry Awards"},{"ns":0,"title":"1995 in film"},{"ns":0,"title[...]
