---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Paul%20Barber%20(actor)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"1379776":{"pageid":1379776,"ns":0,"title":"Paul
        Barber (actor)","links":[{"ns":0,"title":"Albert Finney"},{"ns":0,"title":"Allison
        Janney"},{"ns":0,"title":"American Beauty (1999 film)"},{"ns":0,"title":"Amy
        Irving"},{"ns":0,"title":"Annette Bening"},{"ns":0,"title":"Antony Sher"},{"ns":0,"title":"Apollo
        13 (film)"},{"ns":0,"title":"Authority control"},{"ns":0,"title":"BBC"},{"ns":0,"title":"Ben
        Affleck"},{"ns":0,"title":"Benicio del Toro"},{"ns":0,"title":"Benjamin Bratt"},{"ns":0,"title":"Bill
        Paxton"},{"ns":0,"title":"Boys [...]
