---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Paul%20Erd%C5%91s
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"601284":{"pageid":601284,"ns":0,"title":"Paul Erd\u0151s","links":[{"ns":0,"title":"A.
        R. Reddy"},{"ns":0,"title":"Adrian Bondy"},{"ns":0,"title":"Agnostic atheist"},{"ns":0,"title":"Alberto
        Calder\u00f3n"},{"ns":0,"title":"Alexander Soifer"},{"ns":0,"title":"Alfr\u00e9d
        R\u00e9nyi"},{"ns":0,"title":"Alma mater"},{"ns":0,"title":"American Mathematical
        Society"},{"ns":0,"title":"Amphetamine"},{"ns":0,"title":"Analytic number
        theory"},{"ns":0,"title":"Andrew Wiles"},{"ns":0,"title":"Andrey Kolmogorov"},{"ns":0,"title":"And[...]
