---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Paul%20Giamatti
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"130715|0|Sabrina_(1995_film)"}},"query":{"pages":{"130715":{"pageid":130715,"ns":0,"title":"Paul
        Giamatti","links":[{"ns":0,"title":"12 Years a Slave (film)"},{"ns":0,"title":"2010
        Toronto International Film Festival"},{"ns":0,"title":"2013 Toronto International
        Film Festival"},{"ns":0,"title":"30 Rock"},{"ns":0,"title":"A. Bartlett Giamatti"},{"ns":0,"title":"A
        Further Gesture"},{"ns":0,"title":"Abigail Breslin"},{"ns":0,"title":"Abraham
        Zapruder"},{"ns":0,"title":"Academy Award"},{"ns":0,"title":"Academy Award
        for Best Supporting Actor[...]
