---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Paul%20Newman
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"49706|0|Nixon''s_Enemies_List"}},"query":{"pages":{"49706":{"pageid":49706,"ns":0,"title":"Paul
        Newman","links":[{"ns":0,"title":"1958 Cannes Film Festival"},{"ns":0,"title":"1979
        24 Hours of Le Mans"},{"ns":0,"title":"1987 Cannes Film Festival"},{"ns":0,"title":"2000
        Petit Le Mans"},{"ns":0,"title":"24 Hours of Daytona"},{"ns":0,"title":"24
        Hours of Le Mans"},{"ns":0,"title":"45th Berlin International Film Festival"},{"ns":0,"title":"A.E.
        Hotchner"},{"ns":0,"title":"A. E. Hotchner"},{"ns":0,"title":"A Big Family"},{"ns":0,"title":"A
        Ne[...]
