---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Payola
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"53692":{"pageid":53692,"ns":0,"title":"Payola","links":[{"ns":0,"title":"Actus
        reus"},{"ns":0,"title":"Alan Freed"},{"ns":0,"title":"Arson"},{"ns":0,"title":"Assault"},{"ns":0,"title":"Attempt"},{"ns":0,"title":"Automatism
        (law)"},{"ns":0,"title":"Battery (crime)"},{"ns":0,"title":"Berri Txarrak"},{"ns":0,"title":"Billy
        Joel"},{"ns":0,"title":"Blackmail"},{"ns":0,"title":"Burglary"},{"ns":0,"title":"CBS"},{"ns":0,"title":"CBS
        Radio"},{"ns":0,"title":"Causation (law)"},{"ns":0,"title":"Citadel Broadcasting
        Corp[...]
