---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=PBS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"29697498|0|Public_affairs_(broadcasting)"}},"query":{"pages":{"29697498":{"pageid":29697498,"ns":0,"title":"PBS","links":[{"ns":0,"title":"''Allo
        ''Allo!"},{"ns":0,"title":"1080i"},{"ns":0,"title":"1080p"},{"ns":0,"title":"14:9"},{"ns":0,"title":"1994
        United States broadcast TV realignment"},{"ns":0,"title":"1997 Webby Awards"},{"ns":0,"title":"1998
        Webby Awards"},{"ns":0,"title":"1999 Webby Awards"},{"ns":0,"title":"2000
        Webby Awards"},{"ns":0,"title":"2001 Vancouver TV realignment"},{"ns":0,"title":"2001
        Webby Awards"},{"ns":0,"title":"2002 Webby Awards"},{"n[...]
