---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Pennsylvania%20Governor's%20School%20for%20the%20Arts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"6069527":{"pageid":6069527,"ns":0,"title":"Pennsylvania
        Governor''s School for the Arts","links":[{"ns":0,"title":"Aaron Jay Kernis"},{"ns":0,"title":"Alice
        Sebold"},{"ns":0,"title":"Architecture"},{"ns":0,"title":"Ari Hoenig"},{"ns":0,"title":"Artists''
        colony"},{"ns":0,"title":"Ballet"},{"ns":0,"title":"Bassoon"},{"ns":0,"title":"Boarding
        school"},{"ns":0,"title":"Boris Bally"},{"ns":0,"title":"Brass"},{"ns":0,"title":"Bucknell
        University"},{"ns":0,"title":"Butler Area School District"},{"ns":0,"title":"Cello"},{"ns":0,"title":"Ceramics
        (art)"},{"ns[...]
