---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=People's%20Choice%20Awards
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"567045":{"pageid":567045,"ns":0,"title":"People''s
        Choice Awards","links":[{"ns":0,"title":"16th People''s Choice Awards"},{"ns":0,"title":"17th
        People''s Choice Awards"},{"ns":0,"title":"18th People''s Choice Awards"},{"ns":0,"title":"19th
        People''s Choice Awards"},{"ns":0,"title":"1st People''s Choice Awards"},{"ns":0,"title":"20th
        People''s Choice Awards"},{"ns":0,"title":"21st People''s Choice Awards"},{"ns":0,"title":"22nd
        People''s Choice Awards"},{"ns":0,"title":"23rd People''s Choice Awards"},{"ns":0,"title":"24th
        People[...]
