---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Peter%20Gallagher
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"655451":{"pageid":655451,"ns":0,"title":"Peter
        Gallagher","links":[{"ns":0,"title":"1979 in television"},{"ns":0,"title":"1980
        in film"},{"ns":0,"title":"1980 in television"},{"ns":0,"title":"1982 in film"},{"ns":0,"title":"1982
        in television"},{"ns":0,"title":"1984 in film"},{"ns":0,"title":"1984 in television"},{"ns":0,"title":"1985
        in film"},{"ns":0,"title":"1986 in film"},{"ns":0,"title":"1987 in film"},{"ns":0,"title":"1988
        in film"},{"ns":0,"title":"1989 in film"},{"ns":0,"title":"1990 in film"},{"ns":0,"title":"1991
     [...]
