---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Peter%20Riegert
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"1325119":{"pageid":1325119,"ns":0,"title":"Peter
        Riegert","links":[{"ns":0,"title":"A Shock to the System"},{"ns":0,"title":"Academy
        Award"},{"ns":0,"title":"Actor"},{"ns":0,"title":"Albert Finney"},{"ns":0,"title":"Allison
        Janney"},{"ns":0,"title":"American Beauty (1999 film)"},{"ns":0,"title":"Americathon"},{"ns":0,"title":"Amy
        Irving"},{"ns":0,"title":"An Element of Truth"},{"ns":0,"title":"Animal House"},{"ns":0,"title":"Annette
        Bening"},{"ns":0,"title":"Antony Sher"},{"ns":0,"title":"Apollo 13 (film)"},{"ns":0,"title":"Ards[...]
