---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Philadelphia
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"50585|0|Hampton_Roads"}},"query":{"pages":{"50585":{"pageid":50585,"ns":0,"title":"Philadelphia","links":[{"ns":0,"title":"1790
        United States Census"},{"ns":0,"title":"1800 United States Census"},{"ns":0,"title":"1810
        United States Census"},{"ns":0,"title":"1820 United States Census"},{"ns":0,"title":"1830
        United States Census"},{"ns":0,"title":"1835 Philadelphia General Strike"},{"ns":0,"title":"1840
        United States Census"},{"ns":0,"title":"1850 United States Census"},{"ns":0,"title":"1860
        United States Census"},{"ns":0,"title":"1870 Un[...]
