---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Philadelphia,%20Pennsylvania
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"14740009":{"pageid":14740009,"ns":0,"title":"Philadelphia,
        Pennsylvania","links":[{"ns":0,"title":"Philadelphia"},{"ns":4,"title":"Wikipedia:PLACE"},{"ns":14,"title":"Category:Printworthy
        redirects"},{"ns":14,"title":"Category:Redirects from more specific geographic
        names"}]}}}}'
  recorded_at: Thu, 12 Jun 2014 19:38:53 GMT
recorded_with: VCR 2.9.2
