---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Philip%20Seymour%20Hoffman
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"564099|0|Saratoga_Springs,_New_York"}},"query":{"pages":{"564099":{"pageid":564099,"ns":0,"title":"Philip
        Seymour Hoffman","links":[{"ns":0,"title":"2002 Oakland Athletics season"},{"ns":0,"title":"2014
        Sundance Film Festival"},{"ns":0,"title":"25th Hour"},{"ns":0,"title":"60
        Minutes"},{"ns":0,"title":"81st Academy Awards"},{"ns":0,"title":"A.O. Scott"},{"ns":0,"title":"A
        Late Quartet"},{"ns":0,"title":"A Most Wanted Man (film)"},{"ns":0,"title":"Academy
        Award for Best Actor"},{"ns":0,"title":"Academy Award for Best Supporting
        Actor"},{"ns":0,"[...]
