---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Phoenix%20Theater
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"2606930":{"pageid":2606930,"ns":0,"title":"Phoenix
        Theater","links":[{"ns":0,"title":"AFI (band)"},{"ns":0,"title":"Adam Carson"},{"ns":0,"title":"Alice''s
        Adventures in Wonderland"},{"ns":0,"title":"Arrythmia"},{"ns":0,"title":"Bradley
        Nowell"},{"ns":0,"title":"Cerent Corporation"},{"ns":0,"title":"Circle Jerks"},{"ns":0,"title":"Clinic"},{"ns":0,"title":"Cockpit
        Theatre"},{"ns":0,"title":"Davey Havok"},{"ns":0,"title":"Disciples of Ed"},{"ns":0,"title":"Enrico
        Caruso"},{"ns":0,"title":"Escrow"},{"ns":0,"title":"Farallon (band)"}[...]
