---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Picture%20Perfect%20(1997%20film)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"6241436":{"pageid":6241436,"ns":0,"title":"Picture
        Perfect (1997 film)","links":[{"ns":0,"title":"20th Century Fox"},{"ns":0,"title":"Amelia
        Campbell"},{"ns":0,"title":"Andrea Bendewald"},{"ns":0,"title":"Anne Twomey"},{"ns":0,"title":"Arleen
        Sorkin"},{"ns":0,"title":"Bellina Logan"},{"ns":0,"title":"Carter Burwell"},{"ns":0,"title":"Clean
        and Sober"},{"ns":0,"title":"David Cromwell"},{"ns":0,"title":"Erwin Stoff"},{"ns":0,"title":"Faith
        Prince"},{"ns":0,"title":"Faran Tahir"},{"ns":0,"title":"Glenn Gordon Caron"},{"ns":0,"title":"Greg
      [...]
