---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Ponzi%20scheme
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"47185":{"pageid":47185,"ns":0,"title":"Ponzi scheme","links":[{"ns":0,"title":"Advance-fee
        fraud"},{"ns":0,"title":"Advance fee fraud"},{"ns":0,"title":"Allen Stanford"},{"ns":0,"title":"Aman
        Futures Group"},{"ns":0,"title":"Arbitrage"},{"ns":0,"title":"Art student
        scam"},{"ns":0,"title":"Avalanche (phishing group)"},{"ns":0,"title":"Badger
        game"},{"ns":0,"title":"Bait-and-switch"},{"ns":0,"title":"Bank run"},{"ns":0,"title":"Bernard
        Cornfeld"},{"ns":0,"title":"Black money scam"},{"ns":0,"title":"Bogus escrow"},{"ns[...]
