---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Primetime%20Emmy%20Award%20for%20Outstanding%20Lead%20Actor%20in%20a%20Miniseries%20or%20a%20Movie
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"4038261|0|Sam_Neill"}},"query":{"pages":{"4038261":{"pageid":4038261,"ns":0,"title":"Primetime
        Emmy Award for Outstanding Lead Actor in a Miniseries or a Movie","links":[{"ns":0,"title":"12
        Angry Men (1997 film)"},{"ns":0,"title":"1980 in television"},{"ns":0,"title":"1981
        in television"},{"ns":0,"title":"1982 in television"},{"ns":0,"title":"1983
        in television"},{"ns":0,"title":"1984 in television"},{"ns":0,"title":"1985
        in television"},{"ns":0,"title":"1986 in television"},{"ns":0,"title":"1987
        in television"},{"ns":0,"title":"1[...]
