---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Primetime%20Emmy%20Award
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"6579025":{"pageid":6579025,"ns":0,"title":"Primetime
        Emmy Award","links":[{"ns":0,"title":"10th Daytime Emmy Awards"},{"ns":0,"title":"10th
        Primetime Emmy Awards"},{"ns":0,"title":"11th Daytime Emmy Awards"},{"ns":0,"title":"11th
        Primetime Emmy Awards"},{"ns":0,"title":"12th Daytime Emmy Awards"},{"ns":0,"title":"12th
        Primetime Emmy Awards"},{"ns":0,"title":"13th Daytime Emmy Awards"},{"ns":0,"title":"13th
        Primetime Emmy Awards"},{"ns":0,"title":"14th Daytime Emmy Awards"},{"ns":0,"title":"14th
        Primetime Emmy Awards"},{"ns":0,"[...]
