---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Proposition%208
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"20111117":{"pageid":20111117,"ns":0,"title":"Proposition
        8","links":[{"ns":0,"title":"California Proposition 8 (2008)"}]}}}}'
  recorded_at: Thu, 12 Jun 2014 19:38:56 GMT
recorded_with: VCR 2.9.2
