---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Pyrates
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"3007262":{"pageid":3007262,"ns":0,"title":"Pyrates","links":[{"ns":0,"title":"1991
        in film"},{"ns":0,"title":"Act III Communications"},{"ns":0,"title":"AllMovie"},{"ns":0,"title":"Bruce
        Payne"},{"ns":0,"title":"Byrne Piven"},{"ns":0,"title":"Cinema of the United
        States"},{"ns":0,"title":"Clifford David"},{"ns":0,"title":"Comedy film"},{"ns":0,"title":"David
        Pressman"},{"ns":0,"title":"Deborah Falconer"},{"ns":0,"title":"English language"},{"ns":0,"title":"Internet
        Movie Database"},{"ns":0,"title":"Janusz Kami\u0144ski"},{"ns":0,"title":"Kevin
        Bacon"},{"ns":0,"title":"Kristin Dattilo"},{"ns":0,"title":"Kyra Sedgwick"},{"ns":0,"title":"Lionsgate"},{"ns":0,"title":"Mickey
        Jones"},{"ns":0,"title":"Peter Himmelman"},{"ns":0,"title":"Petra Verkaik"},{"ns":0,"title":"Pyrates
        (disambiguation)"},{"ns":0,"title":"Pyrokinesis"},{"ns":0,"title":"Raymond
        O''Connor"},{"ns":0,"title":"Rotten Tomatoes"},{"ns":0,"title":"Sex"},{"ns":0,"title":"Time
        Out (company)"},{"ns":0,"title":"Tom Adams (actor)"},{"ns":0,"title":"VHS"},{"ns":0,"title":"Vestron
        Video"},{"ns":4,"title":"Wikipedia:Stub"},{"ns":10,"title":"Template:1990s-romantic-comedy-film-stub"},{"ns":11,"title":"Template
        talk:1990s-romantic-comedy-film-stub"}]}}}}'
  recorded_at: Thu, 12 Jun 2014 19:38:57 GMT
recorded_with: VCR 2.9.2
