---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Ra%C3%BAl%20Juli%C3%A1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"347344":{"pageid":347344,"ns":0,"title":"Ra\u00fal
        Juli\u00e1","links":[{"ns":0,"title":"AFI''s 100 Years...100 Stars"},{"ns":0,"title":"Actors''
        Equity Association"},{"ns":0,"title":"Addams Family Values"},{"ns":0,"title":"Al
        Pacino"},{"ns":0,"title":"Alan Rickman"},{"ns":0,"title":"Albert Finney"},{"ns":0,"title":"Alec
        Guinness"},{"ns":0,"title":"Alfred Lunt"},{"ns":0,"title":"American Film Institute"},{"ns":0,"title":"American
        Playhouse"},{"ns":0,"title":"Andre Braugher"},{"ns":0,"title":"Anjelica Huston"},{"ns":0,"title":"Anthony[...]
