---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Rachel%20Blanchard
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"1485281":{"pageid":1485281,"ns":0,"title":"Rachel
        Blanchard","links":[{"ns":0,"title":"2008 Toronto International Film Festival"},{"ns":0,"title":"7th
        Heaven (TV series)"},{"ns":0,"title":"Actress"},{"ns":0,"title":"Adoration
        (film)"},{"ns":0,"title":"Alicia Silverstone"},{"ns":0,"title":"Anne of Green
        Gables: A New Beginning"},{"ns":0,"title":"Are You Afraid of the Dark?"},{"ns":0,"title":"Authority
        control"},{"ns":0,"title":"Biblioth\u00e8que nationale de France"},{"ns":0,"title":"Call
        Me Fitz"},{"ns":0,"title":"Canada"},{"ns":0,"title":"Cher Horowitz"},{"ns":0,"title":"Chris
        Cross (TV series)"},{"ns":0,"title":"Clarence (1990 film)"},{"ns":0,"title":"Clueless
        (TV series)"},{"ns":0,"title":"Clueless (film)"},{"ns":0,"title":"Comeback
        Season"},{"ns":0,"title":[...]
