---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Randy%20Quaid
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"325460":{"pageid":325460,"ns":0,"title":"Randy
        Quaid","links":[{"ns":0,"title":"1973 in film"},{"ns":0,"title":"87th Precinct"},{"ns":0,"title":"Aaron
        Paul"},{"ns":0,"title":"Academy Award for Best Supporting Actor"},{"ns":0,"title":"Academy
        Awards"},{"ns":0,"title":"Actor"},{"ns":0,"title":"Actors'' Equity Association"},{"ns":0,"title":"Al
        Pacino"},{"ns":0,"title":"Alan Rickman"},{"ns":0,"title":"Albert Finney"},{"ns":0,"title":"Amish"},{"ns":0,"title":"Anthony
        Andrews"},{"ns":0,"title":"BAFTA Award for Best Actor in a Supporting Role"},{"ns":0,"title":"Balls
        Out: Gary the Tennis Coach"},{"ns":0,"title":"Beau Bridges"},{"ns":0,"title":"Bellaire
        High School (Houston)"},{"ns":0,"title":"Bill Nighy"},{"ns":0,"title":"Black
        Cadillac (film)"},{"ns":0,"title":"Bloodhounds of Broadway (1989 film)"},{"ns":0,"title":"Bound
        for Glory (film)"},{"ns":0,"title":"Bowling"},{"ns":0,"title":"Breakout (1975
        film)"},{"ns":0,"title":"Brian Dennehy"},{"ns":0,"title":"British Academy
        of Film and Television Arts"},{"ns":0,"title":"Broad[...]
