---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Rebel%20Without%20a%20Cause
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"76040":{"pageid":76040,"ns":0,"title":"Rebel Without
        a Cause","links":[{"ns":0,"title":"55 Days at Peking"},{"ns":0,"title":"AFI''s
        100 Years... 100 Movie Quotes"},{"ns":0,"title":"AFI''s 100 Years... 100 Movies"},{"ns":0,"title":"A
        Streetcar Named Desire (1951 film)"},{"ns":0,"title":"A Woman''s Secret"},{"ns":0,"title":"Academy
        Award for Best Actor"},{"ns":0,"title":"Academy Award for Best Story"},{"ns":0,"title":"Academy
        Award for Best Supporting Actor"},{"ns":0,"title":"Academy Award for Best
        Supporting Actress"},{"ns":0[...]
