---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Richard%20Chamberlain
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"320723":{"pageid":320723,"ns":0,"title":"Richard
        Chamberlain","links":[{"ns":0,"title":"(They Long to Be) Close to You"},{"ns":0,"title":"A
        River Made to Drown In"},{"ns":0,"title":"Abe Burrows"},{"ns":0,"title":"Al
        Pacino"},{"ns":0,"title":"Alan Rickman"},{"ns":0,"title":"Albert Finney"},{"ns":0,"title":"All
        I Have to Do Is Dream"},{"ns":0,"title":"Allan Quatermain and the Lost City
        of Gold"},{"ns":0,"title":"American Broadcasting Company"},{"ns":0,"title":"Amy
        Irving"},{"ns":0,"title":"Angela Lansbury"},{"ns":0,"title":"An[...]
