---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Richard%20Dean%20Anderson
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"262533":{"pageid":262533,"ns":0,"title":"Richard
        Dean Anderson","links":[{"ns":0,"title":"200 (Stargate SG-1)"},{"ns":0,"title":"Actor"},{"ns":0,"title":"Aiden
        Ford"},{"ns":0,"title":"Air (Stargate Universe)"},{"ns":0,"title":"Air Force
        Association"},{"ns":0,"title":"AllMovie"},{"ns":0,"title":"Ancient (Stargate)"},{"ns":0,"title":"Ancient
        characters in Stargate"},{"ns":0,"title":"Ancient technology in Stargate"},{"ns":0,"title":"Angus
        MacGyver"},{"ns":0,"title":"Asgard (Stargate)"},{"ns":0,"title":"Asuran"},{"ns":0,"title":"Authority[...]
