---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Robert%20Duvall
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"161266|0|The_Betsy"}},"query":{"pages":{"161266":{"pageid":161266,"ns":0,"title":"Robert
        Duvall","links":[{"ns":0,"title":"2008 Republican National Convention"},{"ns":0,"title":"A
        Civil Action"},{"ns":0,"title":"A Family Thing"},{"ns":0,"title":"A View From
        the Bridge"},{"ns":0,"title":"Academy Award"},{"ns":0,"title":"Academy Award
        for Best Actor"},{"ns":0,"title":"Academy Award for Best Supporting Actor"},{"ns":0,"title":"Academy
        Awards"},{"ns":0,"title":"Academy award for best actor"},{"ns":0,"title":"Actors
        Studio"},{"ns":0[...]
