---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Robert%20Patrick
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"483765":{"pageid":483765,"ns":0,"title":"Robert
        Patrick","links":[{"ns":0,"title":"1st to Die"},{"ns":0,"title":"Academy Award"},{"ns":0,"title":"Actor"},{"ns":0,"title":"Alien
        Trespass"},{"ns":0,"title":"All the Pretty Horses (film)"},{"ns":0,"title":"Analysis
        of Cork-Based Networking"},{"ns":0,"title":"Army of Anyone"},{"ns":0,"title":"Asylum
        (1997 film)"},{"ns":0,"title":"Authority control"},{"ns":0,"title":"Autopsy
        (film)"},{"ns":0,"title":"Avatar: The Last Airbender"},{"ns":0,"title":"Avatar:
        The Last Airbender (se[...]
