---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Robert%20Carlyle
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"328687":{"pageid":328687,"ns":0,"title":"Robert
        Carlyle","links":[{"ns":0,"title":"24: Redemption"},{"ns":0,"title":"24 (TV
        series)"},{"ns":0,"title":"28 Weeks Later"},{"ns":0,"title":"Actor"},{"ns":0,"title":"Adolf
        Hitler"},{"ns":0,"title":"Al Pacino"},{"ns":0,"title":"Alan Rickman"},{"ns":0,"title":"Albert
        Finney"},{"ns":0,"title":"Alec Guinness"},{"ns":0,"title":"Allison Janney"},{"ns":0,"title":"American
        Beauty (1999 film)"},{"ns":0,"title":"Amy Irving"},{"ns":0,"title":"Andrew
        Johnston (critic)"},{"ns":0,"title":"A[...]
