---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Robin%20Williams
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"53242|0|Screen_Actors_Guild_Award_for_Outstanding_Performance_by_a_Male_Actor_in_a_Supporting_Role"}},"query":{"pages":{"53242":{"pageid":53242,"ns":0,"title":"Robin
        Williams","links":[{"ns":0,"title":"2010 Canterbury Earthquake"},{"ns":0,"title":"20th
        Century Fox"},{"ns":0,"title":"21st Saturn Awards"},{"ns":0,"title":"62nd
        Academy Awards"},{"ns":0,"title":"A.I. Artificial Intelligence"},{"ns":0,"title":"A
        Night at the Met"},{"ns":0,"title":"Academy Award"},{"ns":0,"title":"Academy
        Award for Best Actor"},{"ns":0,"title":"Academy Award for Best Supporting
        Actor"},{"ns":0,"title":"Academy Awards"},{"ns":0[...]
