---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=San%20Diego%20Comic-Con%20International
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"843158|0|Manga"}},"query":{"pages":{"843158":{"pageid":843158,"ns":0,"title":"San
        Diego Comic-Con International","links":[{"ns":0,"title":"1984 Summer Olympics"},{"ns":0,"title":"A.
        E. van Vogt"},{"ns":0,"title":"Aaron McGruder"},{"ns":0,"title":"Adam Hughes"},{"ns":0,"title":"Adam
        West"},{"ns":0,"title":"Adrian Tomine"},{"ns":0,"title":"Al Feldstein"},{"ns":0,"title":"Al
        Jaffee"},{"ns":0,"title":"Al Wiesner"},{"ns":0,"title":"Al Williamson"},{"ns":0,"title":"Alan
        Davis"},{"ns":0,"title":"Alan Dean Foster"},{"ns":0,"title":"Alan Mo[...]
