---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Satellite%20Award%20for%20Best%20Actor%20%E2%80%93%20Miniseries%20or%20Television%20Film
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"15397577":{"pageid":15397577,"ns":0,"title":"Satellite
        Award for Best Actor \u2013 Miniseries or Television Film","links":[{"ns":0,"title":"10th
        Satellite Awards"},{"ns":0,"title":"11th Satellite Awards"},{"ns":0,"title":"12th
        Satellite Awards"},{"ns":0,"title":"13th Satellite Awards"},{"ns":0,"title":"14th
        Satellite Awards"},{"ns":0,"title":"15th Satellite Awards"},{"ns":0,"title":"16th
        Satellite Awards"},{"ns":0,"title":"17th Satellite Awards"},{"ns":0,"title":"18th
        Satellite Awards"},{"ns":0,"title":"1st Golden Satellite Awards"},{"ns":0,"title":"2nd
        Golden Satellite Awards"},{"ns":0,"title":"3rd Golden Satellite Awards"},{"ns":0,"title":"4th
        Golden Satellite Awards"},{"ns":0,"title":"5th Golden Satellite Awards"},{"ns":0,"title":"6th
        Golden Satellite Awards"},{"ns":0,"title":"7th Golden Satellite Awards"},{"ns":0,"title":"8th
        Golden Satellite Awards"},{"ns":0,"title":"9th Golden Satellite Awards"},{"ns":0,"title":"A
        Lesson Before Dying (film)"},{"ns":0,"title":"Adam Clayton Powell, Jr."},{"ns":0,"title":"Adolf
        Hitler"},{"ns":0,"title":"Agatha Christie''s Poirot"},{"ns":0,"title":"Aidan
        Quinn"},{"ns":0,"title":"Al Pacino"},{"ns":0,"title":"Alan Rickman"},{"ns":0,"title":"Albert
        Finney"},{"ns":0,"title":"Alexander Haig"},{"ns":0,"title":"Alfred Blalock"},{"ns":0,"title":"Alfred
        Stieglitz"},{"ns":0,"title":"Always Outnumbered"},{"ns":0,"title":"Andre Braugher"},{"ns":0,"title":"Andy
        Garc\u00eda"},{"ns":0,"title":"Angels in America (miniseries)"},{"ns":0,"title":"Anne
        Frank: The Whole Story"},{"ns":0,"title":"Armand Assante"},{"ns":0,"title":"Band
        of Brothers (TV miniseries)"},{"ns":0,"title":"Barry Pepper"},{"ns":0,"title":"Barry
        Winchell"},{"ns":0,"title":"Beau Bridges"},{"ns":0,"title":"Ben Kingsley"},{"ns":0,"title":"Benedict
        Cumberbatch"},{"ns":0,"title":"Bernard and Doris"},{"ns":0,"title":"Bill Clinton"},{"ns":0,"title":"Bill
        Nighy"},{"ns":0,"title":"Bill Porter (salesman)"},{"ns":0,"title":"Bill W."},{"ns":0,"title":"Bleak
  [...]
