---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Satellite%20Award%20for%20Best%20Actor%20%E2%80%93%20Motion%20Picture%20Drama
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"34236096":{"pageid":34236096,"ns":0,"title":"Satellite
        Award for Best Actor \u2013 Motion Picture Drama","links":[{"ns":0,"title":"Satellite
        Award for Best Actor \u2013 Motion Picture"}]}}}}'
  recorded_at: Thu, 12 Jun 2014 19:39:02 GMT
recorded_with: VCR 2.9.2
