---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Saturn%20Award%20for%20Best%20Actor%20on%20Television
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"1101454":{"pageid":1101454,"ns":0,"title":"Saturn
        Award for Best Actor on Television","links":[{"ns":0,"title":"10th Saturn
        Awards"},{"ns":0,"title":"11th Saturn Awards"},{"ns":0,"title":"12th Saturn
        Awards"},{"ns":0,"title":"13th Saturn Awards"},{"ns":0,"title":"14th Saturn
        Awards"},{"ns":0,"title":"15th Saturn Awards"},{"ns":0,"title":"16th Saturn
        Awards"},{"ns":0,"title":"17th Saturn Awards"},{"ns":0,"title":"18th Saturn
        Awards"},{"ns":0,"title":"1996 in television"},{"ns":0,"title":"1997 in television"},{"ns":0,"title":"1998
        in televisi[...]
