---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Screen%20Actors%20Guild%20Award%20for%20Outstanding%20Performance%20by%20a%20Cast%20in%20a%20Motion%20Picture
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"3651358|0|Madeline_Kahn"}},"query":{"pages":{"3651358":{"pageid":3651358,"ns":0,"title":"Screen
        Actors Guild Award for Outstanding Performance by a Cast in a Motion Picture","links":[{"ns":0,"title":"10th
        Screen Actors Guild Awards"},{"ns":0,"title":"11th Screen Actors Guild Awards"},{"ns":0,"title":"12
        Years a Slave (film)"},{"ns":0,"title":"12th Screen Actors Guild Awards"},{"ns":0,"title":"13th
        Screen Actors Guild Awards"},{"ns":0,"title":"14th Screen Actors Guild Awards"},{"ns":0,"title":"15th
        Screen Actors Guild Awards"},{"ns":0,"title":[...]
