---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Screen%20Actors%20Guild%20Award%20for%20Outstanding%20Performance%20by%20a%20Male%20Actor%20in%20a%20Miniseries%20or%20Television%20Movie
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"4842037":{"pageid":4842037,"ns":0,"title":"Screen
        Actors Guild Award for Outstanding Performance by a Male Actor in a Miniseries
        or Television Movie","links":[{"ns":0,"title":"10th Screen Actors Guild Awards"},{"ns":0,"title":"11th
        Screen Actors Guild Awards"},{"ns":0,"title":"12 Angry Men (1997 film)"},{"ns":0,"title":"12th
        Screen Actors Guild Awards"},{"ns":0,"title":"13th Screen Actors Guild Awards"},{"ns":0,"title":"14th
        Screen Actors Guild Awards"},{"ns":0,"title":"15th Screen Actors Guild Awards"},{"ns":0,"title":"16th
        Screen Actors Guild Awards"},{"ns":0,"title":"17th Screen Actors Guild Awards"},{"ns":0,"title"[...]
