---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Sean%20Penn
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"113746|0|President_of_the_United_States"}},"query":{"pages":{"113746":{"pageid":113746,"ns":0,"title":"Sean
        Penn","links":[{"ns":0,"title":"11''09\"01 September 11"},{"ns":0,"title":"11''9\"01
        September 11"},{"ns":0,"title":"1997 Cannes Film Festival"},{"ns":0,"title":"2003
        invasion of Iraq"},{"ns":0,"title":"2010 Haiti earthquake"},{"ns":0,"title":"2011
        Cannes Film Festival"},{"ns":0,"title":"2011\u20132012 Syrian uprising"},{"ns":0,"title":"21
        Grams"},{"ns":0,"title":"46th Berlin International Film Festival"},{"ns":0,"title":"A
        Big Family"},{"ns"[...]
