---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Search%20for%20Tomorrow
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"706903":{"pageid":706903,"ns":0,"title":"Search
        for Tomorrow","links":[{"ns":0,"title":"Adam Storke"},{"ns":0,"title":"Agnes
        Nixon"},{"ns":0,"title":"Alison Steele"},{"ns":0,"title":"America Online"},{"ns":0,"title":"American
        Broadcasting Company"},{"ns":0,"title":"Andrew D. Weyman"},{"ns":0,"title":"Angela
        Bassett"},{"ns":0,"title":"Ann Marcus"},{"ns":0,"title":"Ann Williams (actress)"},{"ns":0,"title":"Anthony
        George"},{"ns":0,"title":"Art Wolff"},{"ns":0,"title":"As the World Turns"},{"ns":0,"title":"Audra
        Lindley"},{"ns"[...]
