---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Sebastian%20Shaw%20(comics)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"398166":{"pageid":398166,"ns":0,"title":"Sebastian
        Shaw (comics)","links":[{"ns":0,"title":"1980 in comics"},{"ns":0,"title":"Acolytes
        (comics)"},{"ns":0,"title":"Agatha Harkness"},{"ns":0,"title":"Age of Apocalypse"},{"ns":0,"title":"Alliance
        of Evil"},{"ns":0,"title":"Alpha Flight"},{"ns":0,"title":"Amanda Mueller"},{"ns":0,"title":"Anole
        (comics)"},{"ns":0,"title":"Apocalypse (comics)"},{"ns":0,"title":"Arcade
        (Marvel Comics)"},{"ns":0,"title":"Archangel (comics)"},{"ns":0,"title":"Ariel
        (comics)"},{"ns":0,"title":"Armor (com[...]
