---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Second%20Stage%20Theatre
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"7488256":{"pageid":7488256,"ns":0,"title":"Second
        Stage Theatre","links":[{"ns":0,"title":"59E59 Theaters"},{"ns":0,"title":"AUDELCO"},{"ns":0,"title":"A
        Soldier''s Play"},{"ns":0,"title":"Adam Bock"},{"ns":0,"title":"Alice Ripley"},{"ns":0,"title":"All
        New People (play)"},{"ns":0,"title":"Ally Sheedy"},{"ns":0,"title":"Alyssa
        Milano"},{"ns":0,"title":"Angela Bassett"},{"ns":0,"title":"Anna Camp"},{"ns":0,"title":"Annette
        Bening"},{"ns":0,"title":"Anthony Rapp"},{"ns":0,"title":"Arthur Kopit"},{"ns":0,"title":"Astor
        Place Theat[...]
