---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Shakespeare%20in%20Love
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"88075|0|Saints_&_Sinners_(2007_TV_series)"}},"query":{"pages":{"88075":{"pageid":88075,"ns":0,"title":"Shakespeare
        in Love","links":[{"ns":0,"title":"(Don''t Fear) The Reaper"},{"ns":0,"title":"12
        Years a Slave (film)"},{"ns":0,"title":"15-Minute Hamlet"},{"ns":0,"title":"1998
        New York Film Critics Circle Awards"},{"ns":0,"title":"30:e november"},{"ns":0,"title":"49th
        Berlin International Film Festival"},{"ns":0,"title":"52nd British Academy
        Film Awards"},{"ns":0,"title":"56th Golden Globe Awards"},{"ns":0,"title":"5th
        Screen Actors Guild Awards"},[...]
