---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=She's%20Having%20a%20Baby
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"1531941":{"pageid":1531941,"ns":0,"title":"She''s
        Having a Baby","links":[{"ns":0,"title":"101 Dalmatians (1996 film)"},{"ns":0,"title":"Alan
        Heim"},{"ns":0,"title":"Alec Baldwin"},{"ns":0,"title":"AllMovie"},{"ns":0,"title":"Allmusic"},{"ns":0,"title":"An
        Evening with Kevin Smith 2: Evening Harder"},{"ns":0,"title":"Baby''s Day
        Out"},{"ns":0,"title":"Beethoven (film)"},{"ns":0,"title":"Bill Erwin"},{"ns":0,"title":"Bill
        Murray"},{"ns":0,"title":"Bryan Ferry"},{"ns":0,"title":"Cameo appearance"},{"ns":0,"title":"Career
        Opportun[...]
