---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Simon%20Callow
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"170796":{"pageid":170796,"ns":0,"title":"Simon
        Callow","links":[{"ns":0,"title":"41st Berlin International Film Festival"},{"ns":0,"title":"A
        Room with a View (1986 film)"},{"ns":0,"title":"A Satire of the Three Estates"},{"ns":0,"title":"Ace
        Ventura: When Nature Calls"},{"ns":0,"title":"Acts of Godfrey"},{"ns":0,"title":"Agatha
        Christie''s Marple"},{"ns":0,"title":"Agatha Christie''s Poirot"},{"ns":0,"title":"Alan
        Titchmarsh"},{"ns":0,"title":"Albert Finney"},{"ns":0,"title":"Alex James
        (musician)"},{"ns":0,"title":"Allison Janney"},{"ns":0,"title":"Amadeus (film)"},{"ns":0,"title":"Ambassador
        Theatre Group"},{"ns":0,"title":"American Beauty (1999 film)"},{"ns":0,"title":"American
        Theatre Wing"},{"ns"[...]
