---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Six%20degrees%20of%20separation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"40117483":{"pageid":40117483,"ns":0,"title":"Six
        degrees of separation","links":[{"ns":0,"title":"AIM Pages"},{"ns":0,"title":"AOL"},{"ns":0,"title":"Aaron
        T. Beck"},{"ns":0,"title":"Abnormal psychology"},{"ns":0,"title":"Abraham
        Maslow"},{"ns":0,"title":"Adlerian psychology"},{"ns":0,"title":"Affective
        neuroscience"},{"ns":0,"title":"Affective science"},{"ns":0,"title":"Albert-Laszlo
        Barabasi"},{"ns":0,"title":"Albert Bandura"},{"ns":0,"title":"Albert Ellis"},{"ns":0,"title":"Albright
        College"},{"ns":0,"title":"Alfred Adler"},{"ns":0[...]
