---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Six%20Degrees%20of%20Kevin%20Bacon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"43607":{"pageid":43607,"ns":0,"title":"Six Degrees
        of Kevin Bacon","links":[{"ns":0,"title":"83rd Academy Awards"},{"ns":0,"title":"Actor"},{"ns":0,"title":"Al-Qaeda"},{"ns":0,"title":"Alan
        Bates"},{"ns":0,"title":"Albright College"},{"ns":0,"title":"Algorithm"},{"ns":0,"title":"Andy
        Gotts"},{"ns":0,"title":"Change of Habit"},{"ns":0,"title":"Character actor"},{"ns":0,"title":"Charitable
        organization"},{"ns":0,"title":"Check card"},{"ns":0,"title":"Christian Slater"},{"ns":0,"title":"Clint
        Eastwood"},{"ns":0,"title":"Co-stardom network"}[...]
