---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=SixDegrees.org
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"8988845":{"pageid":8988845,"ns":0,"title":"SixDegrees.org","links":[{"ns":0,"title":"BBC
        News"},{"ns":0,"title":"Broadcast Film Critics Association"},{"ns":0,"title":"Charity
        badge"},{"ns":0,"title":"Footloose (1984 film)"},{"ns":0,"title":"Kevin Bacon"},{"ns":0,"title":"Make
        a Difference Day"},{"ns":0,"title":"Network for good"},{"ns":0,"title":"SixDegrees.com"},{"ns":0,"title":"Six
        Degrees of Kevin Bacon"},{"ns":0,"title":"Small world phenomenon"},{"ns":0,"title":"The
        Belfast Telegraph"},{"ns":4,"title":"Wikipedia:Verifiability"},{"ns":10,"title":"Template:Refimprove"},{"ns":12,"title":"Help:Introduction
        to referencing/1"},{"ns":14,"title":"Category:Articles needing additional
        references from July 2013"}]}}}}'
  recorded_at: Thu, 12 Jun 2014 19:39:08 GMT
recorded_with: VCR 2.9.2
