---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Sleepers%20(film)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"725103":{"pageid":725103,"ns":0,"title":"Sleepers
        (film)","links":[{"ns":0,"title":"Academy Award"},{"ns":0,"title":"Alcohol
        abuse"},{"ns":0,"title":"An Everlasting Piece"},{"ns":0,"title":"Avalon (1990
        film)"},{"ns":0,"title":"Baltimore Pictures"},{"ns":0,"title":"Bandits (2001
        film)"},{"ns":0,"title":"Barry Levinson"},{"ns":0,"title":"Billy Crudup"},{"ns":0,"title":"Box
        Office Mojo"},{"ns":0,"title":"Brad Pitt"},{"ns":0,"title":"Brad Renfro"},{"ns":0,"title":"British
        Board of Film Classification"},{"ns":0,"title":"Bugs[...]
