---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Sosie%20Bacon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"24108842":{"pageid":24108842,"ns":0,"title":"Sosie
        Bacon","links":[{"ns":0,"title":"Actress"},{"ns":0,"title":"Brown University"},{"ns":0,"title":"Collaborative
        Arts Project 21 (CAP21)"},{"ns":0,"title":"David Bowie"},{"ns":0,"title":"Deputy
        Chief Brenda Leigh Johnson"},{"ns":0,"title":"Fiction in Photographs"},{"ns":0,"title":"Film
        Threat"},{"ns":0,"title":"Houston Chronicle"},{"ns":0,"title":"Internet Movie
        Database"},{"ns":0,"title":"James Duff (writer)"},{"ns":0,"title":"Kevin Bacon"},{"ns":0,"title":"Kyra
        Sedgwick"},{"ns":0,"title":"Life on Mars?"},{"ns":0,"title":"Loverboy (2005
        film)"},{"ns":0,"title":"Major Crimes"},{"ns":0,"title":"Miss Rose White"},{"ns":0,"title":"MovieWeb"},{"ns":0,"title":"New
        York (magazine)"},{"ns":0,"title":"Off-Broadway"},{"ns":0,"title":"Reuters"},{"ns":0,"title":"Special
        Agent Fritz Howard"},{"ns":0,"title":"TV Guide"},{"ns":0,"title":"The Closer"},{"ns":0,"title":"The
        Free Lance\u2013Star"},{"ns":0,"title":"The New York Times"},{"ns":0,"title":"The
        Philadelphia Inquirer"},{"ns":0,"title":"Theatre company"},{"ns":0,"title":"USA
        Today"},{"ns":4,"title":"Wikipedia:Persondata"}]}}}}'
  recorded_at: Thu, 12 Jun 2014 19:39:09 GMT
recorded_with: VCR 2.9.2
