---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Stacy%20Keach
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"499512":{"pageid":499512,"ns":0,"title":"Stacy
        Keach","links":[{"ns":0,"title":"1600 Penn"},{"ns":0,"title":"30 Rock"},{"ns":0,"title":"A
        Rumor of War (miniseries)"},{"ns":0,"title":"Academic degree"},{"ns":0,"title":"Actor"},{"ns":0,"title":"Ahna
        O''Reilly"},{"ns":0,"title":"Al Pacino"},{"ns":0,"title":"Alan Rickman"},{"ns":0,"title":"Albert
        Finney"},{"ns":0,"title":"Alcoholics Anonymous"},{"ns":0,"title":"Alec Baldwin"},{"ns":0,"title":"Alexander
        Payne"},{"ns":0,"title":"All the Kind Strangers"},{"ns":0,"title":"Allison
  [...]
