---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Stanley%20Tucci
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"454754":{"pageid":454754,"ns":0,"title":"Stanley
        Tucci","links":[{"ns":0,"title":"30 Rock"},{"ns":0,"title":"3 lbs."},{"ns":0,"title":"AT&T
        Wireless"},{"ns":0,"title":"A Life Less Ordinary"},{"ns":0,"title":"A Little
        Chaos"},{"ns":0,"title":"A Midsummer Night''s Dream (1999 film)"},{"ns":0,"title":"Aaron
        Paul"},{"ns":0,"title":"Abraham Erskine"},{"ns":0,"title":"Academy Award for
        Best Supporting Actor"},{"ns":0,"title":"Academy Awards"},{"ns":0,"title":"Actors''
        Equity"},{"ns":0,"title":"Adolf Eichmann"},{"ns":0,"title[...]
