---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Stephen%20Moyer
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"7254161":{"pageid":7254161,"ns":0,"title":"Stephen
        Moyer","links":[{"ns":0,"title":"88 Minutes"},{"ns":0,"title":"A Touch of
        Frost"},{"ns":0,"title":"Aaron Staton"},{"ns":0,"title":"Alexander Skarsg\u00e5rd"},{"ns":0,"title":"Alternate
        Endings (film)"},{"ns":0,"title":"Andrew Lincoln"},{"ns":0,"title":"Anna Camp"},{"ns":0,"title":"Anna
        Paquin"},{"ns":0,"title":"Anne Dudek"},{"ns":0,"title":"Authority control"},{"ns":0,"title":"Ben
        Browder"},{"ns":0,"title":"Biblioth\u00e8que nationale de France"},{"ns":0,"title":"Bill
        Co[...]
