---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Steven%20Weber%20(actor)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"3598269":{"pageid":3598269,"ns":0,"title":"Steven
        Weber (actor)","links":[{"ns":0,"title":"2 Broke Girls"},{"ns":0,"title":"A
        Fairly Odd Movie: Grow Up, Timmy Turner!"},{"ns":0,"title":"A Little Bit of
        Heaven (2011 film)"},{"ns":0,"title":"Alan Alda"},{"ns":0,"title":"Alcoholic"},{"ns":0,"title":"All
        Dogs Go to Heaven: The Series"},{"ns":0,"title":"American Broadcasting Company"},{"ns":0,"title":"American
        Dad!"},{"ns":0,"title":"An All Dogs Christmas Carol"},{"ns":0,"title":"Angels
        (1990 film)"},{"ns":0,"title":"As The World Tu[...]
