---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Steve%20Guttenberg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"724645":{"pageid":724645,"ns":0,"title":"Steve
        Guttenberg","links":[{"ns":0,"title":"A Novel Romance"},{"ns":0,"title":"Adam
        Carolla"},{"ns":0,"title":"Airborne (1998 film)"},{"ns":0,"title":"Amazon
        Women on the Moon"},{"ns":0,"title":"Anna Trebunskaya"},{"ns":0,"title":"Ashley
        Olsen"},{"ns":0,"title":"Authority control"},{"ns":0,"title":"Ay Lav Yu"},{"ns":0,"title":"Bad
        Medicine (film)"},{"ns":0,"title":"Beverly Hills"},{"ns":0,"title":"Biblioth\u00e8que
        nationale de France"},{"ns":0,"title":"Billy (1979 TV series)"},{"n[...]
