---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Steven%20Bauer
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"606932":{"pageid":606932,"ns":0,"title":"Steven
        Bauer","links":[{"ns":0,"title":"AMC (TV channel)"},{"ns":0,"title":"A Dark
        Truth"},{"ns":0,"title":"Action film"},{"ns":0,"title":"Actor"},{"ns":0,"title":"Albert
        Finney"},{"ns":0,"title":"Alfred Hitchcock Presents"},{"ns":0,"title":"AllMovie"},{"ns":0,"title":"Allison
        Janney"},{"ns":0,"title":"American Beauty (1999 film)"},{"ns":0,"title":"American
        Dad!"},{"ns":0,"title":"Amy Irving"},{"ns":0,"title":"Annette Bening"},{"ns":0,"title":"Antony
        Sher"},{"ns":0,"title":"Apo[...]
