---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Stir%20of%20Echoes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"1577984":{"pageid":1577984,"ns":0,"title":"Stir
        of Echoes","links":[{"ns":0,"title":"20th Century Fox"},{"ns":0,"title":"A
        Stir of Echoes"},{"ns":0,"title":"A World of Difference"},{"ns":0,"title":"A
        World of His Own"},{"ns":0,"title":"AllMovie"},{"ns":0,"title":"And When the
        Sky Was Opened"},{"ns":0,"title":"Artisan Entertainment"},{"ns":0,"title":"Asphyxia"},{"ns":0,"title":"Bid
        Time Return"},{"ns":0,"title":"Blood Son"},{"ns":0,"title":"Born of Man and
        Woman"},{"ns":0,"title":"Bram Stoker''s Dracula (1973 film)"},{"ns"[...]
