---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Taking%20Chance
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"21456612":{"pageid":21456612,"ns":0,"title":"Taking
        Chance","links":[{"ns":0,"title":"2009 Sundance Film Festival"},{"ns":0,"title":"61st
        Primetime Emmy Awards"},{"ns":0,"title":"A-10"},{"ns":0,"title":"Ann Dowd"},{"ns":0,"title":"Blanche
        Baker"},{"ns":0,"title":"Brad Krevoy"},{"ns":0,"title":"Chance Phelps"},{"ns":0,"title":"Crucifix"},{"ns":0,"title":"Danny
        Hoch"},{"ns":0,"title":"Dog tags"},{"ns":0,"title":"Dover Air Force Base"},{"ns":0,"title":"Enver
        Gjokaj"},{"ns":0,"title":"Felix Solis"},{"ns":0,"title":"First class (aviati[...]
