---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Ted%20Danson
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"217241":{"pageid":217241,"ns":0,"title":"Ted Danson","links":[{"ns":0,"title":"A
        Fine Mess (film)"},{"ns":0,"title":"Al Franken"},{"ns":0,"title":"Al Gore"},{"ns":0,"title":"Al
        Pacino"},{"ns":0,"title":"Alan Alda"},{"ns":0,"title":"Alan Rickman"},{"ns":0,"title":"Albert
        Finney"},{"ns":0,"title":"Alec Baldwin"},{"ns":0,"title":"American Broadcasting
        Company"},{"ns":0,"title":"American Comedy Award"},{"ns":0,"title":"American
        Comedy Awards"},{"ns":0,"title":"Anthony Andrews"},{"ns":0,"title":"Archaeologist"},{"ns":0,"[...]
