---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Teen%20Choice%20Awards
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"1506928":{"pageid":1506928,"ns":0,"title":"Teen
        Choice Awards","links":[{"ns":0,"title":"*NSYNC"},{"ns":0,"title":"1999 Teen
        Choice Awards"},{"ns":0,"title":"2000 Teen Choice Awards"},{"ns":0,"title":"2001
        Teen Choice Awards"},{"ns":0,"title":"2002 Teen Choice Awards"},{"ns":0,"title":"2003
        Teen Choice Awards"},{"ns":0,"title":"2004 Teen Choice Awards"},{"ns":0,"title":"2005
        Teen Choice Awards"},{"ns":0,"title":"2006 Teen Choice Awards"},{"ns":0,"title":"2007
        Teen Choice Awards"},{"ns":0,"title":"2008 Teen Choice Awards"},{"n[...]
