---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Telling%20Lies%20in%20America%20(film)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"15809711":{"pageid":15809711,"ns":0,"title":"Telling
        Lies in America (film)","links":[{"ns":0,"title":"Telling Lies in America"}]}}}}'
  recorded_at: Thu, 12 Jun 2014 19:39:13 GMT
recorded_with: VCR 2.9.2
