---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=The%20Birdcage
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"239589":{"pageid":239589,"ns":0,"title":"The Birdcage","links":[{"ns":0,"title":"AFI''s
        100 Years...100 Laughs"},{"ns":0,"title":"A Funny Thing Happened on the Way
        to the Forum"},{"ns":0,"title":"A Thin Line Between Love and Hate"},{"ns":0,"title":"Albert
        Finney"},{"ns":0,"title":"AllMovie"},{"ns":0,"title":"Allison Janney"},{"ns":0,"title":"American
        Beauty (1999 film)"},{"ns":0,"title":"American Film Institute"},{"ns":0,"title":"Amy
        Irving"},{"ns":0,"title":"Angels in America (TV miniseries)"},{"ns":0,"title":"Annett[...]
