---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=The%20Following
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"35807110":{"pageid":35807110,"ns":0,"title":"The
        Following","links":[{"ns":0,"title":"2012\u201313 United States network television
        schedule"},{"ns":0,"title":"2013\u201314 United States network television
        schedule"},{"ns":0,"title":"24: Live Another Day"},{"ns":0,"title":"24 (TV
        series)"},{"ns":0,"title":"39th Saturn Awards"},{"ns":0,"title":"40th Saturn
        Awards"},{"ns":0,"title":"4Kids TV"},{"ns":0,"title":"Adan Canto"},{"ns":0,"title":"American
        Idol"},{"ns":0,"title":"Annie Parisse"},{"ns":0,"title":"Annika Boras"},{"ns"[...]
