---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=The%20Guardian
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"19344515|0|National_Health_Service"}},"query":{"pages":{"19344515":{"pageid":19344515,"ns":0,"title":"The
        Guardian","links":[{"ns":0,"title":"1688 Bill of Rights"},{"ns":0,"title":"2003
        invasion of Iraq"},{"ns":0,"title":"2006 C\u00f4te d''Ivoire toxic waste dump"},{"ns":0,"title":"2010
        United Kingdom government formation"},{"ns":0,"title":"4oD"},{"ns":0,"title":"4seven"},{"ns":0,"title":"5*"},{"ns":0,"title":"5USA"},{"ns":0,"title":"7
        July 2005 London bombings"},{"ns":0,"title":"A.C. Grayling"},{"ns":0,"title":"A.
        J. P. Taylor"},{"ns":0,"title":"A Softer[...]
