---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=The%20Big%20Picture%20(1989%20film)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"2387940":{"pageid":2387940,"ns":0,"title":"The
        Big Picture (1989 film)","links":[{"ns":0,"title":"A Mighty Wind"},{"ns":0,"title":"AllMovie"},{"ns":0,"title":"Almost
        Heroes"},{"ns":0,"title":"Attack of the 50 Ft. Woman (1993 film)"},{"ns":0,"title":"Best
        in Show (film)"},{"ns":0,"title":"Christopher Guest"},{"ns":0,"title":"Columbia
        Pictures"},{"ns":0,"title":"Comedy film"},{"ns":0,"title":"Dan Schneider (TV
        producer)"},{"ns":0,"title":"David Puttnam"},{"ns":0,"title":"Don Franklin"},{"ns":0,"title":"Eddie
        Albert"},{"ns":0,"title":"El[...]
