---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=The%20Full%20Monty
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"142453":{"pageid":142453,"ns":0,"title":"The Full
        Monty","links":[{"ns":0,"title":"10th Empire Awards"},{"ns":0,"title":"11th
        Empire Awards"},{"ns":0,"title":"127 Hours"},{"ns":0,"title":"12 Years a Slave
        (film)"},{"ns":0,"title":"12th Empire Awards"},{"ns":0,"title":"13th Empire
        Awards"},{"ns":0,"title":"14th Empire Awards"},{"ns":0,"title":"15th Empire
        Awards"},{"ns":0,"title":"16th Empire Awards"},{"ns":0,"title":"17th Empire
        Awards"},{"ns":0,"title":"18th Empire Awards"},{"ns":0,"title":"1997 in film"},{"ns":0,"titl[...]
