---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=The%20New%20York%20Times
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"30680":{"pageid":30680,"ns":0,"title":"The New
        York Times","links":[{"ns":0,"title":"1962\u201363 New York City newspaper
        strike"},{"ns":0,"title":"41 Park Row"},{"ns":0,"title":"ABC News"},{"ns":0,"title":"ABC
        News Radio"},{"ns":0,"title":"Actual malice"},{"ns":0,"title":"Adobe AIR"},{"ns":0,"title":"Adobe
        Reader"},{"ns":0,"title":"Adolph Ochs"},{"ns":0,"title":"Agence France-Presse"},{"ns":0,"title":"Ahmed
        Chalabi"},{"ns":0,"title":"Akron Beacon Journal"},{"ns":0,"title":"Alternative
        media"},{"ns":0,"title":"Amarillo Gl[...]
