---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=The%20Woodsman
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"1605320":{"pageid":1605320,"ns":0,"title":"The
        Woodsman","links":[{"ns":0,"title":"Benjamin Bratt"},{"ns":0,"title":"Box
        Office Mojo"},{"ns":0,"title":"Carlos Leon"},{"ns":0,"title":"Child molestation"},{"ns":0,"title":"David
        Alan Grier"},{"ns":0,"title":"Deauville Film Festival"},{"ns":0,"title":"Drama
        film"},{"ns":0,"title":"Eve (entertainer)"},{"ns":0,"title":"Hannah Pilkes"},{"ns":0,"title":"Internet
        Movie Database"},{"ns":0,"title":"Kevin Bacon"},{"ns":0,"title":"Kevin Rice
        (model)"},{"ns":0,"title":"Kyra Sedgwick"[...]
