---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=The%20Times
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"39127|0|The_Wall_Street_Journal_Asia"}},"query":{"pages":{"39127":{"pageid":39127,"ns":0,"title":"The
        Times","links":[{"ns":0,"title":"1979 Energy Crisis"},{"ns":0,"title":"21st
        Century Fox"},{"ns":0,"title":"4oD"},{"ns":0,"title":"4seven"},{"ns":0,"title":"5*"},{"ns":0,"title":"5USA"},{"ns":0,"title":"Absolute
        80s"},{"ns":0,"title":"Absolute Radio"},{"ns":0,"title":"Absolute Radio 90s"},{"ns":0,"title":"Absolute
        Radio Extra"},{"ns":0,"title":"Advertising Standards Authority (United Kingdom)"},{"ns":0,"title":"Aki
        Riihilahti"},{"ns":0,"title":"Alexand[...]
