---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=The%20River%20Wild
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"4189858":{"pageid":4189858,"ns":0,"title":"The
        River Wild","links":[{"ns":0,"title":"8 Mile (film)"},{"ns":0,"title":"AFI''s
        100 Years...100 Heroes and Villains"},{"ns":0,"title":"Adventure film"},{"ns":0,"title":"American
        Sign Language"},{"ns":0,"title":"Architect"},{"ns":0,"title":"Bad Influence
        (film)"},{"ns":0,"title":"Benjamin Bratt"},{"ns":0,"title":"Blue Sky (film)"},{"ns":0,"title":"Chasing
        Mavericks"},{"ns":0,"title":"Chicago Sun Times"},{"ns":0,"title":"Colorado
        River"},{"ns":0,"title":"Crime film"},{"ns":0,"tit[...]
