---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Thora%20Birch
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"44442":{"pageid":44442,"ns":0,"title":"Thora Birch","links":[{"ns":0,"title":"Academy
        Award"},{"ns":0,"title":"Academy Award for Best Picture"},{"ns":0,"title":"Alaska
        (1996 film)"},{"ns":0,"title":"Albert Finney"},{"ns":0,"title":"AllMovie"},{"ns":0,"title":"All
        I Want for Christmas (film)"},{"ns":0,"title":"Allison Janney"},{"ns":0,"title":"Amen
        (TV series)"},{"ns":0,"title":"American Beauty (1999 film)"},{"ns":0,"title":"Amy
        Irving"},{"ns":0,"title":"Andrew Sarris"},{"ns":0,"title":"Annette Bening"},{"ns":0,"tit[...]
