---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Tim%20Daly
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"2177295":{"pageid":2177295,"ns":0,"title":"Tim
        Daly","links":[{"ns":0,"title":"501(c)(3)"},{"ns":0,"title":"A. R. Gurney"},{"ns":0,"title":"A
        House Divided (television film)"},{"ns":0,"title":"Actor of the Year in a
        New Series"},{"ns":0,"title":"Against the Ropes"},{"ns":0,"title":"Alan Rudolph"},{"ns":0,"title":"Alex
        Haley''s Queen"},{"ns":0,"title":"Alfred Hitchcock Presents"},{"ns":0,"title":"AllMovie"},{"ns":0,"title":"Almost
        Grown (TV series)"},{"ns":0,"title":"Almost Grown (television show)"},{"ns":0,"title":"American[...]
