---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Tom%20Hanks
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"43568|0|Portuguese-American"}},"query":{"pages":{"43568":{"pageid":43568,"ns":0,"title":"Tom
        Hanks","links":[{"ns":0,"title":"10th Empire Awards"},{"ns":0,"title":"11th
        Empire Awards"},{"ns":0,"title":"12818 Tomhanks"},{"ns":0,"title":"12th Empire
        Awards"},{"ns":0,"title":"13th Empire Awards"},{"ns":0,"title":"14th Empire
        Awards"},{"ns":0,"title":"15th Empire Awards"},{"ns":0,"title":"16th Empire
        Awards"},{"ns":0,"title":"17th Empire Awards"},{"ns":0,"title":"18th Empire
        Awards"},{"ns":0,"title":"1990s in film"},{"ns":0,"title":"19th [...]
