---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Tom%20Wilkinson
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"171630":{"pageid":171630,"ns":0,"title":"Tom Wilkinson","links":[{"ns":0,"title":"1998
        MTV Movie Awards"},{"ns":0,"title":"2000 U.S. Presidential Election"},{"ns":0,"title":"44
        Inch Chest"},{"ns":0,"title":"A Business Affair"},{"ns":0,"title":"A Good
        Woman (film)"},{"ns":0,"title":"A Number"},{"ns":0,"title":"Academy Award"},{"ns":0,"title":"Academy
        Award for Best Actor"},{"ns":0,"title":"Academy Award for Best Supporting
        Actor"},{"ns":0,"title":"Agatha Christie"},{"ns":0,"title":"Alan Arkin"},{"ns":0,"title":"Alan
   [...]
