---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Tomas%20Milian
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"4698423":{"pageid":4698423,"ns":0,"title":"Tomas
        Milian","links":[{"ns":0,"title":"A Day for Lionhearts"},{"ns":0,"title":"Abel
        Ferrara"},{"ns":0,"title":"Actors Studio"},{"ns":0,"title":"Adalberto Maria
        Merli"},{"ns":0,"title":"Albert Finney"},{"ns":0,"title":"Alberto Lattuada"},{"ns":0,"title":"Alberto
        Sordi"},{"ns":0,"title":"Aldo Fabrizi"},{"ns":0,"title":"Alessandro Gassman"},{"ns":0,"title":"Alessandro
        Haber"},{"ns":0,"title":"Alfredo De Villa"},{"ns":0,"title":"Allison Janney"},{"ns":0,"title":"American
        Beauty (1[...]
