---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Topher%20Grace
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"440000":{"pageid":440000,"ns":0,"title":"Topher
        Grace","links":[{"ns":0,"title":"40th Daytime Emmy Awards"},{"ns":0,"title":"A
        Many Splintered Thing"},{"ns":0,"title":"Albert Finney"},{"ns":0,"title":"Allison
        Janney"},{"ns":0,"title":"American Beauty (1999 film)"},{"ns":0,"title":"American
        Ultra"},{"ns":0,"title":"Amy Irving"},{"ns":0,"title":"Annette Bening"},{"ns":0,"title":"Antony
        Sher"},{"ns":0,"title":"Apollo 13 (film)"},{"ns":0,"title":"Ashton Kutcher"},{"ns":0,"title":"Atomic
        Tom"},{"ns":0,"title":"Authority co[...]
