---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Traffic%20(2000%20film)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"37599":{"pageid":37599,"ns":0,"title":"Traffic
        (2000 film)","links":[{"ns":0,"title":"20th Century Fox"},{"ns":0,"title":"73rd
        Academy Awards"},{"ns":0,"title":"A. O. Scott"},{"ns":0,"title":"Academy Award"},{"ns":0,"title":"Academy
        Award for Best Director"},{"ns":0,"title":"Academy Award for Best Picture"},{"ns":0,"title":"Academy
        Award for Best Supporting Actor"},{"ns":0,"title":"Academy Award for Film
        Editing"},{"ns":0,"title":"Academy Award for Writing Adapted Screenplay"},{"ns":0,"title":"Alan
        J. Pakula"},{"ns":0,"tit[...]
