---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Trapped%20(2002%20film)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"3116944":{"pageid":3116944,"ns":0,"title":"Trapped
        (2002 film)","links":[{"ns":0,"title":"Angel Eyes (film)"},{"ns":0,"title":"Bestseller"},{"ns":0,"title":"Born
        Yesterday (1993 film)"},{"ns":0,"title":"Charlize Theron"},{"ns":0,"title":"Colleen
        Camp"},{"ns":0,"title":"Columbia Pictures"},{"ns":0,"title":"Courtney Love"},{"ns":0,"title":"Crime
        film"},{"ns":0,"title":"Dakota Fanning"},{"ns":0,"title":"Diabetes"},{"ns":0,"title":"English
        language"},{"ns":0,"title":"Frederick Elmes"},{"ns":0,"title":"Gaby: A True
        Story"},{"ns":0,"title":"Gary Chalk (actor)"},{"ns":0,"title":"Greg Iles"},{"ns":0,"title":"Internet
        Movie Database"},{"ns":0,"title":"John Ottman"},{"ns":0,"title":"Kevin Bacon"},{"ns":0,"title":"Luis
        Mandoki"},{"ns":0,"title":"Message in a Bottle (film)"},{"ns":0,"title":"Novel"},{"ns":0,"title":"Patent"},{"ns":0,"title":"Piotr
        Sobocinski"},{"ns":0,"title":"Pruitt Taylor Vince"},{"ns":0,"title":"Rotten
        Tomatoes"},{"ns":0,"title":"Stuart Townsend"},{"ns":0,"title":"Thriller (genre)"},{"ns":0,"title":"Voces
        inocentes"},{"ns":0,"title":"When a Man Loves a Woman (film)"},{"ns":0,"title":"White
        Palace (film)"},{"ns":10,"title":"Template:Luis Mandoki"},{"ns":11,"title":"Template
        talk:Luis Mandoki"}]}}}}'
  recorded_at: Thu, 12 Jun 2014 19:39:20 GMT
recorded_with: VCR 2.9.2
