---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Tremors%20(film)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"433414":{"pageid":433414,"ns":0,"title":"Tremors
        (film)","links":[{"ns":0,"title":"Alexander Gruszynski"},{"ns":0,"title":"Amalgamated
        Dynamics"},{"ns":0,"title":"American Dad!"},{"ns":0,"title":"American Dad!
        (season 3)"},{"ns":0,"title":"Aqueduct (watercourse)"},{"ns":0,"title":"Ariana
        Richards"},{"ns":0,"title":"Back When We Were Grownups"},{"ns":0,"title":"Bibi
        Besch"},{"ns":0,"title":"Blu-Ray"},{"ns":0,"title":"Brent Maddock"},{"ns":0,"title":"Bulldozer"},{"ns":0,"title":"Burt
        Gummer"},{"ns":0,"title":"CB radio"},{[...]
