---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Trivia
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"1690736":{"pageid":1690736,"ns":0,"title":"Trivia","links":[{"ns":0,"title":"Arithmetic"},{"ns":0,"title":"Arnobius"},{"ns":0,"title":"Artes
        Liberales"},{"ns":0,"title":"Astronomy"},{"ns":0,"title":"Basic education"},{"ns":0,"title":"College"},{"ns":0,"title":"College
        Bowl"},{"ns":0,"title":"Columbia Daily Spectator"},{"ns":0,"title":"Columbia
        University"},{"ns":0,"title":"DMOZ"},{"ns":0,"title":"Early Modern English"},{"ns":0,"title":"Factoid"},{"ns":0,"title":"FunTrivia"},{"ns":0,"title":"Geometry"},{"ns":0,"title":"Grammar"},{[...]
