---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Typecasting%20(acting)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"641121":{"pageid":641121,"ns":0,"title":"Typecasting
        (acting)","links":[{"ns":0,"title":"Actor"},{"ns":0,"title":"Adam Sandler"},{"ns":0,"title":"Adam
        West"},{"ns":0,"title":"Airplane!"},{"ns":0,"title":"Batman"},{"ns":0,"title":"Batman
        (TV series)"},{"ns":0,"title":"Brat Pack (actors)"},{"ns":0,"title":"Brit
        Pack (actors)"},{"ns":0,"title":"Carmen"},{"ns":0,"title":"Casting (performing
        arts)"},{"ns":0,"title":"Central Casting"},{"ns":0,"title":"Character actor"},{"ns":0,"title":"Charlie
        Chaplin"},{"ns":0,"title":"Child actor[...]
