---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Upper%20West%20Side
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"327244|0|Turtle_Bay,_Manhattan"}},"query":{"pages":{"327244":{"pageid":327244,"ns":0,"title":"Upper
        West Side","links":[{"ns":0,"title":"103rd Street (IRT Broadway \u2013 Seventh
        Avenue Line)"},{"ns":0,"title":"110th Street (Manhattan)"},{"ns":0,"title":"112th
        Street"},{"ns":0,"title":"116th Street (Manhattan)"},{"ns":0,"title":"116th
        Street \u2013 Columbia University (IRT Broadway \u2013 Seventh Avenue Line)"},{"ns":0,"title":"125th
        Street (IRT Broadway \u2013 Seventh Avenue Line)"},{"ns":0,"title":"125th
        Street (Manhattan)"},{"ns":0,"tit[...]
