---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Val%20Kilmer
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"53327":{"pageid":53327,"ns":0,"title":"Val Kilmer","links":[{"ns":0,"title":"10th
        & Wolf"},{"ns":0,"title":"2005 Cannes Film Festival"},{"ns":0,"title":"2:22
        (2008 film)"},{"ns":0,"title":"50 Cent"},{"ns":0,"title":"5 Days of War"},{"ns":0,"title":"Adam
        Lambert"},{"ns":0,"title":"Aerospace"},{"ns":0,"title":"Al Pacino"},{"ns":0,"title":"Albert
        Brooks"},{"ns":0,"title":"Alexander (film)"},{"ns":0,"title":"American Bison"},{"ns":0,"title":"American
        Cowslip"},{"ns":0,"title":"American Idol"},{"ns":0,"title":"American[...]
