---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Ving%20Rhames
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"689567":{"pageid":689567,"ns":0,"title":"Ving Rhames","links":[{"ns":0,"title":"A
        Broken Life"},{"ns":0,"title":"Actor"},{"ns":0,"title":"Al Pacino"},{"ns":0,"title":"Alan
        Rickman"},{"ns":0,"title":"Albert Finney"},{"ns":0,"title":"American Gangster
        (TV series)"},{"ns":0,"title":"American Playhouse"},{"ns":0,"title":"American
        Tragedy (film)"},{"ns":0,"title":"Animal (2005 film)"},{"ns":0,"title":"Animal
        2"},{"ns":0,"title":"Anthony Andrews"},{"ns":0,"title":"Aquaman"},{"ns":0,"title":"Aquaman
        (TV program)"},{[...]
