---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Virtual%20International%20Authority%20File
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"25175562":{"pageid":25175562,"ns":0,"title":"Virtual
        International Authority File","links":[{"ns":0,"title":"Alexandria"},{"ns":0,"title":"Australia"},{"ns":0,"title":"Authority
        file"},{"ns":0,"title":"BIBSYS"},{"ns":0,"title":"Belgium"},{"ns":0,"title":"Berne"},{"ns":0,"title":"Biblioteca
        Nacional de Espa\u00f1a"},{"ns":0,"title":"Biblioteca Nacional de Portugal"},{"ns":0,"title":"Bibliotheca
        Alexandrina"},{"ns":0,"title":"Biblioth\u00e8que nationale de France"},{"ns":0,"title":"Brussels"},{"ns":0,"title":"Budapest"},{"ns":0,"title":"California"},{"ns":0,"titl[...]
