---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Wes%20Bentley
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"535081":{"pageid":535081,"ns":0,"title":"Wes Bentley","links":[{"ns":0,"title":"Albert
        Finney"},{"ns":0,"title":"Alcoholic"},{"ns":0,"title":"AllMovie"},{"ns":0,"title":"Allison
        Janney"},{"ns":0,"title":"Amber Tamblyn"},{"ns":0,"title":"American Beauty
        (1999 film)"},{"ns":0,"title":"Amy Irving"},{"ns":0,"title":"Annette Bening"},{"ns":0,"title":"Antagonist"},{"ns":0,"title":"Antony
        Sher"},{"ns":0,"title":"Apollo 13 (film)"},{"ns":0,"title":"Authority control"},{"ns":0,"title":"BAFTA
        Award for Best Actor in a Supporti[...]
