---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Where%20the%20Truth%20Lies
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"2645237":{"pageid":2645237,"ns":0,"title":"Where
        the Truth Lies","links":[{"ns":0,"title":"2005 Cannes Film Festival"},{"ns":0,"title":"2005
        Toronto International Film Festival"},{"ns":0,"title":"26th Genie Awards"},{"ns":0,"title":"Adoration
        (film)"},{"ns":0,"title":"Alison Lohman"},{"ns":0,"title":"Anamorphic widescreen"},{"ns":0,"title":"Ararat
        (film)"},{"ns":0,"title":"Art Blakey & The Jazz Messengers"},{"ns":0,"title":"Atom
        Egoyan"},{"ns":0,"title":"Ben Affleck"},{"ns":0,"title":"Ben Stiller"},{"ns":0,"title":"Blood,
        Sweat[...]
