---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Wild%20Things
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"423372":{"pageid":423372,"ns":0,"title":"Wild Things","links":[{"ns":0,"title":"AllMovie"},{"ns":0,"title":"Ashley
        Parker Angel"},{"ns":0,"title":"Bill Murray"},{"ns":0,"title":"Box Office
        Mojo"},{"ns":0,"title":"Carrie Snodgress"},{"ns":0,"title":"Coconut Grove,
        Florida"},{"ns":0,"title":"Columbia Pictures"},{"ns":0,"title":"Daphne Rubin-Vega"},{"ns":0,"title":"Defamation"},{"ns":0,"title":"Denise
        Richards"},{"ns":0,"title":"Direct-to-video"},{"ns":0,"title":"Elena Maganini"},{"ns":0,"title":"Erotic
        thriller"},{"ns"[...]
