---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=Will.i.am
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"1982061":{"pageid":1982061,"ns":0,"title":"Will.i.am","links":[{"ns":0,"title":"2001
        in music"},{"ns":0,"title":"2009 MTV Video Music Awards controversy"},{"ns":0,"title":"2009
        MuchMusic Video Awards"},{"ns":0,"title":"2NE1"},{"ns":0,"title":"3 Words"},{"ns":0,"title":"3
        Words (song)"},{"ns":0,"title":"5150: Home 4 tha Sick"},{"ns":0,"title":"A.
        R. Rahman"},{"ns":0,"title":"A Dream (Common song)"},{"ns":0,"title":"Above
        the Law (group)"},{"ns":0,"title":"Adam Rodr\u00edguez"},{"ns":0,"title":"Adrianne
        Palicki"},{"ns":0,"title":"African American"},{"ns":0,"title":"Aisha Tyler"},{"ns":0,"title":"Akon"},{"ns":0,"title":"Alan
        Carr: Chatty Man"},{"ns":0,"title":"Alice Barlow"},{"ns":0,"title":"Alicia
        Keys"},{"ns":0,"title":"Alive (The Black Eyed Peas song)"},{"ns":0,"title":"All
        My Life (In the Ghetto)"},{"ns":0,"title":"Allan Pineda"},{"ns":0,"title":"Amber
        Valletta"},{"ns":0,"title":"America''s Song"},{"ns":0,"title":"American Idol"},{"ns":0,"title":"American
        Music Award"},{"ns":0,"title":"Anderson Cooper"},{"ns":0,"title":"Andrea Begley"},{"ns":0,"title":"Anjunabeats"},{"ns":0,"title":"An[...]
