---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=William%20H.%20Macy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"398602":{"pageid":398602,"ns":0,"title":"William
        H. Macy","links":[{"ns":0,"title":"1984 in film"},{"ns":0,"title":"2012 Toronto
        International Film Festival"},{"ns":0,"title":"55th Primetime Emmy Awards"},{"ns":0,"title":"A
        Civil Action (film)"},{"ns":0,"title":"A Midsummer Night''s Dream"},{"ns":0,"title":"A
        Single Shot"},{"ns":0,"title":"Abby Mann"},{"ns":0,"title":"Abi Morgan"},{"ns":0,"title":"Above
        Suspicion (1995 film)"},{"ns":0,"title":"Academy Award"},{"ns":0,"title":"Academy
        Award for Best Supporting Actor"},{"n[...]
