---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=WorldCat
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query":{"pages":{"1339871":{"pageid":1339871,"ns":0,"title":"WorldCat","links":[{"ns":0,"title":"Batch
        processing"},{"ns":0,"title":"Bibliography"},{"ns":0,"title":"Fred Kilgour"},{"ns":0,"title":"Interlibrary
        loan"},{"ns":0,"title":"Library"},{"ns":0,"title":"Margalit Fox"},{"ns":0,"title":"Online
        Computer Library Center"},{"ns":0,"title":"Online public access catalog"},{"ns":0,"title":"The
        Guardian"},{"ns":0,"title":"The New York Times"},{"ns":0,"title":"Uniform
        resource locator"},{"ns":0,"title":"Union catalog"},{"ns":14,"title":"Category:Articles
        containing potentially dated statements from January 2014"}]}}}}'
  recorded_at: Thu, 12 Jun 2014 19:39:25 GMT
recorded_with: VCR 2.9.2
