---
http_interactions:
- request:
    method: get
    uri: http://en.wikipedia.org/w/api.php?action=query&format=json&pllimit=500&prop=links&titles=YouTube
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"query-continue":{"links":{"plcontinue":"3524766|0|John_Doerr"}},"query":{"pages":{"3524766":{"pageid":3524766,"ns":0,"title":"YouTube","links":[{"ns":0,"title":"1080p"},{"ns":0,"title":"111
        Eighth Avenue"},{"ns":0,"title":"16:9"},{"ns":0,"title":"2004 Indian Ocean
        earthquake and tsunami"},{"ns":0,"title":"2012 diplomatic missions attacks"},{"ns":0,"title":"2013
        YouTube Music Awards"},{"ns":0,"title":"3D film"},{"ns":0,"title":"3GP and
        3G2"},{"ns":0,"title":"4:3"},{"ns":0,"title":"4K resolution"},{"ns":0,"title":"56.com"},{"ns":0,"title":"720p"},{"ns":0,"title":"7digital"},{"ns":0,"title[...]
